﻿@model Planetshakers.Events.Models.CallListViewModel

@using (Html.BeginForm("Update", "Administration", FormMethod.Post))
{
    <table border="1" cellpadding="10" class="large-12 columns">
        <tr>
            <td>Contact ID: </td>
            <td>@Model.SelectedCallItem.Contact_ID</td>
        </tr>
        <tr>
            <td>Full Name: </td>
            <td>@Model.SelectedCallItem.FirstName @Model.SelectedCallItem.LastName</td>
        </tr>
        <tr>
            <td>Mobile: </td>
            <td href="tel:@Model.SelectedCallItem.Mobile">@Model.SelectedCallItem.Mobile</td>
        </tr>
        <tr>
            <td>Current Status: </td>
            <td>@Model.SelectedCallItem.CurrentStatus</td>
        </tr>
        <tr>
            <td>New Status: </td>
            <td>@Html.DropDownListFor(m => m.SelectedCallStatus, Model.StatusOptions, "Select New Status")</td>
        </tr>
        <tr>
            <td>Current Comment:</td>
            <td>@Model.SelectedCallItem.Comment</td>
        </tr>
        <tr>
            <td>New Comment:</td>
            <td>@Html.TextAreaFor(m => m.NewComment, new { Value = @Model.SelectedCallItem.Comment })</td>
        </tr>
        
        <tr>
            <td colspan="2">
                @Html.HiddenFor(m => m.SelectedContactID, new { Value = Model.SelectedCallItem.Contact_ID })
                @Html.HiddenFor(m => m.SelectedListOption, new { Value = Model.SelectedListOption})
                @Html.HiddenFor(m => m.SelectedCampus_ID, new { Value = Model.SelectedCampus_ID})
                @Html.HiddenFor(m => m.SelectedMinistry_ID, new { Value = Model.SelectedMinistry_ID })
                @Html.HiddenFor(m => m.range, new { Value = Model.range })
                <input type="submit" value="Save" formaction="/Administration/Save" />
                <input type="submit" value="Cancel" formaction="/Administration/CallList" />
            </td>
        </tr>
    </table>
}

