﻿@model Planetshakers.Events.Models.SponsorshipManagementModel

@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
    var Contact_ID = CurrentContext.Instance.User.ContactID;
    var adminAccess = Planetshakers.Events.Controllers.AdministrationController.HasAdminAccess(Contact_ID);
}


<div id="Edit_@Model.SelectedSponsorship.VariablePaymentID" class="modal fade text-black-100" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Edit Sponsorship</h3><br />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" style="border:1px solid #e3e6f0">
                    <tr>
                        <th>Variable Payment ID</th>
                        <td>@Model.SelectedSponsorship.VariablePaymentID</td>
                    </tr>
                    <tr>
                        <th>Full Name</th>
                        <td>@Model.SelectedSponsorship.FullName</td>
                    </tr>
                    <tr>
                        <th>Donor/Recipient</th>
                        @if (Model.SelectedSponsorship.Donor)
                        {
                            <td>Donor</td>
                        }
                        else if (Model.SelectedSponsorship.Recipient)
                        {
                            <td>Recipient</td>
                        }
                    </tr>
                    <tr>
                        <th>Trip</th>
                        <td>@Html.DropDownListFor(x => Model.SelectedSponsorship.Conference_ID, Model.ConferenceList, new { @class = "form-control", @id = "SelectedEvent", @onchange = "CheckCurrency()", @disabled = "disabled" })</td>
                    </tr>
                    <tr>
                        <th>Payment Type</th>
                        <td>@Model.SelectedSponsorship.PaymentType</td>
                    </tr>
                    <tr>
                        <th>Payment Amount (<span id="currency">@Model.SelectedSponsorship.Currency</span>)</th>
                        <td>@Model.SelectedSponsorship.PaymentAmount.ToString("00.00") @Html.Hidden("PaymentAmount", Model.SelectedSponsorship.PaymentAmount.ToString("00.00"), new { @id = "PaymentAmount" })</td>
                    </tr>
                    <tr>
                        <th>CCTransaction Ref.</th>
                        <td>@Model.SelectedSponsorship.CCTransactionRef</td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>@Html.TextAreaFor(x => Model.SelectedSponsorship.Comment, new { @class = "form-control", @id = "Comment" })</td>
                    </tr>
                    <tr>
                        <th>Payment Date</th>
                        <td>@Model.SelectedSponsorship.PaymentDate</td>
                    </tr>
                    @if (adminAccess)
                    {

                        <tr>
                            <th>Payment By</th>
                            <td>@Model.SelectedSponsorship.PaymentByName</td>
                        </tr>
                        <tr>
                            <th>Mobile</th>
                            <td>@Model.SelectedSponsorship.PaymentByMobile</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@Model.SelectedSponsorship.PaymentByEmail</td>
                        </tr>
                        <tr>
                            <th>Anonymous</th>
                            <td>
                                @if ((bool)Model.SelectedSponsorship.Anonymous)
                                {
                                    <i style="color: green;" class="fas fa-check"></i>
                                }
                                else
                                {
                                    <i style="color: red;" class="fas fa-times"></i>
                                }
                            </td>
                        </tr>
                    }
                </table>
                <div class="row">
                    @*@if (Model.SelectedSponsorship.Donor)
        {
            <div class="col-3">
                @using (Html.BeginForm("TransferSponsorship", "Administration", FormMethod.Post))
                {
                    <input name="VariablePayment_ID" value="@Model.SelectedSponsorship.VariablePaymentID" hidden />
                    <button class="btn btn-secondary btn-block" type="submit">Transfer</button>
                }
            </div>
        }
        else
        {
            <div class="col-3">

            </div>
        }*@
                    <div class="col-3"> </div>
                    <div class="col-2"> </div>
                    <div class="col-4">
                        @if (adminAccess)
                        {
                            if (Model.SelectedSponsorship.Donor)
                            {
                                if (Model.Refunded || Model.RemovedAllocation)
                                {
                                    <input id='refund_btn' class='btn btn-secondary' type='submit' value='Unallocated and Refunded' disabled />
                                }
                                else if (Model.removeBtn)
                                {
                                    <button class="btn btn-danger btn-block" type="button" onclick="RemoveVariablePayment(@Model.SelectedSponsorship.VariablePaymentID)">Remove</button>
                                }
                                else
                                {
                                    <button class="btn btn-danger btn-block" type="button" onclick="ShowRemoveConfirmation(@Model.SelectedSponsorship.VariablePaymentID, 1)">Unallocate and Refund</button>

                                }
                            }
                            else if (Model.SelectedSponsorship.Recipient)
                            {
                                if (Model.RemovedAllocation || Model.Refunded)
                                {
                                    <input id='refund_btn' class='btn btn-secondary' type='submit' value='Unallocated and Refunded' disabled />
                                }
                                else if (Model.removeBtn)
                                {
                                    <button class="btn btn-danger btn-block" type="button" onclick="RemoveVariablePayment(@Model.SelectedSponsorship.VariablePaymentID)">Remove</button>
                                }
                                else
                                {
                                    <button class="btn btn-danger btn-block" type="button" onclick="ShowRemoveConfirmation(@Model.SelectedSponsorship.VariablePaymentID, 0)">Unallocate and Refund</button>

                                }
                            }
                        }
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary btn-block" type="button" onclick="UpdateSponsorship(@Model.SelectedSponsorship.VariablePaymentID)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>