﻿@model Planetshakers.Events.Models.TransferViewModel

@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="row my-2">
    <div class="col-lg-12">

        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <h4>Transfer Group Purchase </h4>
                @if (Model.TransferGroupRegoOption.Count > 0)
                {
                    using (Html.BeginForm("TransferGroupRegistration", "Administration", FormMethod.Post, new { @class = "form-group", @id = "TransferGroupForm" }))
                    {
                        <div class="row mb-2">
                            <div class="col-lg-12">

                                <table class="table table-bordered" id="TransferGroupRegoTable">
                                    <thead>
                                        <tr>
                                            <th>Registration Type</th>
                                            <th>Transfer quantity</th>
                                            <th>Available quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var regoType in Model.TransferGroupRegoOption)
                                        {
                                            <tr>
                                                <td>@regoType.RegistrationType</td>
                                                <td>@Html.TextBox("rego_" + regoType.RegistrationType_ID, 0, new { @id = "rego_" + regoType.RegistrationType_ID, @name= "rego_"+regoType.RegistrationType_ID, @class = "form-control" })</td>
                                                <td id="unallocated_@regoType.RegistrationType_ID">@regoType.UnallocatedQty</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>

                            <div class="col-lg-12">
                                <label>Comment:</label>
                                @Html.TextAreaFor(x => x.Comment, new { @class = "form-control" })
                            </div>

                            <input id="transferFromID" name="TransferFromID" hidden value="@Model.ContactId" />
                            <input id="transferToID" name="TransferToID" hidden value="" />
                            <input id="conferenceID" name="Conference_ID" hidden value="@Model.Conference_ID" />

                            <div class="col-lg-2 my-2">
                                <button class="btn btn-primary" type="button" onclick="showRefundConfirm()">Transfer</button>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <p>There is no unallocated ticket available.</p>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</div>
<div id="ConfirmRefundModal" class="modal fade text-black-100" aria-labelledby="purchase" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Refund</h5><br />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        Are you sure to proceed the refund?
                           
                        @if (Model.isSystemTransfer)
                        {
                            <div></div>
                            <div>
                                NOTE: This person has System Transfer. Please ensure the records are correct
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-primary" type="button" onclick="CheckTransferGroup()">Yes</button>
            </div>
        </div>
    </div>
</div>


