﻿@model Planetshakers.Events.Models.TransferViewModel

@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="row my-2">
    <div class="col-lg-12">

        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <h4>Transfer Registration </h4>
                <div class="row mb-2">
                    <div class="col-lg-12">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Reg. ID</th>
                                    <th>Type</th>
                                    <th>Reg. Date</th>
                                    <th>Reg. Type</th>
                                    <th>Priority Type</th>
                                    <th>Volunteer</th>
                                    <th>Attended</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.selectedRegistration.ID</td>
                                    @if (Model.selectedRegistration.HasGroup)
                                    {
                                        <td>Group</td>
                                    }
                                    else
                                    {
                                        <td>Single</td>
                                    }
                                    <td>@Model.selectedRegistration.RegistrationDate</td>
                                    <td>@Model.selectedRegistration.RegoType</td>
                                    <td>@Model.selectedRegistration.PriorityType</td>
                                    <td>
                                        @if (Model.selectedRegistration.Volunteer)
                                        {<i class="fa fa-check"></i>}
                                    </td>
                                    <td>
                                        @if (Model.selectedRegistration.Attended)
                                        {<i class="fa fa-check"></i>}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                @using (Html.BeginForm("TransferSingleRegistration", "Administration", FormMethod.Post, new { @class = "row form-group", @id = "TransferSingleForm" }))
                {
                    <div class="col-lg-12">
                        <label>Comment:</label>
                        @Html.TextAreaFor(x => x.Comment, new { @class = "form-control" })
                    </div>
                    <input name="TransferFromID" hidden value="@Model.ContactId"/>
                    <input id="transferToID" name="TransferToID" hidden value=""/>
                    <input name="Registration_ID" hidden value="@Model.selectedRegistration.ID"/>
                    <input name="Conference_ID" hidden value="@Model.Conference_ID"/>
                    <div class="col-lg-2 my-2">
                        <button class="btn btn-primary" type="button" onclick="CheckTransferSingle()">Transfer</button>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

