﻿@model Planetshakers.Events.Models.TransferViewModel

@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="row my-2">
    <div class="col-lg-12">

        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <h4>Transfer Sponsorship Payment </h4>
                @if (Model.selectedSponsorship.PaymentAmount > 0)
                {
                    using (Html.BeginForm("TransferSponsorshipPayment", "Administration", FormMethod.Post, new { @class = "form-group", @id = "TransferSponsorshipPaymentForm" }))
                    {
                        <div class="row mb-2">
                            <div class="col-lg-12">

                                <table class="table table-bordered" id="TransferSponsorshipTable">
                                    <thead>
                                        <tr>
                                            <th>Conference Name</th>
                                            <th>Transfer from</th>
                                            <th>Transfer amount (@Model.selectedSponsorship.Currency)</th>
                                            <th>Available amount (@Model.selectedSponsorship.Currency)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.ConferenceName</td>
                                            <td>@Model.selectedSponsorship.FullName</td>
                                            <td>
                                                @Html.TextBox("transferAmount", 0,
                                                new
                                                {
                                                    @id = "transferAmount",
                                                    @name = "transferAmount",
                                                    @class = "form-control"
                                                })
                                            </td>
                                            <td id="maxSponsorshipAmount">@Model.selectedSponsorship.PaymentAmount.ToString("0.00")</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="col-lg-12">
                                <label>Comment:</label>
                                @Html.TextAreaFor(x => x.Comment, new { @class = "form-control" })
                            </div>

                            <input id="variablePaymentID" hidden value="@Model.selectedSponsorship.VariablePaymentID" />
                            <input id="transferFromID" name="TransferFromID" hidden value="@Model.ContactId" />
                            <input id="transferToID" name="TransferToID" hidden value="" />

                            <div class="col-lg-2 my-2">
                                <button class="btn btn-primary" type="button" onclick="CheckTransferSponsorship()">Transfer</button>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <p>There is no sponsorship amount available.</p>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</div>

