﻿@model Planetshakers.Events.Models.AllocationViewModel
@{
                /**/

                Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Conference Allocation</h3>
        </div>
    </div>
</div>

<div>
    @using (Html.BeginForm("SearchContactAllocation", "Administration", FormMethod.Post, new { @class="form-group row mx-3" }))
    {
        <div class="col-lg-9">
            @Html.TextBox("query", "", new { @placeholder = "Name or Email", @class="form-control" })
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Search" class="btn btn-primary btn-block" />
        </div>
    }
</div>

<div>
    <div class="row mx-3 form-group">
        @if (Model.searchList != null)
        {
            <div class="col-lg-12">
                <table style="width:100%" class="table table-bordered">
                    <tr class="table-active">
                        <th>Full Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    @foreach (var c in Model.searchList)
                    {
                        <tr>
                            @using (Html.BeginForm("Allocate", "Administration", FormMethod.Post))
                            {
                                <td>@c.FirstName @c.LastName</td>
                                <td>@c.ContactNumber</td>
                                <td>@c.Email</td>
                                @Html.HiddenFor(m => m.Contact_ID, new { Value = c.Id })
                                <td><input type="submit" value="Select" class="btn btn-primary btn-block" /></td>
                            }
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <div class="col-lg-12">
                <p><strong>No results found.</strong></p>
            </div>
        }
    </div>
    
</div>

<div>
    @if (Model.Contact_ID > 0)
    {
        using (Html.BeginForm("Allocate", "Administration", FormMethod.Post, new { @class = "form-group row mx-3" }))
        {
            <div class="col-lg-12">
                @Html.DropDownListFor(m => m.Venue_ID, Model.EventList, "Select Trip", new { @class= "form-control" })
            </div>
            if (Model.Venue_ID > 0)
            {
                <div class="col-lg-12">
                    <br />
                    <table style="width:100%" class="table table-bordered">
                        <thead class="table-active">
                            <tr>
                                <th>Registration Type</th>
                                <th>Allocated</th>
                                <th>Unallocated</th>
                            </tr>
                        </thead>

                        <tbody id="unallocatedRegistrationType">
                            @foreach (var r in Model.unallocatedRegoList)
                            {
                                <tr>
                                    <td>@r.RegistrationType</td>
                                    <td>@r.Allocated</td>
                                    <td>@r.Unallocated</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <br />

                    <table style="width:100%" class="table table-bordered">
                        <thead class="table-active">
                            <tr>
                                <th>Registration ID</th>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                            </tr>
                        </thead>

                        <tbody id="allocatedRegistration">
                            @foreach (var r in Model.AllocatedRegoList)
                            {
                                <tr>
                                    <td>@r.ID</td>
                                    <td>@r.FirstName @r.LastName</td>
                                    <td>@r.Mobile</td>
                                    <td>@r.Email</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <br />
                </div>

                <div class="col-lg-6" id="registrationTypeSelect">
                    @Html.DropDownListFor(m => m.RegistrationType_ID, Model.AvailableRegistrationTypeList, "Select Registration Type", new { @class="form-control" })
                    <br />
                </div>
                <div class="col-lg-6">
                    @Html.DropDownListFor(m => m.SelectedOption, Model.AllocateOption, "Select Option", new { @class = "form-control" })
                    <br />
                </div>
            }
            <br />
            <div class="col-lg-12">
                @Html.HiddenFor(m => m.Contact_ID, new { Value = Model.Contact_ID })
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>

        }
    }
</div>