﻿@model Planetshakers.Events.Models.SelfAllocateModel
@{
    /**/

    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

        <div class="col-lg-12 border-bottom">
            <div>
                <h3>Conference Registration</h3>
            </div>
        </div>
</div>


    <div class="row my-3">
        <div class="col-lg-7">
            <h4>Do you want to allocate to this person?</h4>
        </div>
        <div class="col-lg-5" style="padding-top: 15px;">
            <input type="checkbox" id="selfAllocateChose" />
        </div>
    </div>

    @using (Html.BeginForm("SelfAllocate", "Administration", FormMethod.Post, new { }))
    {
        <div id="selfAllcoteSection" style="display: none;" class="row my-3">
            <div class="col-lg-12" id="registrationTypeSelect">
                <label>Select Registration Type: <span class="redstar" style="color: red">*</span></label><br /><br />
                @Html.DropDownListFor(m => m.RegistrationType_ID, Model.AvailableRegistrationTypeList, "Select Registration Type", new { @id = "selfAllocateRegoType", required = "required", @class="form-control" })
            </div>
            <br />
            <div id="selfAllocatedAttended" class="col-lg-12" style="display: none;">
                <br />
                <label>Attended?  </label><span>@Html.CheckBoxFor(m => m.Attended, new { })</span>
                <br /><br />
            </div>
            <br />
            @Html.HiddenFor(m => m.Conference_ID)
            @Html.HiddenFor(m => m.Venue_ID)
            @Html.HiddenFor(m => m.Contact_ID)

            <div class="col-lg-10"></div>
            <div class="col-lg-2 my-2">
                <button class="btn btn-primary btn-block" type="submit">Allocate</button>
            </div>
            <br />
        </div>

    }
    <div class="row my-3">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <button onclick="window.location.href = '@Url.Action("RegistrationSuccess", "Administration")'" id="continueRegistrationSuccess" class="btn btn-primary btn-block">Continue</button>
        </div>
    </div>


    
    



