﻿@using System.Data
@using System.Globalization
@model Planetshakers.Events.Models.ChildEnrolmentFormModel
@{
    ViewBag.Title = "Child Enrolment Form";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

<div class="row">

    <div class="col-lg-12 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>

</div>
<div>
    @using (Html.BeginForm("GenerateChildEnrolmentForm", "Administration", FormMethod.Post, new { @class= "row mx-3 form-group" }))
    {
        <div class="col-lg-10">
            <label>Trip:</label>
            <span>@Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class="form-control" })</span>
        </div>

        <div id="reportGenerateBtn" class="col-lg-2">
            <input type="submit" class="btn btn-primary" value="Generate Report" style="margin-top: 25px;">
        </div>
    }
</div>

@if (Model.generateResult)
{
    <div>
        <div class="row mx-3">
            <div class="col-lg-12">
                <table id="generatedChildEnrolmentFormTable" class="table table-bordered">
                    <thead class="table-active">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Parent Name</th>
                            <th>Parent Mobile</th>
                            <th>Signed By</th>
                            <th>Signed Date</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>


                        @*@foreach (var ef in Model.ChildEnrolmentFormList)
                        {
                            <tr>
                                <td>@ef.FirstName</td>
                                <td>@ef.LastName</td>
                                <td>@ef.ChildEnrolmentForm.ParentName</td>
                                <td>@ef.ChildEnrolmentForm.ParentMobile</td>
                                <td>@ef.SignedByName</td>
                                @if (ef.ChildEnrolmentForm.DateSigned != null)
                                {
                                    <td>@(((DateTime)ef.ChildEnrolmentForm.DateSigned).ToString("yyyy-MM-dd"))</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#open_@ef.ChildEnrolmentForm.ChildEnrolment_ID">Details</button>
                                    <div id="open_@ef.ChildEnrolmentForm.ChildEnrolment_ID" class="modal fade text-black-100" tab-index="-1" aria-hidden="true" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3>Child Enrolment Form Details</h3><br />
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                </div>
                                                <div class="modal-body">

                                                    <table class="table table-striped" style="border:1px solid #e3e6f0">
                                                        <col width="30%" />
                                                        <col width="70%" />
                                                        <thead>

                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th>First Name</th>
                                                                <td>@ef.FirstName</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Last Name</th>
                                                                <td>@ef.LastName</td>
                                                            </tr>
                                                            @if (ef.DateOfBirth != null)
                                                            {
                                                                <tr>
                                                                    <th>Date of Birth</th>
                                                                    <td>@(((DateTime)ef.DateOfBirth).ToString("yyyy-MM-dd"))</td>
                                                                </tr>
                                                            }
                                                            <tr>
                                                                <th>Registration Type</th>
                                                                <td>@ef.RegistrationType</td>
                                                            </tr>

                                                            <tr>
                                                                <th>Child School Grade</th>
                                                                <td>@ef.ChildSchoolGrade</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Parent Name</th>
                                                                <td>@ef.ChildEnrolmentForm.ParentName</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Parent Email</th>
                                                                <td>@ef.ChildEnrolmentForm.ParentEmail</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Parent Mobile</th>
                                                                <td>@ef.ChildEnrolmentForm.ParentMobile</td>

                                                            </tr>
                                                            <tr>
                                                                <th>Emergency Contact Name</th>
                                                                <td>@ef.ChildEnrolmentForm.EmergencyContactName</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Emergency Contact Number</th>
                                                                <td>@ef.ChildEnrolmentForm.EmergencyContactNumber</td>

                                                            </tr>
                                                            <tr>
                                                                <th>Emergency Contact Relationship</th>
                                                                <td>@ef.ChildEnrolmentForm.EmergencyContactRelationship</td>

                                                            </tr>
                                                            @if (ef.ChildEnrolmentForm.EmergencyContactName2 != null)
                                                            {
                                                                <tr>
                                                                    <th>Emergency Contact Name 2</th>
                                                                    <td>@ef.ChildEnrolmentForm.EmergencyContactName2</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Emergency Contact Number 2</th>
                                                                    <td>@ef.ChildEnrolmentForm.EmergencyContactNumber2</td>

                                                                </tr>
                                                                <tr>
                                                                    <th>Emergency Contact Relationship 2</th>
                                                                    <td>@ef.ChildEnrolmentForm.EmergencyContactRelationship2</td>
                                                                </tr>
                                                            }
                                                            @if (ef.ChildEnrolmentForm.Comments != null)
                                                            {
                                                                <tr>
                                                                    <th>Comments</th>
                                                                    <td>@ef.ChildEnrolmentForm.Comments</td>
                                                                </tr>
                                                            }
                                                            <tr>
                                                                <th>Signed By</th>
                                                                <td>@ef.SignedByName</td>
                                                            </tr>
                                                            @if (ef.ChildEnrolmentForm.DateSigned != null)
                                                            {
                                                                <tr>
                                                                    <th>Signed Date</th>
                                                                    <td>@(((DateTime)ef.ChildEnrolmentForm.DateSigned).ToString("yyyy-MM-dd"))</td>
                                                                </tr>
                                                            }
                                                        </tbody>

                                                    </table>
                                                    <br />

                                                    <br />
                                                    <h3>Question and Answer</h3>
                                                    <table class="table table-striped" style="border:1px solid #e3e6f0">
                                                        <col width="30%" />
                                                        <col width="70%" />
                                                        <thead>
                                                            <tr>
                                                                <th>Question</th>
                                                                <th>Answer</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var q in ef.ChildQuestions)
                                                            {
                                                                <tr>
                                                                    <th>@q.Question</th>
                                                                    <td>@ef.ChildAnswer.Find(x => x.Question_ID == q.Question_ID).Answer</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>


            </div>
        </div>
    </div>

    
}
