﻿@model Planetshakers.Events.Models.EmergencyContactViewModel
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "EmergencyContact";
}
<script type="text/javascript">
    $(document).ready(function () {
        var strIconSearch = "<i class='fas fa-search'></i>";
        var table = $("#EmergencyContactDataTable").DataTable({
            "pageLength": 10,
            fixedHeader: {
                header: true,
                footer: true
            },
            language: {
                search: strIconSearch
            },
            cache: false,
            responsive: false,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            paging: true,
            searching: true,
            info: false,
            scrollCollapse: true,
            autoWidth: true,
            order: [[0, "asc"]],
            scrollY: 500,
            "scrollX": true,
            "bInfo": true
        });

        $('#EmergencyContactDataTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
        $('#EmergencyContactDataTable_paginate').addClass("mt-3 mt-md-2");

        table.columns.adjust().draw();
        table.responsive.recalc();
    });
    function viewDetail(contacat_ID) {
        $.ajax({
            cache: false,
            type: "GET",
            url: 'getEmergencyContactDetails',
            data: { "Contact_ID": contacat_ID },
            success: function (json) {
                $("#viewECmodal").modal("show")
                $("#ContactDetailBody").html(json[0])
                $("#EmergencyDetailBody").html(json[1])
                $("#medicalDetailBody").html(json[2])
            },
            error: function () {
                alert("No results returned");
            }
        });
    }

</script>
<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Emergency Contact</h3>
        </div>
    </div>

</div>
<div class="row mb-2 form-group">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow pl-0">
                @using (Html.BeginForm("SearchEmergencyContact", "Administration", FormMethod.Post, new { @class = "row mx-3 form-group" }))
                {
                    <div class="col-4 pl-0">
                        <label>Select Trip:</label>
                        @Html.DropDownListFor(m => m.Event_ID, Model.EventList, "-- Select Trip --", new { @class = "form-control" })
                    </div>

                    <div class="col-4">
                        <button class="btn btn-primary mt-4" type="submit">Search</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row mb-2 form-group">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow">
                @if (Model.ContactList != null)
                {
                    <div class="row">
                        <div class="col-lg-2 col-5 col-md-3 col-sm-5" style="padding-left: 28px; padding-right: 0px">
                            @using (Html.BeginForm("ExportCSV_EmergencyContact", "Administration", FormMethod.Post))
                            {
                               @Html.Hidden("Event_ID")
                                <input type="submit" class="btn btn-primary" value="Export to CSV" />
                            }
                        </div>
                        <div class="col-lg-2 col-5 col-md-3 col-sm-5" style="padding-left: 28px; padding-right: 0px">
                            @using (Html.BeginForm("exportExcel_EmergencyContact", "Administration", FormMethod.Post))
                            {
                               @Html.Hidden("Event_ID")
                                <input type="submit" class="btn btn-primary" value="Export to Excel" />
                            }
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <table style="width:100%" class="table table-bordered" id="EmergencyContactDataTable">
                            <thead>
                                <tr class="table-active">
                                    <th>Full Name</th>
                                    <th>Campus</th>
                                    <th>Ministry</th>
                                    <th>ULG</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var c in Model.ContactList)
                                {
                                    <tr>

                                        <td>@c.FirstName @c.LastName</td>
                                        <td>@c.Campus</td>
                                        <td>@c.Ministry</td>
                                        @if (c.ULG != null)
                                        {
                                            <td>@c.ULG.Code - @c.ULG.Name</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td><button class="btn btn-primary" onclick="viewDetail(@c.Contact_ID)">View Details</button></td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="col-lg-12">
                        <p><strong>No results found.</strong></p>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div id="viewECmodal" class="modal fade" aria-labelledby="voucher" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class='modal-title'>Emeregency Contact</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Contact Detail
                <table class="table table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="ContactDetailBody">
                    </tbody>
                </table>
                Emergency Detail
                <table class="table table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Relationship</th>
                        </tr>
                    </thead>
                    <tbody id="EmergencyDetailBody">
                    </tbody>
                </table>
                Additional Details
                <table class="table table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Medical Information</th>
                            <th>Allergic Information</th>
                            <th>Accessibility Information</th>
                        </tr>
                    </thead>
                    <tbody id="medicalDetailBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

