﻿@model Planetshakers.Events.Models.AllocationViewModel
@{
    ViewBag.Title = "Existing Allocation";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Conference Allocation | Existing </h3>
        </div>
    </div>
</div>

<div>
    <div class="row mx-3">

        @if (Model.SuccessMessage != null)
        {
            <div class="col-lg-12">
                <div class="alert alert-success">
                    <strong>@Model.SuccessMessage</strong>
                </div>
            </div>

        }
    </div>
    <div class="row mx-3">
        <div class="col-lg-12">
            <p>Full Name:  <strong>@Model.ContactName</strong></p>
            <p>Conference: <strong>@Model.ConferenceName</strong></p>
            <p>Type: <strong>@Model.RegistrationType</strong></p>
        </div>
    </div>


    @if (Model.Contact_ID > 0 && Model.Venue_ID > 0)
    {
        <div class="row mx-3">
            <div class="col-lg-12">
                <table style="width:100%" class="table table-bordered">
                    <tr class="table-active">
                        <th>Registration Type</th>
                        <th>Allocated</th>
                        <th>Unallocated</th>
                    </tr>
                    @foreach (var r in Model.unallocatedRegoList)
                    {
                        <tr>
                            <td>@r.RegistrationType</td>
                            <td>@r.Allocated</td>
                            <td>@r.Unallocated</td>
                        </tr>
                    }
                </table>

                <br />
                <table style="width:100%" class="table table-bordered">
                    <tr class="table-active">
                        <th>Registration ID</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                    </tr>
                    @foreach (var r in Model.AllocatedRegoList)
                    {
                        <tr>
                            <td>@r.ID</td>
                            <td>@r.FirstName @r.LastName</td>
                            <td>@r.Mobile</td>
                            <td>@r.Email</td>
                        </tr>
                    }
                </table>
                <br />
            </div>

        </div>
       

        if (Model.TotalUnallocated <= 0)
        {
            <div class="row mx-3">
                <div class="col-lg-12">
                    <strong>No remaining allocations available.</strong>
                </div>
            </div>
            
        }
        else
        {

            using (Html.BeginForm("SearchContactAllocation", "Administration", FormMethod.Post, new { @class = "form-group row mx-3" }))
            {

                <div class="col-lg-9">
                    @Html.TextBox("query", "", new { @class = "form-control" })
                </div>


                <div class="col-lg-3">
                    @Html.HiddenFor(m => m.Contact_ID, new { Value = Model.Contact_ID })
                    @Html.HiddenFor(m => m.Venue_ID, new { Value = Model.Venue_ID })
                    @Html.HiddenFor(m => m.RegistrationType_ID, new { Value = Model.RegistrationType_ID })
                    @Html.HiddenFor(m => m.SelectedOption, new { Value = Model.SelectedOption })
                    <input type="submit" value="Search" class="btn btn-primary btn-block" />
                </div>

                <br />
            }
                <div class="row mx-3">
                    @if (Model.searchList != null)
                    {
                    <div class="col-lg-12">
                        <table style="width:100%" class="table table-bordered">
                            <tr class="table-active">
                                <th>Full Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Attended?</th>
                                <th></th>
                            </tr>
                            @foreach (var c in Model.searchList)
                            {
                                <tr>
                                    @using (Html.BeginForm("AllocateExisting", "Administration", FormMethod.Post, new { @id = "form_" + c.Id }))
                                    {
                                        <td>@c.FirstName @c.LastName</td>
                                        <td>@c.ContactNumber</td>
                                        <td>@c.Email</td>
                                        <td>@Html.CheckBoxFor(m => m.NewAttended)</td>

                                        @Html.HiddenFor(m => m.Contact_ID, new { Value = Model.Contact_ID })
                                        @Html.HiddenFor(m => m.Venue_ID, new { Value = Model.Venue_ID })
                                        @Html.HiddenFor(m => m.RegistrationType_ID, new { Value = Model.RegistrationType_ID })
                                        @Html.HiddenFor(m => m.SelectedOption, new { Value = Model.SelectedOption })
                                        @Html.HiddenFor(m => m.Allocation_ID, new { Value = c.Id })
                                        <td>
                                            <input type="button" value="Select" class="btn btn-primary btn-block" onclick="checkRegistered(@c.Id, @Model.Venue_ID)" />
                                            <div id="addExistedAllocation_@c.Id" class="modal fade text-black-100" aria-labelledby="purchase" tab-index="-1" aria-hidden="true" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Existing Allocation</h5><br />
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    This person has an existing allocation. Do you still want to allocate another registration to this person?
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary btn-block" data-dismiss="modal" aria-label="Close">No</button>
                                                            <button onclick="submitForm(@c.Id)" class="btn btn-primary btn-block mt-0">Yes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        </table>
                    </div>
                    }
                    else
                    {
                        <div class="col-lg-12">
                            <p><strong>No results found.</strong></p>
                        </div>
                    }
                </div>

           

        }
    }
    <br />
    <div class="row mx-3">
        <div class="col-lg-12">
            <a href="@Url.Action("Allocations", "Administration")" class="btn btn-primary">Back</a>
        </div>
    </div>


</div>


    

