﻿@model Planetshakers.Events.Models.AllocationViewModel
@{
    ViewBag.Title = "New Alloction";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<script type="text/javascript">
    $("#allocationForm").ready(function () {
        document.getElementById("allocationForm").reset();
    });
</script>

<div class="row">
    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Conference Allocation | New </h3>
        </div>
    </div>
</div>

<div>
    <div class="row mx-3 form-group">
        <div class="col-lg-12">
            @if (Model.SuccessMessage != null)
            {


                <div class="alert alert-success">
                    <strong>@Model.SuccessMessage</strong>
                </div>
                <br />


            }
            <div class="row mb-2">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body shadow">
                            <p>Person:  <strong>@Model.ContactName</strong></p>
                            <p>Conference: <strong>@Model.ConferenceName</strong></p>
                            <p>Type: <strong>@Model.RegistrationType</strong></p>
                            <br />
                            @if (Model.Contact_ID > 0 && Model.Venue_ID > 0)
                            {

                                <table class="table table-bordered" style="width:100%">
                                    <tr>
                                        <th>Registration Type</th>
                                        <th>Allocated</th>
                                        <th>Unallocated</th>
                                    </tr>
                                    @foreach (var r in Model.unallocatedRegoList)
                                    {
                                        <tr>
                                            <td>@r.RegistrationType</td>
                                            <td>@r.Allocated</td>
                                            <td>@r.Unallocated</td>
                                        </tr>
                                    }
                                </table>
                                <br />
                                <table class="table table-bordered" style="width:100%">
                                    <tr>
                                        <th>Registration ID</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                    </tr>
                                    @foreach (var r in Model.AllocatedRegoList)
                                    {
                                        <tr>
                                            <td>@r.ID</td>
                                            <td>@r.FirstName @r.LastName</td>
                                            <td>@r.Mobile</td>
                                            <td>@r.Email</td>
                                        </tr>
                                    }
                                </table>
                                <br />
                            }
                            @if (Model.TotalUnallocated <= 0)
                            {


                                <strong>No remaining allocations available.</strong>
                                <br />

                            }
                            else
                            {

                                using (Html.BeginForm("AllocateNew", "Administration", FormMethod.Post, new { id = "allocationForm" }))
                                {
                                    @Html.LabelFor(m => m.NewFirstName) @Html.TextBoxFor(m => m.NewFirstName, new { required = "required", @class = "form-control" })<br />
                                    @Html.LabelFor(m => m.NewLastName) @Html.TextBoxFor(m => m.NewLastName, new { required = "required", @class = "form-control" })<br />
                                    @Html.LabelFor(m => m.NewMobile) @Html.TextBoxFor(m => m.NewMobile, new { @class = "form-control" })<br />
                                    @Html.LabelFor(m => m.NewEmail) @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control" })<br />
                                    @Html.LabelFor(m => m.NewAttended)<span>  </span> @Html.CheckBoxFor(m => m.NewAttended, new {  })<br />
                                    <div class="row my-2"></div>
                                    @Html.HiddenFor(m => m.Contact_ID, new { Value = Model.Contact_ID })
                                    @Html.HiddenFor(m => m.Venue_ID, new { Value = Model.Venue_ID })
                                    @Html.HiddenFor(m => m.RegistrationType_ID, new { Value = Model.RegistrationType_ID })

                                    <input id="submitNew" type="submit" value="Submit" class="btn btn-primary btn-block" /><br />
                                }

                            }

                        </div>
                    </div>
                </div>
            </div>
           
            <a href="@Url.Action("Allocations", "Administration")" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>
  







