﻿@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Registration Administration</h3>
        </div>
    </div>
</div>

<div>
    <div class="row mx-3 form-group" >
        <div class="col-lg-6">
            <a href="@Url.Action("Allocations","Administration")" class="btn btn-large btn-primary btn-block py-4 my-2 my-lg-0" style="font-size: 2rem;">Allocation</a>
        </div>
        <div class="col-lg-6">
            <a href="@Url.Action("Registrations","Administration")" class="btn btn-large btn-primary btn-block py-4 my-2 my-lg-0" style="font-size: 2rem;">Registration</a>
        </div>
    </div>
</div>
        


