﻿@model Planetshakers.Events.Models.PurchaseViewModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Conference Registration</h3>
        </div>
    </div>
</div>

<div>
    @using (Html.BeginForm("SearchContact", "Administration", FormMethod.Post, new { @class = "row mx-3 form-group" }))
    {
        <div class="col-lg-9">
            @Html.TextBox("query", "", new { @placeholder = "Name or Email", @class = "form-control" })
        </div>
        <div class="col-lg-3 my-2 my-lg-0">
            <input type="submit" value="Search" class="btn btn-primary btn-block" />
        </div>
    }

</div>

<div>
    <div class="row mx-3 form-group">
        @if (Model.searchList != null)
        {
            <div class="col-lg-12">
                <table style="width:100%" class="table table-bordered">
                    <tr class="table-active">
                        <th>Full Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    @foreach (var c in Model.searchList)
                    {
                        <tr>
                            @using (Html.BeginForm("Register", "Administration", FormMethod.Post))
                            {
                                <td>@c.FirstName @c.LastName</td>
                                <td>@c.ContactNumber</td>
                                <td>@c.Email</td>
                                @Html.HiddenFor(m => m.selectedID, new { Value = c.Id })
                                <td><input type="submit" value="Select" class="btn btn-primary btn-block" /> </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <div class="col-lg-12">
                <p><strong>No results found.</strong></p>
                <a href="@Url.Action("RegisterNew", "Administration")" class="btn btn-primary">New Person</a>
            </div>
        }
    </div>

</div>


<div>
    @if (Model.selectedID != 0)
    {

        using (Html.BeginForm("Register", "Administration", FormMethod.Post, new { @class = "row mx-3 form-group", @id="addRegistrationForm" }))
        {
            <div class="col-lg-12">
                @Html.DropDownListFor(m => m.selectedEvent, Model.event_list, "Select Trip", new { @id = "selectedConferenceRegistrationType", @class = "form-control" })
                <br />
            </div>

            if (Model.selectedEvent > 0)
            {
                <div class="col-lg-12">
                    <table style="width:100%" class="table table-bordered">
                        <thead class="table-active">
                            <tr>
                                <th>Registration Type</th>
                                <th>Price (@Model.currency)</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="conferenceRegistrationType">
                            @for (int i = 0; i < Model.rego_type_list.Count; i++)
                            {
                                <tr>
                                    <td>@Model.rego_type_list[i].RegistrationType</td>
                                    <td id="RegoCost_@Model.rego_type_list[i].RegistrationType_ID">@Model.rego_type_list[i].RegistrationCost.ToString("0.00")</td>
                                    <td> @Html.TextBoxFor(m => m.qty[i], new { @id = "RegoQTYtxt_" + Model.rego_type_list[i].RegistrationType_ID, @class = "form-control", @onchange = "calculatePrice(" + Model.rego_type_list[i].RegistrationType_ID + ")" })</td>
                                    <td id="RegoTotal_@Model.rego_type_list[i].RegistrationType_ID" class="rowtotal">0.00</td>

                                </tr>
                            }

                            <tr>
                                <td colspan="3">Grand Total</td>
                                <td id="RegoGrandTotal">0.0</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="col-lg-12">
                    @Html.DropDownListFor(m => m.selectedPaymentType, Model.payment_type_list, "Select Payment Type", new { @class = "form-control required", @id = "regselectpaymenttype" })
                    <div id="alertMessage" class="redstar" style="display: none">Enter payment type.</div>
                    <br />
                </div>                
                <div class="col-lg-12">
                    @Html.LabelFor(m => m.Comments)
                    @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
                    <br />
                </div>

            }

            @Html.HiddenFor(m => m.selectedEvent, new { Value = Model.selectedEvent })
            @Html.HiddenFor(m => m.selectedID, new { Value = Model.selectedID })

            <div class="col-lg-12">
                <button id="submitRegistration" onclick="submitConferenceRego(event)" class="btn btn-primary btn-block mt-0">Submit</button>
            </div>
        }

    }

</div>

<script>

    //Quick add registration, changing display through ajax dropdown selection of conference
    $("#selectedConferenceRegistrationType").change(function () {
        var conf_ID = $("#selectedConferenceRegistrationType").val();
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Administration/ConferenceRegistrationType",
            data: { "Conference_ID": conf_ID },
            success: function (json) {
                html = "";
                for (i = 0; i < json.regoTypeList.length; i++) {
                    var regotype = json.regoTypeList[i];
                    html += "<tr><td>" + regotype.name +
                        "</td><td  id='RegoCost_" + regotype.id + "'>" + regotype.cost + ".00" + "</td>" +
                        "<td><input data-val='true' data-val-number='The field Int32 must be a number.'" +
                        " data-val-required='The Int32 field is required.' class='form-control' id='RegoQTYtxt_" + regotype.id + "' name = 'qty[" + i + "]' type = 'text' value = '0' onchange='calculatePrice(" + regotype.id + ")'></td><td id='RegoTotal_" + regotype.id + "' class='rowtotal'>0.00</td></tr>";
                }
                if (json.regoTypeList.length > 0) {
                    html += "<tr><td colspan='3'>Grand Total</td> <td id='RegoGrandTotal'>0.0</td></tr>"
                }
                $("#conferenceRegistrationType").html("");
                $("#conferenceRegistrationType").append(html);
            },
            error: function () {
            }
        });
    });
</script>
