﻿@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Conference Allocation</h3>
        </div>
    </div>
</div>
<div>
    <div class="row mx-3">
        <div class="col-lg-12">
            <div>
                <h4>Allocation unsuccessful. Allocation has an existing registration.</h4>
            </div>
        </div>
    </div>
</div>

