﻿@model Planetshakers.Events.Models.PurchaseViewModel
@{
    ViewBag.Title = "RegisterNew";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Conference Registration | New</h3>
        </div>
    </div>
</div>
    
<div>
    @using (Html.BeginForm("SubmitNew", "Administration", FormMethod.Post, new { @class="row mx-3 form-group" }))
    {
        <div class="col-lg-12">
            @Html.LabelFor(m => m.NewFirstName) @Html.TextBoxFor(m => m.NewFirstName, new { required = "required", @class = "form-control" })<br />
            @Html.LabelFor(m => m.NewLastName) @Html.TextBoxFor(m => m.NewLastName, new { required = "required", @class = "form-control" })<br />
            @Html.LabelFor(m => m.NewGender) @Html.DropDownListFor(m => m.NewGender, Model.GenderList, "", new { @class = "form-control" })<br />
            @Html.LabelFor(m => m.NewMobile) @Html.TextBoxFor(m => m.NewMobile, new { @class = "form-control" })<br />
            @Html.LabelFor(m => m.NewEmail) @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control" })<br />
            <input type="submit" value="submit" class="btn btn-primary btn-block" />
        </div>

    }
</div>
   



