﻿@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Registration Admin Panel</h3>
        </div>
    </div>

</div>
<div>
    @using (Html.BeginForm("SearchContact", "Administration", FormMethod.Post, new { @class="row mx-3 form-group" }))
    {
        <div class="col-lg-9">
            @Html.TextBox("query", new { @class = "form-control" })
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Search" class="btn btn-primary btn-block" />
        </div>
    }
</div>

<div>
    <div class="row">
        @if (Model.searchList != null)
        {
            <div class="col-lg-12">
                <table style="width:100%" class="table table-bordered">
                    <tr class="table-active">
                        <th>Full Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    @foreach (var c in Model.searchList)
                    {
                        <tr>
                            @using (Html.BeginForm("Register", "Administration"))
                            {
                                <td>@c.FirstName @c.LastName</td>
                                <td>@c.Mobile</td>
                                <td>@c.Email</td>
                                @Html.Hidden("selectedContact", new { Value = c.Contact_ID })
                                <td><input type="submit" class="btn btn-primary btn-block" /></td>
                            }
                        </tr>
                    }
                </table>
            </div>
        }
        else
        {
            <div class="col-lg-12">
                <p><strong>No results found.</strong></p>
            </div>
        }

    </div>
</div>
