﻿@model Planetshakers.Events.Models.SelfAllocateModel
@{
     Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Conference Registration</h3>
        </div>
    </div>
</div>
<div>
    <div class="row mx-3">
        <div class="col-lg-12">
            <h4>Registration has been completed!</h4>
        </div>
        <div class="col-lg-7">

        </div>
        <div class="col-lg-5">
            <a href="@Url.Action("Registrations", "Administration" )" class="btn btn-primary btn-block">Submit New Registration</a>
        </div>
    </div>

</div>


