﻿@model Planetshakers.Events.Models.BulkEmailModel

@{
    ViewBag.Title = "Send Bulk Confirmation Email";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">
    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div>
    <div class="row mx-3 form-group">

        <div class="col-lg-2">
            <label>Contact_ID:</label>
            <span>
                @Html.TextBox("tb_BulkEmailContact", "", new { @class = "form-control" })
            </span>
        </div>
        <div class="col-lg-8">
            <label>Select Conference:</label>
            <span>
                @Html.DropDownList("ddl_BulkEmailConference", Model.conference_list, "", new { @class = "form-control" })
            </span>
        </div>
        @if (System.Configuration.ConfigurationManager.ConnectionStrings["PlanetshakersEntities"].ConnectionString.Contains("PlanetshakersSG"))
        {
            <div class="col-lg-2 mt-3">
                <a id="email_conference_btn" class="btn btn-primary btn-block" onclick="SendBulkTicket()">Send</a>
            </div>
        }
        else
        {
            <div class="col-lg-2 mt-3">
                <button id="email_conference_btn" class="btn btn-primary btn-block" onclick="SendBulkEmail()">Send</button>
            </div>
        }
        <br />
        <div class="col-lg-12">
            <div id="loading" class="col-lg-12" style="display:none;">
                <img src="~/Content/images/loading.gif" />
            </div>
        </div>
        <br />
        <div class="col-lg-12">
            <div id="completed" class="col-lg-12" style="display:none;">

            </div>
        </div>
    </div>
</div>
    
 


<script>
    function SendBulkEmail() {
        var venue_id = $("#ddl_BulkEmailConference").find(":selected").val();
        var contact_id = $("#tb_BulkEmailContact").val();

        console.log(venue_id);
        console.log(contact_id);

        $("#loading").show();

        $.ajax({
            cache: false,
            type: "POST",
            url: "SendConfirmationEmail",
            data: { "venue_ID": venue_id, "contact_ID": contact_id },
            success: function (json) {
                $('#loading').hide();
                $('#completed').text("Email sent!");
                $('#completed').show();
            },
            error: function (json) {
                $('#loading').hide();
                $('#completed').text("An error occured trying to send email.");
                $('#completed').show();
            }
        });
    }

    function SendBulkTicket() {
        var venue_id = $("#ddl_BulkEmailConference").find(":selected").val();
        var contact_id = $("#tb_BulkEmailContact").val();

        console.log(venue_id);
        console.log(contact_id);
        
        $('#completed').hide();
        $("#loading").show();

        $.ajax({
            cache: false,
            timeout: 0,
            type: "POST",
            url: "getTicket",
            data: { "venue_id": venue_id, "contact_id": contact_id },
            success: function (json) {
                $('#loading').hide();
                $('#completed').text("Email sent!");
                $('#completed').show();
            },
            error: function (json) {
                $('#loading').hide();
                $('#completed').text("An error occured trying to send email.");
                $('#completed').show();
            }
        });
    }
</script>