﻿@model Planetshakers.Events.Models.SponsorshipCartModel

@{
    ViewBag.Title = "Sponsorship Summary";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container-fluid">

    <div class="card shadow h-100 py-2">
        <div class="card-body">
            @using (Html.BeginForm("SponsorshipCCPayment", "Administration", FormMethod.Post, new { @class = "custom" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row mx-0 px-2">
                            <div class="col-12">
                                <div class="border-bottom">
                                    <h3>@Model.Event.name</h3>
                                    <h5 class="subheader">@Model.Event.date</h5>
                                    <h5 class="subheader">@Model.Event.location</h5>
                                </div>
                                <h6>Sponsorship Summary</h6>
                                @Html.ValidationSummary(true)
                                @if (Model.ErrorMessage != null)
                                {
                                    <div class="alert alert-danger">@Model.ErrorMessage</div>
                                }
                                <table class="footable table-bordered">
                                    <thead class="table-active">
                                        <tr>
                                            <th data-hide="phone">Sponsorship Amount</th>
                                            <td colspan="4" style="text-align:right"><strong>Grand Total</strong>: @(Model.Event.currency) @Model.Cart.totalSponsoredAmount</td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <br />
                                @if (ViewBag.StripePublishKey == "pk_live_3WM2tB4xIu8rEZCNZcSpL8Dn")
                                {
                                    <p>
                                        <strong>Note: Mastercard or Visa cards only. American Express cards are not accepted.</strong>
                                    </p>
                                }

                                @*<form action="/Administration/SponsorshipCCPayment" method="POST">
                                    <script src="https://checkout.stripe.com/v2/checkout.js"
                                            class="stripe-button pull-right payment-btn"
                                            data-key=@ViewBag.StripePublishKey
                                            data-locale="auto"
                                            data-description="Event Registration Charge"
                                            data-amount="">
                                    </script>
                                </form>*@
                                <div class="row">
                                    <button id="checkout-button" class="col-lg-3 col-md-12 py-1 stripe-checkout-btn" data-secret="@ViewData["SessionID"]">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    var stripe = Stripe('@Model.CCPayment.BankAccount.PublishableKey');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {
        event.preventDefault();
        stripe.redirectToCheckout({
            sessionId : this.getAttribute("data-secret")
        }).then(function (result) {
            console.log(result.error.message);
        });
    })
</script>
