﻿@model Planetshakers.Events.Models.SponsorshipCartModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container-fluid">

    <div class="card shadow h-100 py-2">
        <div class="card-body">
            <div class="row mb-2" style="display: none;" id="ErrorMessage">
                <div class="col-12">
                    <div class="alert alert-danger">
                        <strong id="Message">Please select a person before proceeding with sponsorship payment.</strong>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-4 col-sm-12">
                    <h4>Search Contact</h4>
                    <form id="SponsorshipSearchContactForm">
                        <p>First Name : @Html.TextBox("contactFirstName", null, new { @class = "form-control" }) </p>

                        <p>Last Name : @Html.TextBox("contactLastName", null, new { @class = "form-control" }) </p>

                        <p>Mobile Number : @Html.TextBox("contactMobile", null, new { @class = "form-control" }) </p>

                        <p>E-mail :@Html.TextBox("contactEmail", null, new { @class = "form-control" }) </p>
                    </form>

                </div>
                <div id="sponsorshipContactTable" class="col-lg-8 col-sm-12 card mt-5" style="overflow-y: scroll; height: 300px; width:100%;"></div>
            </div>
            <div id="selectedContactResult" class="row no-gutters align-items-center mb-2" style="display:none;">
                <div class="col-12 table-responsive">
                    <label>Selected:</label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="selectedFullName"></td>
                                <td id="selectedMobile"></td>
                                <td id="selectedEmail"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <ul class="nav nav-tabs mt-3" id="details" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="donor-tab" data-toggle="tab" href="#donor" role="tab" aria-controls="donor" aria-selected="true">Donor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="recipient-tab" data-toggle="tab" href="#recipient" role="tab" aria-controls="recipient" aria-selected="false">Recipient</a>
        </li>
    </ul>
    <div class="tab-content" id="detailsContent">
        <div class="tab-pane fade active show" id="donor" role="tabpanel" aria-labelledby="donor-tab">
            @using (Html.BeginForm("SponsorshipSummary", "Administration", FormMethod.Post, new { @id = "SponsorshipForm", @class = "form" }))
            {
                <input hidden id="SelectedContactID" name="ContactId" />
                <div class="card shadow h-100 pb-2 mb-5">
                    <div class="card-body">
                        <div class=" row no-gutters align-items-center">
                            <div class="col-lg-12">
                                <h4>Sponsorship Option</h4>
                                <div class="table-responsive" style="overflow-x: hidden;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Field</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Event <span class="redstar">*</span></td>
                                                <td>@Html.DropDownListFor(x => x.Event.id, Model.ConferenceList, "", new { @class = "form-control", @id = "SelectedEvent", @onchange = "CheckCurrency()", @required = "required" })</td>
                                            </tr>
                                            <tr>
                                                <td>Payment Type <span class="redstar">*</span></td>
                                                <td>@Html.DropDownListFor(x => x.PaymentType_ID, Model.PaymentTypeList, "", new { @class = "form-control", @required = "required", @id = "SelectedPaymentID" })</td>
                                            </tr>
                                            <tr id="TotalAmount" style="display:none;">
                                                <td>Amount <span class="redstar">*</span></td>
                                                <td><div class="row"><div class="col-1 pt-1 pr-0" id="currency"></div><div class="col-4 pl-0">@Html.TextBoxFor(x => x.Cart.totalSponsoredAmount, "0.00", new { @placeholder = "0.00", @required = "required", @class = "form-control", @id = "SponsoredAmount" })</div></div></td>
                                            </tr>
                                            <tr>
                                                <td>Comment <span class="redstar">*</span></td>
                                                <td>@Html.TextAreaFor(x => x.Comment, new { @class = "form-control" })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-8">

                            </div>
                            <div class="col-lg-4 col-sm-12 right-align">
                                <button type="button" class="btn btn-primary btn-block" onclick="SubmitSponsorshipForm()">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="tab-pane fade" id="recipient" role="tabpanel" aria-labelledby="recipient-tab">
            @using (Html.BeginForm("SponsorshipRecipient", "Administration", FormMethod.Post, new { @id = "SponsorshipRecipientForm", @class = "form" }))
            {
                <input hidden id="SelectedRecipientContactID" name="ContactId" />
                <div class="card shadow h-100 pb-2 mb-5">
                    <div class="card-body">
                        <div class=" row no-gutters align-items-center">
                            <div class="col-lg-12">
                                <h4>Sponsorship Option</h4>
                                <div class="table-responsive" style="overflow-x: hidden;">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Field</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Event <span class="redstar">*</span></td>
                                                <td>@Html.DropDownListFor(x => x.Event.id, Model.ConferenceList, "", new { @class = "form-control", @id = "SelectedRecipientEvent", @onchange = "CheckRecipientCurrency()", @required = "required" })</td>
                                            </tr>
                                            <tr id="TotalRecipientAmount" style="display:none;">
                                                <td>Amount <span class="redstar">*</span></td>
                                                <td><div class="row"><div class="col-1 pt-1 pr-0" id="recipientCurrency"></div><div class="col-4 pl-0">@Html.TextBoxFor(x => x.Cart.totalSponsoredAmount, "0.00", new { @placeholder = "0.00", @required = "required", @class = "form-control", @id = "RecipientSponsoredAmount" })</div></div></td>
                                            </tr>
                                            <tr>
                                                <td>Comment <span class="redstar">*</span></td>
                                                <td>@Html.TextAreaFor(x => x.Comment, new { @class = "form-control", @id = "RecipientComment" })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-8">

                            </div>
                            <div class="col-lg-4 col-sm-12 right-align">
                                <button type="button" class="btn btn-primary btn-block" onclick="SubmitSponsorshipRecipientForm()">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>

   
</div>