﻿@model Planetshakers.Events.Models.SponsorshipManagementModel

@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}


<div class="card shadow h-100 py-2">
    <div class="card-body">
        <div class="row mb-2" style="display: none;" id="SuccessMessage">
            <div class="col-12">
                <div class=" alert alert-success">
                    <strong id="Message">Successfully Edited.</strong>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-2 col-md-3 col-sm-6 mt-2">
                <label>Select Type:</label>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                @Html.DropDownList(" ", Model.InOutSelect, "-- Select Type --", new { @onchange = "filterSponsorshipTable()", @id = "filterSponsorship", @class = "form-control" })
            </div>
        </div>

        <table id="generatedSponsorshipTable" class="table table-bordered text-black-100" style="font-size: 14px;width:100%;">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Types</th>
                    <th>Payment Type</th>
                    <th>Payment Amount</th>
                    <th>Payment Date</th>
                    <th>Payment By</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sponsorship in Model.SponsorshipList)
                {
                    if (sponsorship.Donor)
                    {
                        <tr id="@sponsorship.VariablePaymentID" data-val="Donor">
                            <td>@sponsorship.FullName</td>
                            <td id="InOut_@sponsorship.VariablePaymentID">Donor</td>
                            <td id="paymentType_@sponsorship.VariablePaymentID">@sponsorship.PaymentType</td>
                            <td id="amount_@sponsorship.VariablePaymentID">@sponsorship.PaymentAmount.ToString("00.00")</td>
                            <td>@sponsorship.PaymentDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td>@sponsorship.PaymentByName</td>
                            <td><button class="btn btn-primary" onclick="EditSponsorship(@sponsorship.VariablePaymentID, @Model.Conference_ID)">Edit</button></td>
                            <!--<td><button class="btn btn-primary" onclick="ShowDeleteConfirmation(sponsorship.VariablePaymentID)">Delete</button></td>-->
                        </tr>
                    }
                    else if (sponsorship.Recipient)
                    {
                        <tr id="@sponsorship.VariablePaymentID" data-val="Recipient">
                            <td>@sponsorship.FullName</td>
                            <td id="InOut_@sponsorship.VariablePaymentID">Recipient</td>
                            <td id="paymentType_@sponsorship.VariablePaymentID">@sponsorship.PaymentType</td>
                            <td id="amount_@sponsorship.VariablePaymentID">@sponsorship.PaymentAmount.ToString("00.00")</td>
                            <td>@sponsorship.PaymentDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td>@sponsorship.PaymentByName</td>
                            <td><button class="btn btn-primary" onclick="EditSponsorship(@sponsorship.VariablePaymentID, @Model.Conference_ID)">Edit</button></td>
                            <!--<td><button class="btn btn-primary" onclick="ShowDeleteConfirmation(sponsorship.VariablePaymentID)">Delete</button></td>-->
                        </tr>
                    }

                }
            </tbody>
        </table>


        <div class="row my-2">
            <div class="col-lg-6 col-sm-12">
                <label>Grand Total: @Model.Currency <span id="GrandTotal">@Model.TotalDonor.ToString("00.00")</span></label><br />
                <label>Remaining: @Model.Currency <span id="TotalAmount">@Model.TotalRemaining.ToString("00.00")</span></label>
            </div>
            @*<div class="col-lg-6 col-sm-12">
                <button class="btn btn-primary float-right" data-toggle="modal" data-target="#breakdown">Breakdown</button>
            </div>*@
        </div>

        @*<div class="modal fade" id="breakdown" tabindex="-1" role="dialog" aria-labelledby="breakdown" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="title">Breakdown</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <label>Select Breakdown Type:</label>
                                @Html.DropDownList("Breakdown", Model.BreakdownSelect, new { @id = "BreakdownSelect", @onchange = "ShowSponsorshipBreakdownSelection()", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row my-3" id="campusBreakdown">
                            <div class="col-12">
                                <h4>Campus Sponsorship Breakdown</h4>
                                <table class="table table-bordered">
                                    <colgroup>
                                        <col style="width:40%;" />
                                        <col style="width:30%;" />
                                        <col style="width:30%;" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Campus</th>
                                            <th>Donor (@Model.Currency)</th>
                                            <th>Recipient (@Model.Currency)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var campustotal in Model.CampusBreakdown)
                                        {
                                            <tr>
                                                <td>@campustotal.Campus</td>
                                                <td>@campustotal.Donor.ToString("0.00")</td>
                                                <td>@campustotal.Recipient.ToString("0.00")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row my-3" id="ministryBreakdown" style="display:none;">
                            <div class="col-12">
                                <h4>Ministry Sponsorship Breakdown</h4>
                                <table class="table table-bordered">
                                    <colgroup>
                                        <col style="width:40%;" />
                                        <col style="width:30%;" />
                                        <col style="width:30%;" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Ministry</th>
                                            <th>Donor (@Model.Currency)</th>
                                            <th>Recipient (@Model.Currency)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var ministrytotal in Model.MinistryBreakdown)
                                        {
                                            <tr>
                                                <td>@ministrytotal.Ministry</td>
                                                <td>@ministrytotal.Donor.ToString("0.00")</td>
                                                <td>@ministrytotal.Recipient.ToString("0.00")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row my-3" id="paymentTypeBreakdown" style="display:none;">
                            <div class="col-12">
                                <h4>Payment Type Breakdown</h4>
                                <table class="table table-bordered">
                                    <colgroup>
                                        <col style="width:40%;" />
                                        <col style="width:30%;" />
                                        <col style="width:30%;" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Payment Type</th>
                                            <th>Donor Total</th>
                                            <th>Recipient Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var paymentTotal in Model.PaymentTypeBreakdown)
                                        {
                                            <tr>
                                                <td>@paymentTotal.PaymentType</td>
                                                <td>@paymentTotal.DonorAmount.ToString("0.00")</td>
                                                <td>@paymentTotal.RecipientAmount.ToString("0.00")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>*@


        <div class="row my-3">
            <div class="col-3">
                <a href="@Url.Action("SponsorshipPayment","Administration")" class="btn btn-primary">Add</a>
            </div>
        </div>
        <div id="EditModal"></div>

        <div id="DeleteConfirmation" class="modal fade text-black-100" tab-index="-1" aria-hidden="true" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Delete Confirmation</h3><br />
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this sponsorship?
                    </div>
                    <div id="ConfirmationBtn" class="modal-footer" style="text-align: right;">
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


