﻿@model Planetshakers.Events.Models.SponsorshipManagementModel
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 border-bottom">
            <div>
                <h3>Sponsorship Administration</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <label>Select Trip:</label>
            <div>
                @Html.DropDownListFor(x => x.Conference_ID, Model.ConferenceList, "", new { @class = "form-control", @onchange = "SponsorshipSelect()", @id = "SponsorshipSelection" })
            </div>
        </div>
    </div>

    <div class="mt-3" id="SponsorshipIndexPartial">

    </div>
</div>
