﻿@{
    /**/

    ViewBag.Title = "Sponsorship Confirmation";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}
<div class="container-fluid">

    <div class="card shadow h-100 py-2 my-5">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row mx-0 px-2">
                        <div class="col-lg-12 border-bottom">
                            <h3>@ViewBag.Title</h3>
                        </div>
                    </div>
                    <div class="mx-0 px-2">
                        <div class="col-lg-12">
                            <h5>Thank you for Sponsoring for @ViewBag.EventName! Your generosity is appreciated.</h5>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-3">
                    <button class="btn btn-primary btn-block" onclick="window.location.href = '@Url.Action("SponsorshipPayment", "Administration")'">New Sponsorship Payment</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary btn-block" onclick="window.location.href = '@Url.Action("SponsorshipIndex", "Administration")'">Sponsorship Management</button>
                </div>
            </div>
        </div>
    </div>

</div>






