﻿@{
    ViewBag.Title = "Register | Terms And Conditions";
}

<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-12 border-bottom">
                <h1>Planetshakers Events | Terms and Conditions</h1>
            </div>
        </div>
        <div class="row terms-conditions-container">
            <div class="col-lg-12">
                <h6>Planet Shakers Ministries International Incorporated (hereinafter known as ‘Planetshakers’).</h6>

                <strong>DISCLAIMER</strong>
                <div>
                    I acknowledge that if I am a youth leader or church leader and have completed this form on
                    behalf of a person under the age of 18 years of age, I have done so with the permission and consent of the
                    child’s parent/guardian and have been given the responsibility to care for the child at all times during conference.
                    If I am a parent/guardian of a child attending the conference, I confirm and acknowledge the child attends at their own
                    risk and I allow this with full knowledge of the risks associated and confirm the child is not the responsibility of
                    Planetshakers, its staff, volunteers and/or agents.
                </div>
                <div>
                    Planetshakers recommends that you confirm your registration with our office prior to booking any flights
                    and/or accommodation. Planetshakers does not accept any responsibility for losses incurred for flights
                    and/or accommodation booked for the conference. Planetshakers reserves the right to change any of the
                    published conference details without notice and have the final say on any matter relating to the conference.
                    These conditions also apply to the budget accommodation provided by Planetshakers Awakening and if
                    you have selected this service you agree to comply with these conditions.
                </div>
                <strong>REGISTRATION ALLOCATIONS</strong>
                <div>
                    I understand that when I purchase a number of tickets for any event that I must allocate each of these tickets
                    to named individuals through the online system <a href="https://register.planetshakers.com">https://register.planetshakers.com</a>.
                    I understand that if I do not so allocate any of the tickets that they will not be able  to be used and will
                    be forfeited and that no refund will be available for any unused tickets.
                </div>
                <strong>GST/RECEIPTS</strong>
                <div>
                    The registration price does not include GST as the conference is considered a ‘Religious
                    Service’. Should you require a tax invoice for your records, please photocopy this registration form prior to
                    returning it to us.
                </div>
                <strong>REFUNDS/TRANSFERS</strong>
                <div>
                    Individual registrations may be transferred to
                    another individual by placing the request in writing to the Planetshakers Office or Caanan Land. No part
                    registrations are transferable. Only completed registrations are transferable. Registrations
                    cannot be transferred to other Awakenings and events organised by Planetshakers.
                </div>
                <strong>INDEMNITY</strong>
                <div>
                    I hereby agree to indemnify, release and hold harmless Planetshakers, its staff, volunteers
                    and/or authorized agents against any and all claims arising from, or in connection with, any injury,
                    accident, misfortune, damage or loss that may occur to myself/my child/ward and/or my/their property,
                    equipment or personal effects while present at the conference and within the conference premises,
                    including any injury that my child/ward may cause to another person.
                </div>
                <strong>MEDICAL TREATMENT CONSENT</strong>
                <div>
                    I give permission for Planetshakers authorised staff and/or
                    volunteers to obtain emergency medical, hospital or ambulance assistance at any time they consider
                    necessary. I understand that every reasonable effort will be made for the registrant or my emergency
                    contact listed above to be notified before instituting such procedures. I acknowledge that I will be liable for
                    any and all medical/hospital/ambulance costs and expenses incurred in the registrant’s or my child/ward’s
                    treatment.
                </div>
                <strong>INVOLVEMENT CONSENT</strong>
                <div>
                    I hereby give my consent for the registrant to participate in activities they may
                    choose while attending the event. I agree and understand that Planetshakers reserves the right to exercise
                    its discretion to refuse to register any person upon medical and/or other grounds, without providing a
                    detailed reason for doing so.
                </div>
                <strong>TRANSPORT CONSENT</strong>
                <div>
                    I consent to Planetshakers providing transport for my child to and from the venue and activities as set out in the curriculum for the day
                    and I understand Planetshakers will take all reasonably practicable steps to provide a safe environment for my child
                    and ensure all vehicles are in a safe and in working order.
                </div>
                <strong>PRIVACY DECLARATION</strong>
                <div>
                    I understand and accept that Planetshakers may collect and use information
                    about me for the purpose of providing and offering promotional material and may provide the information
                    to any third party who helps Planetshakers provide services to you. I consent to my personal details being
                    used for the promotion of future Planetshakers events and products. Further details of Planetshakers
                    Privacy Policy can be found on our website <a href="https://www.planetshakers.com">www.planetshakers.com</a>.
                </div>
                <strong>MEDIA WAIVER</strong>
                <div>
                    The Awakening experience will be captured in photographs, video and audio.
                    Planetshakers reserves the right to use the material for promotional purposes. I understand it is a condition
                    of all registrant’s entry into the conference that all claims are waived in relation to inclusion of their likeness
                    in such films or recordings. If I am a parent/guardian, I give my consent for my child to be captured on
                    photographic, video and audio media.
                </div>
            </div>
        </div>
    </div>
</div>