﻿@model Planetshakers.Events.Models.TransferViewModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var executedSuccessfully = ViewBag.executedSuccessfully;
    var Message = ViewBag.Message;
}

<div class="container-fluid">
    <h3>Transfer</h3>

    <div class="card shadow h-100 py-2 my-2">
        <div class="card-body">

            <div class="row mb-2" style="display: none;" id="executedUnsuccessfully">
                <div class="col-12">

                    <div class="alert alert-danger">
                        <strong id="Message">Please select the person that is transferring to.</strong>
                    </div>

                </div>
            </div>

            <div class="row mb-2">
                <div class="col-lg-4 col-sm-12">
                    <h4>Transferring to</h4>
                    <form id="TransferSearchContactForm">
                        <p>First Name : @Html.TextBox("contactFirstName", null, new { @class = "form-control" }) </p>

                        <p>Last Name : @Html.TextBox("contactLastName", null, new { @class = "form-control" }) </p>

                        <p>Mobile Number : @Html.TextBox("contactMobile", null, new { @class = "form-control" }) </p>

                        <p>E-mail :@Html.TextBox("contactEmail", null, new { @class = "form-control" }) </p>
                    </form>
                </div>
                <div id="transferContactTable" class="col-lg-8 col-sm-12 card mt-5" style="overflow-y: scroll; height: 300px; width:100%;"></div>
            </div>

            <div id="selectedContactResult" class="row no-gutters align-items-center mb-2" style="display:none;">
                <div class="col-12 table-responsive">
                    <label>Selected:</label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="selectedFullName"></td>
                                <td id="selectedMobile"></td>
                                <td id="selectedEmail"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    @if (Model.TransferType == "Single")
    {
        @Html.Partial("_SingleRegistrationTransfer", Model);
    }

    @if (Model.TransferType == "Group")
    {
        @Html.Partial("_GroupRegistrationTransfer", Model);
    }
    @if (Model.TransferType == "Sponsorship")
    {
        @Html.Partial("_SponsorshipTransfer", Model);
    }
</div>