﻿@model Planetshakers.Events.Models.TransferViewModel
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Transfer</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Transfer has been completed!</h4>
    </div>
    <div class="col-lg-3">
        @if (Model.TransferType == "Single")
        {
            <button class="btn btn-primary btn-block" onclick="window.location.href='@Url.Action("ContactDetails", "Registration", new { Contact_ID = Model.ContactId, Conference_ID = Model.Conference_ID})'">Back to single registration</button>
        }
        @if (Model.TransferType == "Group")
        {
            <button class="btn btn-primary btn-block" onclick="window.location.href='@Url.Action("GroupDetails", "Registration", new { Group_ID = Model.ContactId, Conference_ID = Model.Conference_ID })'">Back to group registration</button>
        }
        @if (Model.TransferType == "Sponsorship")
        {
            <button class="btn btn-primary btn-block" onclick="window.location.href='@Url.Action("SponsorshipIndex", "Administration")'">Back to sponsorship</button>
        }
    </div>
</div>




