﻿@using System.Data
@model Planetshakers.Events.Models.DatabaseRoleManagementModel
@{
    ViewBag.Title = "Access Level Management";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">

    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
</div>



@using (Html.BeginForm("GenerateContactAccessLevelPermission", "Management", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-10">
            <label>Quick Search: </label>
            @Html.TextBoxFor(x => x.searchQuery, new { @class = "form-control" })
        </div>

        <div class="col-lg-2">
            <button class="btn btn-primary" style="margin-top: 25px;">Search</button>
        </div>
    </div>
}
    
<div class="row">
    <div class="col-lg-12" style="padding-bottom: 10px;">
        <br />
        @if (Model.GenerateResult)
        {
            if (Model.userDbPermDictionary.Count == 0)
            {
                <h5>No result is found.</h5>
            }
            else
            {
                <div class="card">
                    <div class="card-body shadow">
                        <table id="DataroleTable" class="table">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.searchedResultContactList)
                                {
                                    <tr id="@user.Contact_ID">
                                        <td>@user.FirstName</td>
                                        <td>@user.LastName</td>
                                        <td>@user.Mobile</td>
                                        <td>@user.Email</td>
                                        <td>
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#UserRole_@user.Contact_ID" onclick="RevealUserDataTable(@user.Contact_ID)">Edit</button>
                                            <div class="modal fade" id="UserRole_@user.Contact_ID" tabindex="-1" role="dialog" aria-labelledby="UserRole" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5>@user.FirstName @user.LastName</h5><br />
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-lg-12 border-bottom">
                                                                    <h5>Access level</h5>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div id="SuccessRemoveUserRole_@user.Contact_ID" style="display:none;" class="alert alert-success fa-border"><strong>Successfully removed user database role.</strong><br /></div>
                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Role</th>
                                                                                <th>Date Added</th>
                                                                                <th>Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="userDbRoleTable">
                                                                            @foreach (var role in Model.userDbRoleDictionary[user.Contact_ID])
                                                                            {
                                                                                <tr id="UserDbRole_@user.Contact_ID@role.DbRoleId">
                                                                                    <td>@role.Name</td>
                                                                                    <td>@role.DateAdded</td>
                                                                                    <td>
                                                                                        <input hidden id="RoleName_@user.Contact_ID@role.DbRoleId" value="@role.Name" />
                                                                                        <button class="btn btn-primary" onclick="removeUserDbRole(@role.DbRoleId,@user.Contact_ID)">Remove</button>
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>

                                                            <div class="row my-5">
                                                                <div class="col-lg-12 border-bottom">
                                                                    <h5>Add Access</h5>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div id="SuccessAddedUserDbRole_@user.Contact_ID" style="display:none;" class="alert alert-success fa-border col-lg-12"><strong>Successfully added database role.</strong><br /></div>
                                                                </div>
                                                                <div class="col-lg-10">
                                                                    @Html.DropDownList("DbRole", Model.AvailableContactAccessLevelAdd(user.Contact_ID), new { @id = "AddUserDbRole_" + user.Contact_ID, @class = "form-control" })
                                                                </div>
                                                                <div class="col-lg-2">
                                                                    <button class="btn btn-primary" onclick="AddUserDbRole(@user.Contact_ID)">Add</button>
                                                                </div>
                                                            </div>
                                                                    
                                                            <div class="row my-5">
                                                                <div class="col-lg-12 border-bottom">
                                                                    <h5>Customise Access</h5>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div id="SuccessUpdated_@user.Contact_ID" style="display:none;" class="alert alert-success fa-border"><strong>Successfully updated role permission.</strong><br /></div>
                                                                    <table class="table" id="table_@user.Contact_ID">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Name</th>
                                                                                <th>Read</th>
                                                                                <th>Write</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (var perm in Model.userDbPermDictionary[user.Contact_ID])
                                                                            {

                                                                                if (!perm.CustomRead && !perm.CustomWrite) /*If Both of the Custom read write are false, check DbRole*/
                                                                                {
                                                                                    if (perm.RoleRead || perm.RoleWrite)
                                                                                    {
                                                                                        <tr>
                                                                                            <td>@perm.DbObjText</td>
                                                                                            <td>@Html.CheckBoxFor(x => perm.RoleRead, new { @disabled = "true" })</td>
                                                                                            <td>@Html.CheckBoxFor(x => perm.RoleWrite, new { @disabled = "true" })</td>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                                else
                                                                                {
                                                                                    <tr>
                                                                                        <td>@perm.DbObjText</td>
                                                                                        <td>@Html.CheckBoxFor(x => perm.CustomRead, new { @id = "CustomRead_" + perm.DbObjID, @onchange = "CustomReadChange(" + perm.DbObjID + ", " + user.Contact_ID + ")" })</td>
                                                                                        <td>@Html.CheckBoxFor(x => perm.CustomWrite, new { @id = "CustomWrite_" + perm.DbObjID, @onchange = "CustomWriteChange(" + perm.DbObjID + ", " + user.Contact_ID + ")" })</td>
                                                                                    </tr>
                                                                                }

                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" onclick="window.location.reload()">Save</button>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            }

        }
    </div>

</div>