﻿@using System.Data
@model Planetshakers.Events.Models.DatabaseRoleManagementModel
@{
    ViewBag.Title = "Add Database Role";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">

    <div class="col-lg-12 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>

    <div class="col-lg-12" >
        <div id="SuccessAddedRole" style="display:none;" class="alert alert-success"><strong>Successfully added role.</strong></div>
    </div>

    <div class="col-lg-12" style="padding-bottom: 10px;">
        <br />
        <label>New Database Role Name: </label>
        @Html.TextBoxFor(x => x.AddedDbRoleName, new { @id = "DbRoleName", @class = "form-control my-3" })
        <div class="card">
            <div class="card-body shadow">
                <table id="DataroleTable" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Read</th>
                            <th>Write</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Obj in Model.DbObjectList)
                        {
                            <tr id="@Obj.DatabaseObject_ID">
                                <td>@Obj.DatabaseObjectName</td>
                                <td>@Obj.DatabaseObjectDesc</td>
                                <td>@Html.CheckBoxFor(x => x.Read, new { @id = "Read_" + Obj.DatabaseObject_ID })</td>
                                <td>@Html.CheckBoxFor(x => x.Write, new { @id = "Write_" + Obj.DatabaseObject_ID })</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
            
    </div>
    <div class="col-lg-12">
        <button class="btn btn-primary" onclick="AddDbRole()">Add</button>
        <button class="btn btn-primary" id="backButton" onclick="window.location.href='@Url.Action("DatabaseRoleManagement", "Management")'">Back</button>
    </div>

</div>
