﻿@using System.Data
@model Planetshakers.Events.Models.DatabaseRoleManagementModel
@{
    ViewBag.Title = "Database Role Management";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">
    <div class="col-lg-12 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>


    <div id="SuccessDeleteRole" class="col-lg-12" style="display:none;">
        <div class="alert alert-success fa-border"><strong>Successfully deleted role.</strong></div>
    </div>

    <div class="col-lg-12" style="padding-bottom: 10px;">
        <br />
        <div class="card">
            <div class="card-body shadow">
                <table id="DataroleTable" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.DatabaseRoleList)
                        {
                            <tr id="DbRole_@role.DatabaseRole_ID">
                                <td>@role.Name</td>
                                <td>
                                    <button class="btn btn-primary" data-toggle="modal" onclick="RevealDataTable(@role.DatabaseRole_ID)">Edit</button>
                                    <div class="modal fade" id="editRolePermission_@role.DatabaseRole_ID" tabindex="-1" role="dialog" aria-labelledby="editRolePermission" aria-hidden="true">
                                        <div class="modal-dialog modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Edit DatabaseRole Permissions</h5><br />
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="SuccessEditDbRolePermission_@role.DatabaseRole_ID" class="alert alert-success fa-border" style="display:none;"><strong>Successfully saved DatabaseRole Permission Changes.</strong><br /></div>
                                                    <div id="SuccessDeleteDbRolePermission_@role.DatabaseRole_ID" class="alert alert-success fa-border" style="display:none;"><strong>Successfully deleted DatabaseRole Permission.</strong><br /></div>
                                                    <table width="100%;" class="table py-2" id="table_@role.DatabaseRole_ID">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Description</th>
                                                                <th>Read</th>
                                                                <th>Write</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbody_@role.DatabaseRole_ID">
                                                            @foreach (var rolePermission in Model.EditRolePermissionLists(role.DatabaseRole_ID))
                                                            {
                                                                <tr id="@rolePermission.DatabaseRolePermissionID">
                                                                    <td>@Html.TextBoxFor(x => rolePermission.DatabaseObjectName, new { @id = "DbObjectName_" + rolePermission.DatabaseRolePermissionID, @class = "form-control" })</td>
                                                                    <td>@Html.TextBoxFor(x => rolePermission.DatabaseObjectDescription, new { @id = "DbObjectDesc_" + rolePermission.DatabaseRolePermissionID, @class = "form-control" })</td>
                                                                    <td>@Html.CheckBoxFor(x => rolePermission.Read, new { @id = "DbRolePermissionRead_" + rolePermission.DatabaseRolePermissionID })</td>
                                                                    <td>@Html.CheckBoxFor(x => rolePermission.Write, new { @id = "DbRolePermissionWrite_" + rolePermission.DatabaseRolePermissionID })</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <br />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button class="btn btn-primary" onclick="SaveDbRolePermission(@role.DatabaseRole_ID)">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#deleteConfirmation_@role.DatabaseRole_ID">Delete</button>
                                    <div class="modal fade" id="deleteConfirmation_@role.DatabaseRole_ID" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmation" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5>Delete confirmation</h5><br />
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Are you sure you want to delete the Database Role? </h5>
                                                    <h5>
                                                        (This action will also remove all contact that has been assigned to the role)
                                                    </h5><br />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                    <button class="btn btn-primary" onclick="DeleteDbRole(@role.DatabaseRole_ID)">Yes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <button class="btn btn-primary" onclick="window.location.href='@Url.Action("AddDbRolePage", "Management")'">Add New Database Role</button>
    </div>
            
</div>

<script type="text/javascript">
    function RevealDataTable(id) {
        if (!$.fn.DataTable.isDataTable("#table_" + id)) {
            setTimeout(function () {
                $("#table_" + id).DataTable({
                    fixedHeader: {
                        header: true,
                        footer: true
                    },
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "autoWidth": false,
                    scrollCollapse: true,
                    responsive: true,
                    paging: false,
                    retrieve: true,
                    language: {
                        search: "",
                        searchPlaceholder: "Search..."
                    },
                    //"columns": [
                    //    { "orderDataType": "dom-text", type: 'string' },
                    //    { "orderDataType": "dom-text", type: 'string' },
                    //    { "orderDataType": "dom-checkbox", type: 'bool' },
                    //    { "orderDataType": "dom-checkbox", type: 'bool' }
                    //],
                    scrollY: 600
                });
            }, 500);
        }
        $("#editRolePermission_"+id).modal('show')
    }
</script>
