body {
    font-family: Arial, Verdana, sans-serif;
}

.ps-red {
    color: #D3082E;
}

.alert-warning {
    color: #C09853;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
}

.alert-info {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.alert-success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.alert-danger {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

.rtl {
    direction: rtl;
}

.ui-left {
    float: left;
}

.ui-right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

ul {
    margin-bottom: 0;
}

.ui-ul-name {
    margin-left: 5px;
    font-weight: normal;
    font-size: 14px;
    color: #232332;
}

.link-panel {
    border: 1px solid #D9D9D9;
    background-color: #F8F8F8;
    margin-bottom: 8px;
    border-radius: 5px;
}

.link-panel-header {
    padding: 15px 15px;
}

.display-panel {
    border: 1px solid #D9D9D9;
    margin-bottom: 8px;
    padding: 15px 15px;
    background: #F8F8F8;
    border-radius: 5px;
}

.font-bold {
    font-weight: bold;
}

.alphabet-divider {
    background: #3F444C;
    color: #fff;
    font-size: 17px;
    padding: 3px 7px;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #5F5F5F; /* Old browsers */
    background: -moz-linear-gradient(45deg, #F5F5F5 0%, #5F5F5F  100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#5F5F5F ), color-stop(100%,#3A3A3A )); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #F5F5F5 0%,#5F5F5F  100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #F5F5F5 0%,#5F5F5F  100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #F5F5F5 0%,#5F5F5F  100%); /* IE10+ */
    background: linear-gradient(45deg, #F5F5F5 0%,#5F5F5F  100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F5F5', endColorstr='#5F5F5F  ',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.table {
    width: 100%;
}

.ui-font-11 {
    font-size: 11px;
}

/* CUSTOM UI TEMPLATE (BOILERPLATE) */
i.icon {
    display: block;
    width: 40px;
    height: 24px;    
}

i.icon-member-NP {
    background-image: url(images/icon_new_people_48bu.png);
    background-position: 44px -12px;
}

i.icon-member-NC {
    background-image: url(images/icon_new_Christian_48bu.png);
    background-position: 44px -12px;
}

i.icon-member-PARTNER {
    background-image: url(images/icon_partner_48bu.png);
    background-position: 44px -12px;
}

i.icon-member-CONTACT {
    background-image: url(images/icon_contact_48bu.png);
    background-position: 44px -12px;
}

.ui-comment-textarea {
    height: 200px;
}
.tabs {
  margin-bottom: 0 !important;
  margin-left: 0; }
  .tabs:before, .tabs:after {
    content: " ";
    display: table; }
  .tabs:after {
    clear: both; }
  .tabs dd,
  .tabs .tab-title {
    float: left;
    list-style: none;
    margin-bottom: 0 !important;
    position: relative; }
    .tabs dd > a,
    .tabs .tab-title > a {
      display: block;
      background-color: #EFEFEF;
      color: #222222;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 1rem;
      padding: 1rem 2rem; }
      .tabs dd > a:hover,
      .tabs .tab-title > a:hover {
        background-color: #e1e1e1; }
    .tabs dd.active a,
    .tabs .tab-title.active a {
      background-color: #FFFFFF;
      color: #222222; }
  .tabs.radius dd:first-child a,
  .tabs.radius .tab:first-child a {
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
  .tabs.radius dd:last-child a,
  .tabs.radius .tab:last-child a {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
  .tabs.vertical dd,
  .tabs.vertical .tab-title {
    position: inherit;
    float: none;
    display: block;
    top: auto; }

.tabs-content {
  margin-bottom: 1.5rem;
  width: 100%; }
  .tabs-content:before, .tabs-content:after {
    content: " ";
    display: table; }
  .tabs-content:after {
    clear: both; }
  .tabs-content > .content {
    display: none;
    float: left;
    padding: 0.9375rem 0;
    width: 100%; }
    .tabs-content > .content.active {
      display: block;
      float: none; }
    .tabs-content > .content.contained {
      padding: 0.9375rem; }
  .tabs-content.vertical {
    display: block; }
    .tabs-content.vertical > .content {
      padding: 0 0.9375rem; }
