﻿
.rounded-corner4 {
    -webkit-border-radius: 4px;
    border-radius: 4px;    
}

.pull-right {
    float: right;
}

.label,
.badge {
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.label {
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.badge {
  padding: 1px 9px 2px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

    a.label:hover,
    a.badge:hover {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
    }

    .label-important,
    .badge-important {
      background-color: #b94a48;
    }

    .label-important[href],
    .badge-important[href] {
      background-color: #953b39;
    }

    .label-warning,
    .badge-warning {
      background-color: #f89406;
    }

    .label-warning[href],
    .badge-warning[href] {
      background-color: #c67605;
    }

    .label-success,
    .badge-success {
      background-color: #468847;
    }

    .label-success[href],
    .badge-success[href] {
      background-color: #356635;
    }

    .label-info,
    .badge-info {
      background-color: #3a87ad;
    }

    .label-info[href],
    .badge-info[href] {
      background-color: #2d6987;
    }

    .label-inverse,
    .badge-inverse {
      background-color: #333333;
    }

    .label-inverse[href],
    .badge-inverse[href] {
      background-color: #1a1a1a;
    } 


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

    .alert h4 {
      margin: 0;
    }

    .alert .close {
      position: relative;
      top: -2px;
      right: -21px;
      line-height: 20px;
    }

    .alert-success {
      color: #468847;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }

    .alert-danger,
    .alert-error {
      color: #b94a48;
      background-color: #f2dede;
      border-color: #eed3d7;
    }

    .alert-info {
      color: #3a87ad;
      background-color: #d9edf7;
      border-color: #bce8f1;
    }

    .alert-block {
      padding-top: 14px;
      padding-bottom: 14px;
    }

    .alert-block > p,
    .alert-block > ul {
      margin-bottom: 0;
    }

    .alert-block p + p {
      margin-top: 5px;
    }


.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -ms-linear-gradient(top, white, #E6E6E6);    
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(top, white, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #B3B3B3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);        
}

    .btn:hover {
        text-decoration: none;
        background-color: #E6E6E6;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -ms-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
    }

    .btn-primary {
        font-size: 14px;
        padding: 7px 20px;
        width: auto;
    }
        .btn-danger {                         
            background-color: #DA4F49;
            background-image: -ms-linear-gradient(top, #EE5F5B, #BD362F);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
            background-image: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
            background-image: -o-linear-gradient(top, #EE5F5B, #BD362F);
            background-image: -moz-linear-gradient(top, #EE5F5B, #BD362F);
            background-image: linear-gradient(top, #EE5F5B, #BD362F);
            background-repeat: repeat-x;
            border-color: #BD362F #BD362F #802420;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);        
        }
    
        .btn-danger:hover, 
        .btn-danger:active, 
        .btn-danger.active, 
        .btn-danger.disabled, 
        .btn-danger[disabled] {
            background-color: #BD362F;
        }    

        .btn-success {
            background-color: #5BB75B;
            background-image: -ms-linear-gradient(top, #62C462, #51A351);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
            background-image: -webkit-linear-gradient(top, #62C462, #51A351);
            background-image: -o-linear-gradient(top, #62C462, #51A351);
            background-image: -moz-linear-gradient(top, #62C462, #51A351);
            background-image: linear-gradient(top, #62C462, #51A351);
            background-repeat: repeat-x;
            border-color: #51A351 #51A351 #387038;
            filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
            filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        }

        .btn-success:hover, 
        .btn-success:active, 
        .btn-success.active, 
        .btn-success.disabled, 
        .btn-success[disabled] {
            background-color: #51A351;
        }

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

    .table {
        width: 100%;
        margin-bottom: 18px;
        font-size: 12px;
    }

    .table th,
    .table td {
      padding: 8px;
      line-height: 18px;
      text-align: left;
      vertical-align: top;
      border-top: 1px solid #dddddd;
    }

    .table th {
        background: #efefef;
        font-weight: normal;
        width: 85px;
    }

    .table thead th {
      vertical-align: bottom;
    }

    .table caption + thead tr:first-child th,
    .table caption + thead tr:first-child td,
    .table colgroup + thead tr:first-child th,
    .table colgroup + thead tr:first-child td,
    .table thead:first-child tr:first-child th,
    .table thead:first-child tr:first-child td {
      border-top: 0;
    }

    .table tbody + tbody {
      border-top: 2px solid #dddddd;
    }

    .table-condensed th,
    .table-condensed td {
      padding: 4px 5px;
    }

    .table-bordered {
      border: 1px solid #dddddd;
      border-collapse: separate;
      *border-collapse: collapsed;
      border-left: 0;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
    }

    .table-bordered th,
    .table-bordered td {
      border-left: 1px solid #dddddd;
    }

    .table-bordered caption + thead tr:first-child th,
    .table-bordered caption + tbody tr:first-child th,
    .table-bordered caption + tbody tr:first-child td,
    .table-bordered colgroup + thead tr:first-child th,
    .table-bordered colgroup + tbody tr:first-child th,
    .table-bordered colgroup + tbody tr:first-child td,
    .table-bordered thead:first-child tr:first-child th,
    .table-bordered tbody:first-child tr:first-child th,
    .table-bordered tbody:first-child tr:first-child td {
      border-top: 0;
    }

    .table-bordered thead:first-child tr:first-child th:first-child,
    .table-bordered tbody:first-child tr:first-child td:first-child {
      -webkit-border-top-left-radius: 4px;
              border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
    }

    .table-bordered thead:first-child tr:first-child th:last-child,
    .table-bordered tbody:first-child tr:first-child td:last-child {
      -webkit-border-top-right-radius: 4px;
              border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
    }

    .table-bordered thead:last-child tr:last-child th:first-child,
    .table-bordered tbody:last-child tr:last-child td:first-child {
      -webkit-border-radius: 0 0 0 4px;
         -moz-border-radius: 0 0 0 4px;
              border-radius: 0 0 0 4px;
      -webkit-border-bottom-left-radius: 4px;
              border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
    }

    .table-bordered thead:last-child tr:last-child th:last-child,
    .table-bordered tbody:last-child tr:last-child td:last-child {
      -webkit-border-bottom-right-radius: 4px;
              border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
    }

    .table-striped tbody tr:nth-child(odd) td,
    .table-striped tbody tr:nth-child(odd) th {
      background-color: #f9f9f9;
    }

    .table tbody tr:hover td,
    .table tbody tr:hover th {
      background-color: none;
    }


