


/* ==== NAVIGATION BAR ==============================
     ==================================================*/
.top-bar, .top-bar .expanded, .contain-to-grid
{
    /* Styling white bg */
    background-color: #F7F7F9 !important;
}

.back
{    
    width: 45px;
    height: 45px;
    text-transform: uppercase;
    float: left;
}

.modal {
    overflow: auto !important;
}

.top-bar .nav-container
{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

/* Custom styling for the planetshakers logo on nav bar*/
.top-bar .brand
{
    display: block;
    float: none;
    padding: 7px 20px 10px 20px;
    align-content: center;
}

.logo
{
    margin-left: 10%;
}

/* Small menu bar */
.top-bar .toggle-topbar.menu-icon a
{
    color: #888888;
}

/* Custom styles for the nav dropdown*/
.top-bar-section .has-dropdown > a:after
{
    border-color: transparent transparent transparent rgba(51, 51, 51, 0.5);
}
@media only screen and (min-width: 58.75em)
{
    .top-bar-section .dropdown
    {
        background-color: #fafafa;
        border-top: none;
    }
    .top-bar-section .has-dropdown > a:after
    {
        border-color: rgba(51, 51, 51, 0.5) transparent transparent transparent;
    }
}

.top-bar-section ul, .top-bar-section ul li, .top-bar-section ul li > a, .top-bar-section li a:not(.button), .top-bar.expanded .title-area, .top-bar-section .dropdown li.title h5 a
{
    color: #777777; /* changed color from white to... #777777*/
    background: transparent; /* removed background color*/
}

.top-bar-section li a:not(.button):hover
{
    /* custom colors, overrides foundation styles*/
    color: #333333;
    background-color: #F0F0F0;
}

.nav-signup
{
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background-color: #2284a1;
}

.divider
{
    border-color: #F0F0F0;
}

/* Dividers */
.top-bar-section .divider, .top-bar-section [role="separator"]
{
    border-bottom: solid 1px #E0E0E0;
    border-top: none;
    clear: both;
    height: 1px;
    width: 100%;
}
@media only screen and (min-width: 58.75em)
{
    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"]
    {
        border-bottom: none;
        border-top: none;
        border-right: solid 1px #E0E0E0;
        border-left: none;
        clear: none;
        height: 45px;
        width: 0px;
    }
}

/* ==== GENERAL STUFF ==============================
     ==================================================*/
.inline-block
{
    display: inline-block;
}

.border-bottom
{
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
}

.form-label
{
    text-align: right;
}

.forgot-password
{
    display: block;
    font-size: 14px;
    padding-bottom: 10px;
}

.field-validation-error
{
    display: block;
    margin: 0 0 1em 0;
    padding: 0.625em 0;
    font-size: .875em;
    color: red;
}

.right {
    float: right;
}

.right-align{
    text-align: right;
}

.bottom {
    right: 0;
    bottom: 0;
}

.hidden {
    display: none;
}

.button, .button.disabled, .button.disabled:hover, .button:focus
{
    background-color: #ED1941;
    border-color: #ED1941;
}
.button:hover
{
    background-color: #fff;
    border-color: #ED1941;
    color: #ED1941;
}

button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus
{
    border-color: #d0d0d0;
    background-color: #d0d0d0;
}
button.secondary, .button.secondary
{
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    color: #333;
}

a:active {
    color: white
}

@media only screen and (max-width: 767px)
{
    .button
    {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .form-label
    {
        text-align: left;
        padding-bottom: 0;
    }
}

/* ==== ACCOUNT REGISTRATION PAGE =====================
   ==================================================== */
.account-registration-header h3
{
    display: inline-block;
    padding-right: 15px;
}

.account-registration-header a
{
    display: inline-block;
    background: #f1f1f1;
    font-family: sans-serif;
    padding: 5px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    font-size: 14px;
    border: 0 none;
}

/* ==== FORMS =========================================
   ==================================================== */
form.custom .question-row
{
    margin: 15px 0px;
}

form.custom textarea
{
    resize: vertical;
}

form.custom .question-label
{
    font-weight: bold;
}

form.custom .radio-btn
{
    margin-top: 10px;
}

form.custom .radio-btn > span
{
    padding-left:2px;
}

form.custom p 
{
    text-align:justify;
}

#profile-pic 
{
    border: 1px #DDDDDD solid;
    padding: 5px;
    width: 100%;
}

/* ==== EVENT INDEX PAGE ==============================
   ==================================================== */
.event-row
{
    padding: 10px 0;
    margin-bottom: 30px !important;
    border: solid 1px #c6c6c6;
}

.event-info
{
    padding: 5px 0;
    font-size: 14px;
    line-height: 16px;
}

.event-info > .button, .event-info2 > .button
{
    position: absolute;
    width: 100%;
    bottom: 5px;
    margin-bottom: 0;
}

.event-banner
{
    width: 100%;
}

.event-reg-container
{
    box-shadow: 0 0 10px 5px #c6c6c6;
    padding-bottom: 25px;
    margin-bottom: 100px;
}

@media only screen and (min-width: 767px)
{
    .event-submit-button
    {
        margin-top: -30px;
        margin-bottom: -15px;
    }
}

/* ==== EVENT REGISTRATION PAGE ==============================
     ==================================================*/
.event-banner-container
{
    margin-bottom: 20px !important;
}

.new-rego-header > h4, .current-rego-header > h4
{
    display: inline-block;
    margin-right: 4px;
}
.new-rego-header > a, .current-rego-header > a
{
    display: inline-block;
    background: #f1f1f1;
    font-family: sans-serif;
    padding: 3px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    font-size: 12px;
    border: 0 none;
}

.rego-groups
{
    display: none;
}

.reg-category-btn, .reg-category-btn:hover
{
    background-color: #ED1941;
    color: #fff;
}

.fa-plus:hover {
    transform: scale(1.2);
}

/* === TERMS AND CONDITIONS PAGE ======================================
    =======================================================*/
.terms-conditions-container div
{
    margin-bottom: 10px;
    line-height: 16px;
}

/* === COURSE ENROLMENT ======================================
    =======================================================*/
.enrolled-course
{
    margin-bottom: 5px;
}

.enrolled-course-inner
{
    background-color: #F7F7F9;
    padding: 5px;
}

a.back-btn {
    position: absolute;
    top: 0;
    padding-left: 20px;
    line-height: 45px;
    text-align: right;
    z-index: 9000;
    display: block;
    color: #808080 !important;
    font-size: 1em;
    font-weight: bold
}



.legend-link {
    font-weight: normal;
    font-size: 12px;
    border: #DDD solid 1px;
    padding: 4px 5px;
}

/* === TABLES =============================================
    =======================================================*/

.cell-overflow {
    max-width: 200px;
    overflow-x: auto;
}
.expand {
    width: 100%;
    overflow-x: hidden;
}

.expand-fit {
    display: block;
    max-width: 900px;
    overflow-x: auto;
    max-height: 600px;
    overflow-y: auto;
}

.expand-report {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.expand-table {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: middle;
}

.height-fit {
    height: 540px;
    overflow-y: auto;
}


.number {
    width: calc(16% - 5em);
    text-align: right;
}


#contactList {
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* === FORMS ==============================================
    =======================================================*/

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.redstar {
    display: inline;
    color: red;
}

label {
    display: inline;
    font-weight: bolder;
}

.form-subsection-title {
    font-weight: bold;
    background-color: #434343;
    color: white;
    padding: 5px;
}

/* === CONFERENCE CHECK IN ================================
    =======================================================*/

.vip {
    background-color: #90ee90 !important;
    color: #000 !important;
    font-weight: bolder;
}

.planetbusiness {
    background-color: #000000 !important;
    color: #FFFFFF !important;
    font-weight: bolder;
}

.coaches {
    background-color: #FFD700 !important;
    color: #000000 !important;
    font-weight: bolder;
}

.pastor {
    background-color: #40e0d0 !important;
    color: #000000 !important;
}

.planetkids {
    background-color: #FFB6C1 !important;
}

.deposit {
    background-color: #ffaa00 !important;
    font-weight: bolder;
}

.friday-only {
    background-color: #f5f5dc !important;
    font-weight: bolder;
}

.saturday-only {
    background-color: #e62c2c !important;
    font-weight: bolder;
}

.partial {
    background-color: #f7ff5c !important;
    font-weight: bolder;
}

.outstanding {
    background-color: #ff7d7d !important;
    font-weight: bolder;
}

/*==========================================Event Report======================================*/

.first-column-fix-width td:nth-child(1){
    width: 250px;
}

.fieldset-margin {
    margin-bottom: 40px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
}

/*===================================CheckBox class to align with text ===========================*/
.checkbox {
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden;
    padding: 0px!important;
    margin: 0px!important;
}

.reveal-modal-bg {
    position: fixed;
}

.reveal-modal {
    top: 100px !important;
}

.center-align{
    vertical-align: middle;
    text-align: center;
}

.vertical-centered{
    vertical-align: middle;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%
}

.table td {
    vertical-align: middle;
}

.card{
    word-wrap: normal;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.prefix{
    display: block;
    position: relative;
    text-align: center;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
}

span.prefix, label.prefix {
    background: #f2f2f2;
    border-color: #d9d9d9;
    border-right: none;
    color: #333333;
}

.multi-select-btn {
    border: solid 1px #ced4da;
    background-color: white;
}

/*-----autocomplete------*/
.autocomplete {
    /*the container must be positioned relative:*/
    position: static;
    display: inline-block;
    float: none !important;
    max-height: 100px;
}
.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 1000;
    position: relative;
    /*position the autocomplete items to be the same width as the container:*/
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #e9e9e9;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
    color: grey;
}

.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #e7ecf1;
    margin: 10px 0 !important;
}