﻿@using Planetshakers.Events.Models
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#forgetPasswordForm").validate(
            {
                rules: {
                    email:
                    {
                        required: true,
                        email: true
                    }
                }
            });
    });
</script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<div class="vertical-center">
    <div class="container-fluid">

        <div class="container" style="padding:20px">
            <br />
            @if (ViewBag.forgetPass != null)
            {<div class="alert alert-success" role="alert">@ViewBag.forgetPass</div>

        }
            <!--Feng: Modified 29/08/18 if email doesnt exist in db, return this warning message-->
            @if (ViewBag.emailNotExist != null)
            {<div class="alert alert-danger" role="alert">@ViewBag.emailNotExist</div>

        }
        </div>


        <div class="container" style="padding:20px">
            <div class="card card-shadow">
                <div class="card-body">
                    @*<h2 class="card-title text-black-100 text-center">Planetshakers Mobile</h2><br />*@
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3" style="text-align: center;">
                            <div class="p-5">
                                <div style="text-align: center">
                                    <img class="mb-2 h-25 w-25" src="@Url.Content("~/Content/images/circle-logo.png")" alt="Planetshakers" style="width:100%; max-width:360px;" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="form-group" id="forgetPasswordForm" method="post" action="@(Url.Action("ForgetPassword", "Account"))">
                        <div style="text-align: center">
                            <h5 class="card-text">To request a password reset, please enter you email address below.</h5><br />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" data-val="true" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-user btn-block">Request Email Confirmation</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>