﻿@using Planetshakers.Mobile.Models
@model Planetshakers.Mobile.Models.GPlusLogOnModel
@{
    ViewBag.Title = "GPlusLogOn";
    ViewBag.ButtonSubmit = "Data Sign in";
}
<h3>GPlusLogOn</h3>
<!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->

         <script >
 //            $(document).ready(function () {
                 function onSignIn(googleUser) {
                     var profile = googleUser.getBasicProfile();
  //                   alert('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                     console.log('Name: ' + profile.getName());
                     console.log('Image URL: ' + profile.getImageUrl());
                     console.log('Email: ' + profile.getEmail());
                     var data = new Object();
                     data = JSON.stringify(profile);
   //                  PlusData = data;
    //                 var gData = document.getElementById('PlusData');
          //           gData.appendChild(data);
                     //           document.setElementById('PlusData') = data;
                     gData = data;
                 }

                 function onSign() {
                     /*                 UserName="Chandru";*/
              //       var gData = document.getElementById('PlusData');
                //     gData = "test chandru";
            //         PlusData = "tetst chan";
                    /* $.ajax({
                         type: 'POST',
                         contentType: 'application/text; charset=utf-8',
                         url: 'GPlusLogOn',
                         data: abc,
                         dataType: 'text',
                     });*/

                 }

                 function onFailure(googleuser) {
                     alert("Login failed.");
                 }
//             }
  </script>

              <form action="@(Url.Action("GPlusLogOn", "Account"))" method="post" >
           
 <div class="row">
                <div>
                    <div class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onFailure">
                    </div>
                    <div>
                       <input type="text" data-val="true" id="PlusData" name="PlusData"  />
                        <span data-valmsg-for="PlusData" data-valmsg-replace="true" ></span>
                        <input type="submit" class="small button" value="Data Sign in" onclick="onSign()">
                    </div>
                        <!--<input type="submit" />-->
                </div>
                </div>
                </form>

