@model Planetshakers.Events.Models.LogOnModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Login";
    ViewBag.ButtonSubmit = "Sign in";
    var sitekey = "6Lf9auwdAAAAAOSwokBVpptP_Nj85ClMI0omC8uH";
}

<script src='https://www.google.com/recaptcha/api.js' async defer type="text/javascript"></script>
<script src="https://www.google.com/recaptcha/api.js?render=@sitekey"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute("@sitekey", { action: "login" }).then(function (token) {

            $.ajax({
                type: "POST",
                url: "/Account/verifyCaptcha",
                data: { "token": token },
                success: function (response) {
                    //console.log(response);

                    if (response.score <= 0.5) {
                        $("#grcaptcha").show();

                        if ($("#grcaptcha").is(":visible")) {
                            $("#logon_submit").attr("disabled", true);
                        }
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })
        });
    });

    function onRecaptchaCallback() {
        $("#logon_submit").attr("disabled", false);
    }
</script>

<div class="container">
    <div class="col-xl-10 col-lg-12 col-md-9" style="max-width:100%">
        <div class="card o-hidden border-0 shasow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    @*<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>*@
                    <div class="col-lg-6" onload="load_me()" style="margin:auto">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Believe Admin</h1>
                                <img src="~/Content/images/circle-logo.png" class="mb-2 h-25 w-25" />
                                <br />
                                <br />
                            </div>
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="p-0 alert alert-danger" style="font-size: 13px;" role="alert">
                                    <strong>@Planetshakers.Events.Helpers.ViewExtensions.ErrorValidationSummary(this.Html, "")</strong>
                                </div>
                            }
                            @if (TempData["successResetPass"] != null)
                            {
                                <div class="p-0 alert alert-success" role="alert">
                                    @Html.Encode(TempData["successResetPass"])
                                </div>
                            }
                            @if (TempData["linkExpired"] != null)
                            {
                                <div class="p-0 alert alert-warning" role="alert">
                                    @Html.Encode(TempData["linkExpired"])
                                </div>
                            }
                            <form id="logon" name="logon" class="user" action="@(Url.Action("LogOn", "Account"))" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="UserName" name="UserName" data-val="true" data-val-required="The Email field is required." placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" id="Password" name="Password" placeholder="Password" data-val="true" data-val-required="The Password field is required.">
                                </div>
                                <input id="logon_submit" name="submit" value="Sign In" type="submit" class="btn btn-primary btn-user btn-block">
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("ForgetPassword","Account")">Forgot Password?</a>
                            </div>
                            @*<div class="text-center">
            <a class="small" href="@Url.Action("ForgetPassword","Account")">No account? Sign up here!</a>
        </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>