﻿
@using System.Web;

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#changePasswordForm").validate(
            {
                rules:
                {
                    newpassword: "required"
                    ,
                    confirmedpassword: "required" 
                {
                equalTo: "#newpassword"
                }
            }
        });
    });
</script>
<div class="vertical-center">
    <div class="container-fluid">


        <div class="container">
            <br /><br />
            <div class="card card-shadow">
                <div class="card-body">
                    <h1 class="card-title text-black-100 text-center">
                        Password Reset
                    </h1>
                    <div id="passwordlencheck" style="display:none">
                        <div class="alert alert-danger font-weight-bold">Passwords length must be larger than 8 characters.</div>
                    </div>
                    <div id="passwordmatchcheck" style="display:none">
                        <div class="alert alert-danger font-weight-bold">Passwords do not match.</div>
                    </div>
                    @if (ViewBag.passResetResult != null)
                    {
                        <div class="alert alert-success">@ViewBag.passResetResult</div>
                    }
                    <br />
                    <form class="form-group" id="changePasswordForm" method="post">
                        <div class="form-group">
                            <label class="text-black-100">New Password</label>
                            <input type="password" class="form-control form-control-user" name="newpassword" id="newpassword" placeholder="Password must be between 8 to 20 characters" maxlength="20" />
                        </div>
                        <div class="form-group">
                            <label class="text-black-100">Confirm Password</label>
                            <input type="password" class="form-control form-control-user" maxlength="20" name="confirmedpassword" id="confirmedpassword" />
                        </div>
                        <br />
                        <button id="password-submit" type="submit" class="btn btn-primary" disabled>Confirm Password</button>
                    </form>

                </div>
            </div>
        </div>


    </div>
</div>
