﻿@model Planetshakers.Mobile.Models.VolunteerModel
@using Planetshakers.Mobile.Models
@{
    ViewBag.Title = "Planetshakers Church Volunteer Application";
}
@helper RenderQuestion(Question q) {
    if (q.type.Equals("Text")) {
        <div class="row">
            <div class="columns">
                @if (q.required) {    
                    <label class="question-label">@q.question
                    <span style="color:Red"> * </span></label>
                    <input id="@(q.question_ID)" type="text" name="@(q.question_ID)" required/>  
                } else { 
                    <label class="question-label">@q.question</label>
                    <input id="@(q.question_ID)" type="text" name="@(q.question_ID)"/>  
                }
            </div>
        </div>
    } else if (q.type.Equals("TextArea")) {
        <div class="row">
            <div class="columns question-row">
            @if (q.required) {
                <label class="question-label">@q.question
                <span style="color:Red"> * </span></label>
                <textarea id="@(q.question_ID)" name="@(q.question_ID)" required></textarea>
            } else { 
                <label class="question-label">@q.question</label>
                <textarea id="@(q.question_ID)" name="@(q.question_ID)"></textarea>
            }
            </div>
        </div>
    } else if (q.type.Equals("Date")) {
        <div class="row">
            <div class="columns">
                @if (q.required) {    
                    <label class="question-label">@q.question
                    <span style="color:Red"> * </span></label>
                    <input id="@(q.question_ID)" type="text" name="@(q.question_ID)" class="date-field" required/>  
                } else { 
                    <label class="question-label">@q.question</label>
                    <input id="@(q.question_ID)" type="text" name="@(q.question_ID)" class="date-field"/>  
                }
            </div>
        </div>
    } else if (q.type.Equals("YN")) {
        <div class="row">
            <div class="columns question-row">
                @if (q.required) { 
                    <label class="question-label">@q.question
                    <span style="color:Red"> * </span></label>
                    <label class="radio-btn" for="@(q.question_ID)_Y">
                        <input type="radio" name="@(q.question_ID)"
                                id="@(q.question_ID)_Y" value="Yes" required/>
                        <span class="custom radio"></span> Yes
                    </label>
                    <label class="radio-btn" for="@(q.question_ID)_N">
                        <input type="radio" name="@(q.question_ID)"
                               id="@(q.question_ID)_N" value="No" />
                        <span class="custom radio"></span> No
                    </label>
                    <label for="@(q.question_ID)" class="error"></label>
                } else {
                    <label class="question-label">@q.question</label>
                    <label class="radio-btn" for="@(q.question_ID)_Y">
                        <input type="radio" name="@(q.question_ID)"
                               id="@(q.question_ID)_Y" value="Yes" />
                        <span class="custom radio"></span> Yes
                    </label>
                    <label class="radio-btn" for="@(q.question_ID)_N">
                        <input type="radio" name="@(q.question_ID)"
                               id="@(q.question_ID)_N" value="No" />
                        <span class="custom radio"></span> No
                    </label>
                }
            </div>
        </div>
    } else if (q.type.Equals("YNO")) {
        <div class="row">
            <div class="columns question-row">
            @if (q.required) {
                <label class="question-label">@q.question
                <span style="color:Red"> * </span></label>
                <label class="radio-btn" for="@(q.question_ID)_Y">
                    <input type="radio" name="@(q.question_ID)" 
                           id="@(q.question_ID)_Y" value="Yes" required/>
                    <span class="custom radio"></span> Yes
                </label>
                <label class="radio-btn" for="@(q.question_ID)_N">
                    <input type="radio" name="@(q.question_ID)"
                           id="@(q.question_ID)_N" value="No" />
                    <span class="custom radio"></span> No
                </label>
                <label class="radio-btn" for="@(q.question_ID)_O">
                    <input type="radio" name="@(q.question_ID)"
                           id="@(q.question_ID)_O" value="Ongoing" />
                    <span class="custom radio"></span> Ongoing
                </label>
                <label for="@(q.question_ID)" class="error"></label>
            } else {
                <label class="question-label">@q.question</label>
                <label class="radio-btn" for="@(q.question_ID)_Y">
                    <input type="radio" name="@(q.question_ID)" 
                           id="@(q.question_ID)_Y" value="Yes" />
                    <span class="custom radio"></span> Yes
                </label>
                <label class="radio-btn" for="@(q.question_ID)_N">
                    <input type="radio" name="@(q.question_ID)"
                           id="@(q.question_ID)_N" value="No" />
                    <span class="custom radio"></span> No
                </label>
                <label class="radio-btn" for="@(q.question_ID)_O">
                    <input type="radio" name="@(q.question_ID)"
                           id="@(q.question_ID)_O" value="Ongoing" />
                    <span class="custom radio"></span> Ongoing
                </label>
            }
            </div>
        </div>
    } else if (q.type.Equals("YN+E")) {
        <div class="row"> 
            <div class="columns question-row">
                <label class="question-label">@(q.question)
                <span style="color:Red"> * </span></label>
                <label class="radio-btn" for="@(q.question_ID)_Y">
                    <input type="radio" name="@(q.question_ID)_radio"
                            id="@(q.question_ID)_Y" value="Yes" required/>
                    <span class="custom radio"></span> Yes
                </label>
                <label class="radio-btn" for="@(q.question_ID)_N">
                    <input type="radio" name="@(q.question_ID)_radio"
                            id="@(q.question_ID)_N" value="No" />
                    <span class="custom radio"></span> No
                </label>
                <label for="@(q.question_ID)_radio" class="error"></label>
            </div>
            <div class="columns">
                <label class="question-label">If yes, explain</label>
                <textarea id="@(q.question_ID)" class="reason" name="@(q.question_ID)"></textarea>
            </div>
        </div>
    } else if (q.type.Equals("Contact")) {
        <fieldset>
        @if (q.required) { 
            <legend>@q.question <span style="color:Red"> * </span></legend>
            <div class="row">
                <div class="columns">
                    <label class="question-label">Name:
                    <span style="color:Red"> * </span></label>
                    <input id="@(q.question_ID)_Name" name="@(q.question_ID)_Name" type="text" required/>
                </div>
                <div class="columns">
                    <label class="question-label">Nature of Relationship:
                    <span style="color:Red"> * </span></label>
                    <input id="@(q.question_ID)_Association" name="@(q.question_ID)_Association" type="text" required/>
                </div>
                <div class="columns">
                    <label class="question-label">Length known:
                    <span style="color:Red"> * </span></label>
                    <input id="@(q.question_ID)_TimeKnown" name="@(q.question_ID)_TimeKnown" type="text" required/>
                </div>
                <!--<div class="columns">
                    <label class="question-label">Occupation
                    <span style="color:Red"> * </span></label>
                    <input id="@(q.question_ID)_Occupation" name="@(q.question_ID)_Occupation" type="text" required/>
                </div>
                <div class="columns">
                    <label class="question-label">Address
                    <span style="color:Red"> * </span></label>
                    <input id="@(q.question_ID)_Address" name="@(q.question_ID)_Address" type="text" required/>
                </div>-->
                <div class="columns">
                    <label class="question-label">Contact Number:
                    <span style="color:Red"> * </span></label>
                    <input id="@(q.question_ID)_ContactNo" name="@(q.question_ID)_ContactNo" type="text" required/>
                </div>
            </div>
        } else {
            <legend>@q.question</legend>
        <div class="row">
            <div class="columns">
                <label class="question-label">Name</label>
                <input id="@(q.question_ID)_Name" name="@(q.question)_Name" type="text"/>
            </div>
            <div class="columns">
                <label class="question-label">Length of time known</label>
                <input id="@(q.question_ID)_TimeKnown" name="@(q.question)_Name" type="text"/>
            </div>
            <div class="columns">
                <label class="question-label">Association</label>
                <input id="@(q.question_ID)_Association" name="@(q.question)_Name" type="text"/>
            </div>
            <div class="columns">
                <label class="question-label">Occupation</label>
                <input id="@(q.question_ID)_Occupation" name="@(q.question)_Name" type="text"/>
            </div>
            <div class="columns">
                <label class="question-label">Address</label>
                <input id="@(q.question_ID)_Address" name="@(q.question)_Name" type="text"/>
            </div>
            <div class="columns">
                <label class="question-label">Home Phone</label>
                <input id="@(q.question_ID)_HomePhone" name="@(q.question)_Name" type="text"/>
            </div>
            <div class="columns">
                <label class="question-label">Work Phone</label>
                <input id="@(q.question_ID)_WorkPhone" name="@(q.question)_Name" type="text"/>
            </div>
        </div>
        }
        
        </fieldset>
    }
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            // Initialise 'YN+E' type of questions to the right states
            toggleExplanationFields();

            // the datepicker
            $('.date-field').fdatepicker({
                format: 'dd MM yyyy'
            });

            // Attach a trigger to toggle explanation fields for the 'YN+E' question types.
            $("#volunteerForm").validate();
            $(".reason").rules("add", {
                required: {
                    depends: function (element) {
                        var id = $(element).attr('id');
                        return $("#" + id + "_Y:checked")
                    }
                }
            });

            // Triggers
            // Places a trigger on the radio buttons to toggle the explanation field.
            $(".reason").each(function () {
                var question_id = $(this).attr('id');
                $('form input[name=' + question_id + '_radio]').change(function () {
                    toggleExplanationFields();
                });
            });

            // Functions
            //disable the textarea for 'YN+E' type questions if 'Yes' is not selected
            function toggleExplanationFields() {
                $(".reason").each(function () {
                    var question_id = $(this).attr('id');
                    if ($('form input[name=' + question_id + '_radio]:checked').val() == "Yes") {
                        $(this).prop('disabled', false);
                    }
                    else {
                        $(this).prop('disabled', true);
                        $(this).removeClass('error');
                    }
                });
            }
        });

        
    </script>
}

<div class="row">
    <div class="large-9 large-centered columns">
        <div class="row">
            <div class="large-12 columns border-bottom">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <p>(Confidential)</p>
                <p>Thank you for expressing interest in serving at Planetshakers Church. To maintain our commitment to
                   excellence, this application is necessary for preserving our safe environment and complying with the
                   National Child Protection requirements from the A.O.G. We thank you for joining with us in our
                   commitment to protect our young people and look forward to ministering together. </p>
                <p>You must fully and accurately complete this Volunteer Application. </p>
                <p>Information contained within this application will remain confidential and will only be disclosed
                   to those individuals needing to know in order to carry out their responsibilities for Planetshakers
                   Church or as required by law.</p>
                <p>NOTE: This will take approximately 5-10 minutes to complete.</p>
            </div>
        </div>

        @if (Model.ErrorMessage != null) {
            <div class="alert-box alert">@Model.ErrorMessage</div>
        }
        @if (Model.SuccessMessage != null) {
            <div class="alert-box success">@Model.SuccessMessage</div>
        }
        @using (Html.BeginForm("Volunteer", "Account", FormMethod.Post, new { @class = "custom", @id = "volunteerForm" })) {
            <fieldset> 
                <legend>Personal Details 
                    @Html.ActionLink("Update Details", "Update", "Account", new { @class = "legend-link" })
                </legend>
                <div class="row">
                    <div class="columns">
                        <label class="question-label">Name</label>
                        @Html.TextBoxFor(m => m.Name, new { @disabled = "disabled" })
                        @Html.HiddenFor(m => m.Name)
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <label class="question-label">Date of birth</label>
                        @Html.TextBoxFor(m => m.Dob, new { @disabled = "disabled" })
                        @Html.HiddenFor(m => m.Dob)
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <label class="question-label">Address</label>
                        @Html.TextBoxFor(m => m.Address, new { @disabled = "disabled" })
                        @Html.HiddenFor(m => m.Address)
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <label class="question-label">Contact Number</label>
                        @Html.TextBoxFor(m => m.Phone, new { @disabled = "disabled" })
                        @Html.HiddenFor(m => m.Phone)
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <label class="question-label">Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @disabled = "disabled" })
                        @Html.HiddenFor(m => m.Email)
                    </div>
                </div>
                @foreach (Question q in Model.PersonalDetails) {
                    @RenderQuestion(q)
                }
            </fieldset>
            <fieldset> <legend>General</legend>
                <div class="row">
                    <div class="columns">
                        <label class="question-label">Which campus do you attend?
                        <span style="color:Red"> * </span></label>
                        @if (Model.Campus != null) {
                            @Html.TextBox("txtCampus",
                                          Model.CampusList.First<SelectListItem>(x => x.Value.Equals(Model.Campus.ToString())).Text,
                                          new { @disabled = "disabled" })
                            @Html.HiddenFor(m => m.Campus)
                        } else { 
                            @Html.DropDownListFor(m => m.Campus, Model.CampusList, "",
                                                  new { @required = "" })
                        }
                        
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <label class="question-label">Ministry
                        <span style="color:Red"> * </span></label>
                        @if (Model.Ministry != null) {
                            @Html.TextBox("txtMinistry",
                                          Model.MinistryList.First<SelectListItem>(x => x.Value.Equals(Model.Ministry.ToString())).Text,
                                          new { @disabled = "disabled" })
                            @Html.HiddenFor(m => m.Ministry)
                        } else { 
                            @Html.DropDownListFor(m => m.Ministry, Model.MinistryList, "",
                                                  new { @required = "" })
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <label class="question-label">Region
                        @if (Model.Region != null) {
                            @Html.TextBox("txtRegion",
                                          Model.RegionList.First<SelectListItem>(x => x.Value.Equals(Model.Region.ToString())).Text,
                                          new { @disabled = "disabled" })
                            @Html.HiddenFor(m => m.Region)
                        } else { 
                            @Html.DropDownListFor(m => m.Region, Model.RegionList, "")
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <label class="question-label">Urban Life Group
                        <span style="color:Red"> * </span></label>
                        @if (Model.ULG != null) {
                            @Html.TextBox("txtULG",
                                          Model.ULGList.First<SelectListItem>(x => x.Value.Equals(Model.ULG.ToString())).Text,
                                          new { @disabled = "disabled" })
                            @Html.HiddenFor(m => m.ULG)
                        } else {
                            @Html.DropDownListFor(m => m.ULG, Model.ULGList, "", new { @required = "" })
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <label class="question-label">Volunteer Area
                        <span style="color:Red"> * </span></label>
                            @Html.DropDownListFor(m => m.VolunteerArea, Model.VolunteerAreaList, "",
                                                  new { @required = "" })
                    </div>
                </div>
                @foreach (Question q in Model.GeneralQuestions) {
                    @RenderQuestion(q)
                }
            </fieldset>
            <fieldset> <legend>Personal</legend>
                @foreach (Question q in Model.PersonalQuestions) {
                    @RenderQuestion(q)
                }
            </fieldset>
            <fieldset> <legend>Contacts</legend>
                <p>Please list three people who you have known for at least one year who would be able to attest to 
                   your character and to your ability to work with children. Please note that one of these 
                   references must be from a pastor of Planetshakers Church. </p>
                @foreach (Question q in Model.Contacts) {
                    @RenderQuestion(q)
                }
            </fieldset>      
            <fieldset> <legend>Authenticity and Authorisation</legend>
                <p>The information contained in this application is correct to the best of my knowledge. I 
                   authorise any references listed in this application to give you any information (including 
                   opinions) that they have regarding my character and ability to work with children. I 
                   authorise the release of the information contained in this application to any ministry of 
                   Planetshakers Church in which I seek a position. I waive any right that I may have to 
                   inspect any information provided about me by any person or organisation identified 
                   by me in this application. </p>
                <p>I have carefully read and understand the criminal records release (on the following page) 
                   and sign this release as my own free act. </p>

                @foreach (Question q in Model.Authenticity) {
                    @RenderQuestion(q)
                }

                <p><b>Important: This section must be completed by every applicant regardless of criminal record. </b></p>
                <p>I hereby request and authorise the release of any information that pertains  to any record of 
                   convictions contained in law enforcement files or in any criminal file maintained on me whether 
                   local, state or national. I hereby release local, state and national law enforcement agencies 
                   from any and all liability resulting from disclosure. I further acknowledge that if a criminal 
                   background check is conducted, as may be required under the federal Child Abuse Prevention and 
                   Treatment Act, I may be denied access to children while the application is pending. I further 
                   understand that in accordance with this law, if I am denied a position because of a conviction 
                   that appears as a result of such search, I may challenge such information. </p>

                @foreach (Question q in Model.Authorisation) {
                    @RenderQuestion(q)
                }
            </fieldset>  
            <input class="submit button expand" type="submit" value="Submit" />
        }
    </div>
</div>