﻿@model Planetshakers.Events.Models.EmailMailingListViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="row mx-1">
    <div class="col-lg-12 mb-2" style="text-align: right">
        <button type="button" id="selectAllBtn" class="btn btn-secondary" onclick="SelectAll()">Select All</button>
    </div>
    <div class="col-lg-12">
        <table id="EmailMailingListResult" style="width: 100%;" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Mobile</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model.ResultList)
                {
                    <tr>
                        <td><input class="emailCheckbox" type="checkbox" onclick="ContactCheck(@contact.Contact_ID)" /></td>
                        <td>@contact.ContactName</td>
                        <td>@contact.Email</td>
                        <td>@contact.Mobile</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#EmailMailingListResult").length > 0) {
            $("#EmailMailingListResult").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                paging: true,
                //"pageLength": 10,
                "lengthMenu": [[-1], ["All"]],
                info: false,
                cache: false,
                scrollCollapse: true,
                responsive: true,
                processing: true,
                searching: true,

                bAutoWidth: true,
            });

            $('#EmailMailingListResult_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#EmailMailingListResult_paginate').addClass("mt-3 mt-md-2");
        }
    });
</script>
