﻿﻿@using System.Data
@model Planetshakers.Events.Models.EmailMailingListViewModel
@{
    ViewBag.Title = "Email Mailing List";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

<div class="row">
    <div class="col-lg-12 py-2 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>
</div>


<div class="row mx-1">
    <div class="col-lg-12" style="margin-bottom: 10px">
        <label>Trip:</label>
        @Html.DropDownListFor(m => m.Event_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class = "form-control", @id = "TripSelected", @onchange = "updateRegoType()" })
    </div>
    <div class="col-lg-12" id="multiSelRegoType" style="margin-bottom: 10px">
        <label>Registration Type:</label>
        <select id='RegoTypeSelected' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'></select>
    </div>
    <div class="col-lg-4" style="margin-bottom: 10px">
        <label>Campus:</label>
        @Html.DropDownList("Campus", Model.CampusList, new { @class = "form-control", @id = "FilterCampus", multiple = "multiple", @data_style = "multi-select-btn" })
    </div>

    <div class="col-lg-4" id="multiSelTeam" style="margin-bottom: 10px">
        <label>Teams:</label>
        <select id='FilterGroup' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'></select>
    </div>

    <div class="col-lg-4">
        <label>Roles:</label>
        @Html.DropDownList("Role", Model.RoleList, new { @class = "form-control", @id = "FilterRole", multiple = "multiple", @data_style = "multi-select-btn" })
    </div>
    <br />

    <div class="col-lg-6 py-2">
        <button class="btn btn-primary" onclick="GenerateMailingList()">Generate Report</button>
    </div>
    <div class="col-lg-6 col-sm-12 py-2" style="text-align: right">
        <button class="btn btn-primary mb-1" onclick="SendToSelfModal()">Send To Self</button>
        <button class="btn btn-primary mb-1" id="SendToCheckedBtn" onclick="SendToCheckedModal()" disabled>Send To Checked</button>
        <button class="btn btn-primary mb-1" id="SendToAllBtn" onclick="SendToAllModal()" disabled>Send To All</button>
    </div>
</div>

<div id="ReportResult"></div>

<div id="MailingListModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="mailingListModalTitle">Send to Self</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="mailingListModalBody">
                <div class="col-lg-12">
                    <label>Sender Email Address:</label>
                    @Html.DropDownList("SenderEmail", Model.EmailList, new { @class = "form-control", @id = "mailingList_SenderEmail" })
                    <br />

                    <label>Email Template ID:</label>
                    <input type="text" class="form-control" id="mailingList_TemplateID" />
                </div>
                <br />
                <div class="col-lg-12" id="mailingList_SendSection">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Campaign Name:</label>
                            <input type="text" class="form-control" id="mailingList_CampaignName" />
                            <br />
                        </div>
                        <div class="col-lg-12">
                            <label>Schedule Send Date and Time:</label>
                            <input type="text" class="form-control" id="mailingList_ScheduleTime" value="@Model.scheduleTime" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                <button class="btn btn-primary" id="sendBtn" onclick="SendToSelf()">Send</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="reportLoader" tabindex="-1" role="dialog" aria-labelledby="loadReport" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Generating Report</h3>
            </div>
            <div class="modal-body justify-content-center d-flex">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#RegoTypeSelected').selectpicker({
            noneSelectedText: ' All Registration Types '
        });
        $('#FilterCampus').selectpicker({
            noneSelectedText: ' All Campuses '
        });
        $('#FilterRole').selectpicker({
            noneSelectedText: ' All Roles '
        });
        $('#FilterGroup').selectpicker({
            noneSelectedText: ' All Teams '
        });
    })
    //open modals
    function SendToSelfModal() {
        $("#sendBtn").attr("onclick", "SendToSelf()");
        $("#mailingListModalTitle").html("Send to Self");
        $("#mailingList_SendSection").hide();
        $("#MailingListModal").modal("show");
    }
    function SendToCheckedModal() {
        $("#mailingList_SendSection").show();
        $("#sendBtn").attr("onclick", "SendToCheck()");
        $("#mailingListModalTitle").html("Send to Checked");
        $("#MailingListModal").modal("show");
    }
    function SendToAllModal() {
        $("#mailingList_SendSection").show();;
        $("#sendBtn").attr("onclick", "SendToAll()");
        $("#mailingListModalTitle").html("Send to All");
        $("#MailingListModal").modal("show");
    }

    //send mails
    function SendToSelf() {
        var template_id = $("#mailingList_TemplateID").val();
        var senderEmail = $("#mailingList_SenderEmail").val();
        if (template_id == "") {
            alert("Please enter a template ID")
        } else {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Administration/EmailMailingList_SendToSelf",
                data: {
                    "Template_ID": template_id,
                    "senderEmail": senderEmail,
                },
                success: function (json) {
                    $("#SendToCheckedBtn").prop("disabled", false);
                    $("#SendToAllBtn").prop("disabled", false);
                    $("#MailingListModal").modal("hide");
                },
                error: function () {
                }
            });
        }
    }
    function SendToCheck() {
        var template_id = $("#mailingList_TemplateID").val();
        var senderEmail = $("#mailingList_SenderEmail").val();
        var campaignName = $("#mailingList_CampaignName").val();
        var scheduleTime = $("#mailingList_ScheduleTime").val();

        if (template_id == "") {
            alert("Please enter a template ID")
        } else if (campaignName == "") {
            alert("Please enter a Campaign Name")
        } else if (scheduleTime == "") {
            alert("Please enter a Date/Time for Schedule Send Date and Time")
        } else {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Administration/EmailMailingList_Send",
                data: {
                    "Template_ID": template_id,
                    "senderEmail": senderEmail,
                    "campaignName": campaignName,
                    "scheduleTime": scheduleTime,
                    "SendToAll": false,
                },
                success: function (json) {
                    $("#MailingListModal").modal("hide");
                    alert("Scheduled Emails")
                },
                error: function () {
                    alert("Unable to schedule Emails")
                }
            });
        }
    }
    function SendToAll() {
        var template_id = $("#mailingList_TemplateID").val();
        var senderEmail = $("#mailingList_SenderEmail").val();
        var campaignName = $("#mailingList_CampaignName").val();
        var scheduleTime = $("#mailingList_ScheduleTime").val();

        if (template_id == "") {
            alert("Please enter a template ID")
        } else if (campaignName == "") {
            alert("Please enter a Campaign Name")
        } else if (scheduleTime == "") {
            alert("Please enter a Date/Time for Schedule Send Date and Time")
        } else {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Administration/EmailMailingList_Send",
                data: {
                    "Template_ID": template_id,
                    "senderEmail": senderEmail,
                    "campaignName": campaignName,
                    "scheduleTime": scheduleTime,
                    "SendToAll": true,
                },
                success: function (json) {
                    $("#MailingListModal").modal("hide");
                    alert("Scheduled Emails")
                },
                error: function () {
                    alert("Unable to schedule Emails")
                }
            });
        }
    }
    function ContactCheck(Contact_ID) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Administration/EmailMailingListCheckContact",
            data: { "Contact_ID": Contact_ID },
            success: function (json) {
            },
            error: function () {
            }
        });
    }

    function GenerateMailingList() {
        var Event_ID = $("#TripSelected").val();
        var CampusSelected = $("#FilterCampus").val();
        var RoleSelected = $("#FilterRole").val();
        var GroupSelected = $("#FilterGroup").val();
        var RegoTypeSelected = $("#RegoTypeSelected").val();

        var RegistrationTypeList = [];
        for (let i = 0; i < RegoTypeSelected.length; i++) {
            RegistrationTypeList.push(RegoTypeSelected[i])
        }
        var CampusList = [];
        for (let i = 0; i < CampusSelected.length; i++) {
            CampusList.push(CampusSelected[i])
        }
        var RoleList = [];
        for (let i = 0; i < RoleSelected.length; i++) {
            RoleList.push(RoleSelected[i])
        }
        var GroupList = [];
        for (let i = 0; i < GroupSelected.length; i++) {
            GroupList.push(GroupSelected[i])
        }
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Administration/GenerateEmailMailingList",
            data: {
                "Event_ID": Event_ID,
                "FilterRegoType": RegistrationTypeList,
                "FilterCampus": CampusList,
                "FilterRole": RoleList,
                "FilterGroup": GroupList,
            },
            success: function (json) {
                $("#ReportResult").html(json);
            },
            error: function () {
                alert("Unable to generate list.");
            }
        });
    }

    function updateRegoType() {
        var Conference_ID = $('#TripSelected').val();
        //update group drop down
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Report/GetConferenceRegoType",
            data: { "Conference_ID": Conference_ID },
            success: function (json) {
                var html = "";
                html += "<label>Registration Type: </label><select name='selValue' id='RegoTypeSelected' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'>";
                for (i = 0; i < json.Data.length; i++) {
                    html += "<option value = '" + json.Data[i].Value + "' >" + json.Data[i].Text + "</option > ";
                }
                html += "</select><br />";
                $("#multiSelRegoType").html(html);
                $('#RegoTypeSelected').selectpicker({
                    noneSelectedText: ' All Registration Type '
                });
            },
            error: function () {
                alert("There are some errors loading Registration Type.");
            }
        });
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Administration/GetGroup",
            data: { "Conference_ID": Conference_ID },
            success: function (json) {
                var html = "";
                html += "<label>Teams: </label><select id='FilterGroup' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'>";
                for (i = 0; i < json.list.length; i++) {
                    html += "<option value = '" + json.list[i].Value + "' >" + json.list[i].Text + "</option > ";
                }
                html += "</select><br />";
                $("#multiSelTeam").html(html);
                $('#FilterGroup').selectpicker({
                    noneSelectedText: ' All Teams '
                });
            },
            error: function () {
                alert("There are some errors loading Teams.");
            }
        });
    }

    function SelectAll() {
        $(".emailCheckbox").prop('checked', true);
        $('#selectAllBtn').text('Unselect All');
        document.getElementById("selectAllBtn").setAttribute("onclick", "UnselectAll()");
    } 

    function UnselectAll() {
        $(".emailCheckbox").prop('checked', false);
        $('#selectAllBtn').text('Select All');
        document.getElementById("selectAllBtn").setAttribute("onclick", "SelectAll()");
    }
</script>