﻿@model Planetshakers.Events.Models.ApplicationReportViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="row mx-1">
    <div class="col-lg-12">
        <h4>Summary</h4>
    </div>
</div>
<div class="row mx-1">
    <div class="col-lg-12">
        @*summmary if there are question type of checkbox or multiple-choice*@
        @if (Model.Summary.Count > 0)
        {
            foreach (var item in Model.Summary)
            {
                <strong>@item.Question</strong>
                <table style="width: 100%;" class="table table-bordered">
                    <tbody>
                        @foreach (var answer in item.Options)
                        {
                            <tr>
                                <td>@answer.option</td>
                                <td>@answer.count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }

        <br />
        <table id="ApplicationResultTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <td>Name</td>
                    @foreach (var question in Model.Questions)
                    {
                        <td>@question.Question</td>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var application in Model.Applications)
                {
                    <tr>
                        <td><a href="@Url.Action("GroupDetails", "Registration", new { Group_ID = application.Contact_ID, Conference_ID = Model.Event_ID })" target="_blank">@application.ContactName</a></td>
                        
                        @foreach (var question in Model.Questions)
                        {
                            <td>@application.Answers.Where(x => x.Question_ID == question.Question_ID).FirstOrDefault().Answer</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#ApplicationResultTable").length > 0) {
            $("#ApplicationResultTable").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                paging: true,
                //"pageLength": 10,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                info: false,
                cache: false,
                scrollCollapse: true,
                responsive: true,
                processing: true,
                searching: true,

                bAutoWidth: true,
            });

            $('#ApplicationResultTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#ApplicationResultTable_paginate').addClass("mt-3 mt-md-2");
        }
    });
</script>
