﻿@model Planetshakers.Events.Models.BankingReportBreakdown
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="row mx-1">
    <div class="col-lg-12">
        
        <table id="PaymentResultTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <td>Payment Type</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var instance in Model.report)
                {
                    <tr>
                        <td>@instance.PaymentType</td>
                        <td>@instance.Value</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</div>
