﻿@model Planetshakers.Events.Models.DocumentReportViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="row mx-1">
    <div class="col-lg-12">
        <h4>Summary</h4>
    </div>
</div>
<div class="row mx-1">
    <div class="col-lg-12">
        @*summmary if there are question type of checkbox or multiple-choice*@
        @if (Model.Summary.Count > 0)
        {
            
                <table style="width: 100%;" class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Document Type</td>
                            <td>Not Provided</td>
                            <td>Submitted</td>
                            <td>Approved</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Summary)
                        {
                            <tr>
                                <td>@item.DocumentType</td>
                                <td>@item.UnsubmitCount</td>
                                <td>@item.Submitted</td>
                                <td>@item.Approved</td>
                            </tr>
                        }
                    </tbody>
                </table>
        }

        <br />
        <table id="DocumentResultTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <td>Name</td>
                    @foreach (var doc in Model.DocumentTypes)
                    {
                        <td>@doc.DocumentType</td>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var application in Model.Applications)
                {
                    <tr>
                        <td><a href="@Url.Action("GroupDetails", "Registration", new { Group_ID = application.Contact_ID, Conference_ID = Model.Event_ID })" target="_blank">@application.ContactName</a></td>
                        @foreach (var doc in application.DocSubmit)
                        {
                            <td>@doc.status</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#DocumentResultTable").length > 0) {
            $("#DocumentResultTable").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                paging: true,
                //"pageLength": 10,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                info: false,
                cache: false,
                scrollCollapse: true,
                responsive: true,
                processing: true,
                searching: true,

                bAutoWidth: true,
            });

            $('#DocumentResultTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#DocumentResultTable_paginate').addClass("mt-3 mt-md-2");
        }
    });
</script>
