﻿@model Planetshakers.Events.Models.PaymentSummaryViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="row mx-1">
    <div class="col-lg-12">
        <h4>Summary</h4>
    </div>
</div>
<div class="row mx-1">
    <div class="col-lg-12">

        <table class="table table-bordered" style="width:100%;">
            <thead>
                <tr>
                    <td>Amount</td>
                    <td>Count</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.buckets)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#ApplicationResultTable").length > 0) {
            $("#ApplicationResultTable").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                paging: true,
                //"pageLength": 10,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                info: false,
                cache: false,
                scrollCollapse: true,
                responsive: true,
                processing: true,
                searching: true,

                bAutoWidth: true,
            });

            $('#ApplicationResultTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#ApplicationResultTable_paginate').addClass("mt-3 mt-md-2");
        }
    });
</script>
