﻿@model Planetshakers.Events.Models.PaymentReportViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="row mx-1">
    <div class="col-lg-12">
        
        <table id="PaymentResultTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <td>Contact_ID</td>
                    <td>First Name</td>
                    <td>Last Name</td>
@*                    <td>Total Cost</td>*@
                    <td>Paid</td>
  @*                  <td>Outstanding Amount</td>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var instance in Model.report)
                {
                    <tr>
                        <td><a href="@Url.Action("GroupDetails", "Registration", new { Group_ID = instance.Contact_ID, Conference_ID = Model.Event_ID })" target="_blank">@instance.Contact_ID</a></td>
                        <td>@instance.FirstName</td>
                        <td>@instance.LastName</td>
    @*                    <td>@instance.TotalCost</td>*@
                        <td>@instance.TotalPaid</td>
      @*                  <td>@instance.OutstandingAmount</td>*@
                    </tr>
                }
            </tbody>
        </table>
        <br />
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#PaymentResultTable").length > 0) {
            $("#PaymentResultTable").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                paging: true,
                //"pageLength": 10,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                info: false,
                cache: false,
                scrollCollapse: true,
                responsive: true,
                processing: true,
                searching: true,

                bAutoWidth: true,
            });

            $('#PaymentResultTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#PaymentResultTable_paginate').addClass("mt-3 mt-md-2");
        }
    });
</script>
