﻿@using System.Data;
@model Planetshakers.Events.Models.ReportModel

<div class="row">
    <div class="col-lg-12">
        @if (Model.displayReport && Model.reportType == "Group Summary")
        {
            DataTable table = Model.eventSummary.ds.Tables[0];
            table.Columns[0].ColumnName = "Group #";

            table.Columns.Remove("GroupLeader_ID");
            table.Columns[1].ColumnName = "Group Name";
            table.Columns[2].ColumnName = "Group Leader";
            table.Columns[7].ColumnName = "Purchased Registrations";
            table.Columns[8].ColumnName = "Allocated Registrations";
            table.Columns[9].ColumnName = "Unallocated Registrations";
            table.Columns[11].ColumnName = "Total Cost";
            table.Columns[12].ColumnName = "Total Payments";
            table.Columns.Remove("Order");

            <div class="card">
                <div class="card-body shadow">
                    <h4>Total: @table.Rows.Count</h4>
                    <table id="groupSummaryTable" class="table table-bordered">
                        <thead>
                            <tr>
                                @foreach (DataColumn col in table.Columns)
                                {
                                    <th>@col.ColumnName</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in table.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn col in table.Columns)
                                    {
                                        if (col.ColumnName == "Total Cost" || col.ColumnName == "Total Payments" || col.ColumnName == "Outstanding")
                                        {
                                            <td class="number">@row[col.ColumnName].ToString()</td>
                                        }
                                        else
                                        {
                                            <td>@row[col.ColumnName]</td>

                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (Model.displayReport && Model.reportType == "Single Registrations")
        {

            // Adjust titles for table 1, then add the relevant columns that do not exist yet.
            DataTable table1 = Model.eventSummary.ds.Tables[0];
            DataTable table2 = Model.eventSummary.ds.Tables[1];
            table1.Columns[0].ColumnName = "Contact ID";
            table1.Columns[1].ColumnName = "First Name";
            table1.Columns[2].ColumnName = "Last Name";
            table1.Columns[7].ColumnName = "Cost";
            table1.Columns[8].ColumnName = "Paid";

            // Do some joining
            DataTable dt = new DataTable();

            var joinTable = (from t1 in table1.AsEnumerable()
                             join t2 in table2.AsEnumerable() on t1["Contact ID"] equals t2["Contact_ID"]
                             select new { t1, t2 });

            foreach (DataColumn col in table1.Columns)
            {
                dt.Columns.Add(col.ColumnName, typeof(string));
            }


            foreach (DataColumn col in table2.Columns)
            {
                if (col.ColumnName != "Contact ID")
                {
                    dt.Columns.Add(col.ColumnName, typeof(string));
                }

            }

            foreach (var row in joinTable)
            {
                // Take the rows from both tables, then do some modifications to the fields in the second table
                // so that in the end, the concat of both rows fits the fields of the joined table.
                var newRow = dt.NewRow();
                var t1Array = row.t1.ItemArray.ToArray();

                var t2Array = row.t2.ItemArray.ToArray();

                t2Array = t2Array.Skip(1).ToArray();

                var rowArray = t1Array.Concat(t2Array).ToArray();


                //newRow.ItemArray = row.t1.ItemArray.Union(row.t2.ItemArray).ToArray();
                newRow.ItemArray = rowArray;

                dt.Rows.Add(newRow);
            }

            <div class="card">
                <div class="card-body shadow">
                    <h4>Total: @dt.Rows.Count</h4>
                    <table id="singleRegoTable" class="table table-bordered">
                        <thead>
                            <tr>
                                @foreach (DataColumn col in dt.Columns)
                                {
                                    <th>@col.ColumnName</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in dt.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn col in dt.Columns)
                                    {
                                        if (col.ColumnName == "Cost" || col.ColumnName == "Paid" || col.ColumnName == "Outstanding")
                                        {

                                            <td class="number">@Decimal.Parse(row[col.ColumnName].ToString()).ToString("0.00")</td>
                                        }
                                        else
                                        {
                                            <td>@row[col.ColumnName]</td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (Model.displayReport && Model.reportType == "Group Registrations")
        {
            // Establish the tables as variables, then do some renaming of columns.
            DataTable table1 = Model.eventSummary.ds.Tables[1];
            DataTable table2 = Model.eventSummary.ds.Tables[2];

            table1.Columns[1].ColumnName = "First Name";
            table1.Columns[2].ColumnName = "Last Name";
            table1.Columns[4].ColumnName = "Registration #";
            table1.Columns[5].ColumnName = "Group";


            table2.Columns[1].ColumnName = "Registration #";
            table2.Columns[2].ColumnName = "Venue";
            table2.Columns[3].ColumnName = "Registration Type";
            table2.Columns[4].ColumnName = "Registration Date";
            table2.Columns[5].ColumnName = "Other Information";
            table2.Columns[7].ColumnName = "Medical Allergies";
            //table2.Columns[8].ColumnName = "RegistrationType_ID";

            // Do some joining
            DataTable dt = new DataTable();
            var joinTable = (from t1 in table1.AsEnumerable()
                             join t2 in table2.AsEnumerable() on t1["Contact_ID"] equals t2["Contact_ID"]
                             //where Model.SelectedRegoType.Contains()
                             select new { t1, t2 });
            if (Model.SelectedRegoType != null)
            {
                joinTable = joinTable.Where(row => Model.SelectedRegoType.Contains((int)row.t2["RegistrationType_ID"]));
            }


            foreach (DataColumn col in table1.Columns)
            {
                dt.Columns.Add(col.ColumnName, typeof(string));
            }


            foreach (DataColumn col in table2.Columns)
            {
                if (col.ColumnName != "Contact_ID" && col.ColumnName != "Registration #")
                {
                    dt.Columns.Add(col.ColumnName, typeof(string));
                }

            }

            foreach (var row in joinTable)
            {
                // Take the rows from both tables, then do some modifications to the fields in the second table
                // so that in the end, the concat of both rows fits the fields of the joined table.
                var newRow = dt.NewRow();
                var t1Array = row.t1.ItemArray.ToArray();

                var t2Array = row.t2.ItemArray.ToArray();
                var t2List = t2Array.ToList();
                t2List.RemoveAt(0);
                t2List.RemoveAt(0);
                t2Array = t2List.ToArray();

                var rowArray = t1Array.Concat(t2Array).ToArray();

                //newRow.ItemArray = row.t1.ItemArray.Union(row.t2.ItemArray).ToArray();
                newRow.ItemArray = rowArray;

                dt.Rows.Add(newRow);
            }
            <div class="card">
                <div class="card-body shadow">
                    <h4>Total: @dt.Rows.Count</h4>
                    <table id="groupRegoTable" class="table table-bordered">
                        <thead>
                            <tr>
                                @foreach (DataColumn col in dt.Columns)
                                {
                                    <th>@col.ColumnName</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in dt.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn col in dt.Columns)
                                    {
                                        if (col.ColumnName == "TotalCost")
                                        {

                                            <td class="number">@Decimal.Parse(row[col.ColumnName].ToString()).ToString("0.00")</td>
                                        }
                                        else
                                        {
                                            <td>@row[col.ColumnName]</td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($("#singleRegoTable").length > 0) {
            $("table").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                dom: 'Blfrtip',
                buttons: [
                    { extend: 'excel', className: 'btn btn-primary' },
                    { extend: 'csv', className: 'btn btn-secondary' }
                ],
                paging: true,
                "pageLength": 5,
                "lengthMenu": [5, 10, 25, 50],
                processing: true,
                searching: true,
                info: false,
                scrollCollapse: true,
                autoWidth: true,
                "order": [],
                responsive: true,
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                scrollY: 600,
                scrollX: true
            });
            $('#singleRegoTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#singleRegoTable_paginate').addClass("mt-3 mt-md-2");
        }

        if ($("#groupRegoTable").length > 0) {
            $("table").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                dom: 'Blfrtip',
                buttons: [
                    { extend: 'excel', className: 'btn btn-primary' },
                    { extend: 'csv', className: 'btn btn-secondary' }
                ],
                paging: true,
                "pageLength": 5,
                "lengthMenu": [5, 10, 25, 50],
                processing: true,
                searching: true,
                info: false,
                scrollCollapse: true,
                autoWidth: true,
                "order": [],
                responsive: true,
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                scrollY: 600,
                scrollX: true
            });
            $('#groupRegoTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#groupRegoTable_paginate').addClass("mt-3 mt-md-2");
        }

        if ($("#groupSummaryTable").length > 0) {
            $("table").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                dom: 'Blfrtip',
                buttons: [
                    { extend: 'excel', className: 'btn btn-primary' },
                    { extend: 'csv', className: 'btn btn-secondary' }
                ],
                paging: true,
                "pageLength": 5,
                "lengthMenu": [5, 10, 25, 50],
                processing: true,
                searching: true,
                info: false,
                scrollCollapse: true,
                autoWidth: true,
                "order": [],
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                scrollY: 600,
                scrollX: true
            });
            $('#groupSummaryTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#groupSummaryTable_paginate').addClass("mt-3 mt-md-2");
        }
    })

</script>



