﻿@model Planetshakers.Events.Models.ReportModel

    <div class="col-lg-12 py-2">
        <!--This block of code is to specify logic of generating reports. -->
        <h5>TOTAL REGISTRATION TYPES ACCORDING TO CONFERENCE DATABASE</h5>

        <div class="card">
            <div class="card-body shadow overflow-auto">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Type</th>
                            
                             <th style="text-align:center;" id="type_@Model.ConferenceName">@Model.ConferenceName</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Total General</strong></td>
                            @Html.Raw(Model.totalRegistrationViewResult("totalRegoType", "TotalAdults"))
                        </tr>
                        <tr>
                            <td><strong>Total College</strong></td>
                            @Html.Raw(Model.totalRegistrationViewResult("totalRegoType", "TotalYouth"))
                        </tr>
                        <tr>
                            <td><strong>Total Add Ons</strong></td>
                            @Html.Raw(Model.totalRegistrationViewResult("totalRegoType", "TotalKids"))
                        </tr>
                        <tr>
                            <td><strong>GRAND TOTAL</strong></td>
                            @Html.Raw(Model.totalRegistrationViewResult("totalRegoType", "grandTotal"))
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <br/>
        @if (1 == 0)
        {
            <h5>(INTERNAL RECORDS) BREAKDOWN OF REGISTRATIONS BASED ON CAMPUSES</h5>
            <div class="card">
                <div class="card-body shadow overflow-auto">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>CAMPUS</th>
                                    <th style="text-align:center;" id="type_@Model.ConferenceName">@Model.ConferenceName</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>@Html.Raw(Model.totalRegistrationViewResult("campusBreakdown", "Melbourne"))</tr>
                        </tbody>
                    </table>
                </div>
            </div>

        }
        <br />
        @if (1 == 0)
        {
            <h5>(INTERNAL RECORDS)BREAKDOWN OF REGISTRATIONS BASED ON MINISTRIES</h5>
            <div class="card">
                <div class="card-body shadow overflow-auto">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>MINISTRY</th>
                                    <th style="text-align:center;" id="type_@Model.ConferenceName">@Model.ConferenceName</th>
                                
                            </tr>
                        </thead>
                    <tbody>
                        <tr>@Html.Raw(Model.totalRegistrationViewResult("ministryBreakdown", "Melbourne"))</tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
    </div>



