﻿﻿@using System.Data
@model Planetshakers.Events.Models.ApplicationReportViewModel
@{
    ViewBag.Title = "Application Question Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

<div class="row">
    <div class="col-lg-12 py-2 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>
</div>


<div class="row mx-1">
    <div class="col-lg-12">
        <label>Trip:</label>
        @Html.DropDownListFor(m => m.Event_ID, Model.ConferenceList, new { required = "required", @class = "form-control", @id = "TripSelected", @onchange = "updateRegoType()" })
    </div>
    <div class="col-lg-12 py-2" id="multiSelRegoType">
        <label>Registration Type:</label>
        <select id='RegoTypeSelected' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'></select>
    </div>
    <div class="col-lg-12">
        <label>Select Questions:</label>
        @Html.DropDownList("Question", Model.QuestionList, new { @class = "form-control", @id = "QuestionSelected", multiple = "multiple", @data_style = "multi-select-btn" })
        <br />
    </div>

    <div class="col-lg-12 py-2">
        <button class="btn btn-primary" onclick="GenerateApplicationQuestionReport()">Generate Report</button>
    </div>
</div>

<br />
<div id="ReportResult"></div>

<div class="modal" id="reportLoader" tabindex="-1" role="dialog" aria-labelledby="loadReport" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Generating Report</h3>
            </div>
            <div class="modal-body justify-content-center d-flex">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#QuestionSelected").selectpicker({
            noneSelectedText: ' Select Question '
        });
        $('#RegoTypeSelected').selectpicker({
            noneSelectedText: ' All Registration Type ' // by this default 'Nothing selected' -->will change to Please Select
        });
    })

    function GenerateApplicationQuestionReport() {
        var Event_ID = $("#TripSelected").val();
        var QuestionSelected = $("#QuestionSelected").val();
        var RegoTypeSelected = $("#RegoTypeSelected").val();

        var QuestionList = [];
        for (let i = 0; i < QuestionSelected.length; i++) {
            QuestionList.push(QuestionSelected[i])
        }
        var RegoTypeList = [];
        for (let i = 0; i < RegoTypeSelected.length; i++) {
            RegoTypeList.push(RegoTypeSelected[i])
        }
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Report/GenerateApplicationReport",
            data: { "Event_ID": Event_ID, "Question_IDs": QuestionList, "RegistrationType_IDs": RegoTypeList },
            success: function (json) {
                $("#ReportResult").html(json)
            },
            error: function () {
                alert("Unable to generate report.");
            }
        });
    }
    function updateRegoType() {
        var Conference_ID = $('#TripSelected').val();
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Report/GetConferenceRegoType",
            data: { "Conference_ID": Conference_ID },
            success: function (json) {
                var html = "";
                html += "<label>Registration Type: </label><select name='selValue' id='RegoTypeSelected' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'>";
                for (i = 0; i < json.Data.length; i++) {
                    html += "<option value = '" + json.Data[i].Value + "' >" + json.Data[i].Text + "</option > ";
                }
                html += "</select><br />";
                $("#multiSelRegoType").html(html);
                $('#RegoTypeSelected').selectpicker({
                    noneSelectedText: ' All Registration Type ' 
                });
            },
            error: function () {
                alert("There are some errors loading Registration Type.");
            }
        });
    }
</script>