﻿@using System.Data
@using Planetshakers.Core.Models
@model Planetshakers.Events.Models.ReportModel
@{
    ViewBag.Title = "Audit Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script>
    function ExportAsCSV(e) {
        e.preventDefault()

        var Conference_ID = $("#Conference_ID").val()
        var selectedDateOpt = $("#selectedDateOpt").val()
        var StartDate = $("#StartDate").val()
        var EndDate = $("#EndDate").val()
        $.ajax({
            type: "POST",
            url: "/Report/ExportCSV_AuditReport",
            data: {
                "Conference_ID": Conference_ID,
                "selectedDateOpt": selectedDateOpt,
                "StartDate": StartDate,
                "EndDate": EndDate,
            },
            success: function (json) {
                var blob = new Blob([json]);
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = "AuditReport.csv";
                link.click();
            },
            error: function () {
            }
        });
    }
</script>

@if (Model._events != null)
{

    <div class="row">

        <div class="col-lg-12 border-bottom">
            <h3>@ViewBag.Title</h3>
        </div>

        <div id="AuditingReport"></div>
    </div>

    using (Html.BeginForm("GenerateAuditReport", "Report", FormMethod.Post))
    {
        <div class="row">
            <!-- select conference or event.-->
            <div class="col-lg-12 pb-2">
                <label>Trip:</label>
                @Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class = "form-control" })
            </div>
            <div id="selectedOptionValue" style="display:none"></div>

            <div class="col-lg-12 pb-2">
                <label>Select Date:</label>
                @Html.DropDownListFor(m => m.selectedDateOpt, Model.Dateselection, new { id = "selectedDateOpt", @class = "form-control" })
            </div>
            <div id="customDate" style="display:none">
                <div class="col-lg-12 pb-2">
                    <label>Start Date:</label>
                    @Html.TextBoxFor(m => m.StartDate, new { Value = Model.StartDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control" })
                </div>

                <div class="col-lg-12">
                    <label>End Date:</label>
                    @Html.TextBoxFor(m => m.EndDate, new { Value = Model.EndDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control" })
                </div>
            </div>

            <div class="col-lg-12">
                <input type="submit" class="btn btn-primary" value="Generate Report">
                @if (Model.displayReport)
                {
                    <button class="btn btn-primary" onclick="ExportAsCSV(event)">Export Report</button>
                }
            </div>
        </div>
    }



    if (Model.displayReport)
    {

        <div class="mt-4">
            <h4>Group Payment Made</h4>
            <div class="card">
                <div class="card-body shadow">
                    <div class="row">
                        <div class="col-12">
                            <table id="purchase_table_id" class="table table-bordered" style="width: 100%;white-space:nowrap;">
                                <thead>
                                    <tr>
                                        <th>Payment ID</th>
                                        <th>Contact Name</th>
                                        <th>Email</th>
                                        <th>Payment Type</th>
                                        <th>Payment Source</th>
                                        <th>CCTransactionRef.</th>
                                        <th>CCRefund</th>
                                        <th>Voucher Code</th>
                                        <th>Payment Date</th>
                                        <th>Payment By</th>
                                        <th>Payment Amount (@Model.Currency)</th>
                                        <th>Payment Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (GroupPayment gp in Model.grouppayment)
                                    {
                                        <tr>
                                            <td>@gp.GroupPayment_ID</td>
                                            <td>@gp.GroupLeader_Name</td>
                                            <td>@gp.Email</td>
                                            <td>@gp.PaymentType</td>
                                            <td>@gp.PaymentSource</td>
                                            <td>@gp.CCTransactionRef</td>
                                            <td style="text-align:center">
                                                @if (gp.CCRefund)
                                                {<i class="fa fa-check"></i>}
                                            </td>
                                            <td>@gp.VoucherCode</td>
                                            <td>@gp.PaymentDate</td>
                                            <td>@gp.PaymentBy_Name</td>
                                            <td class="number">@gp.PaymentAmount.ToString("0.00")</td>
                                            <td>@gp.Comment</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <div class="card">
                                <div class="card-header text-right">
                                    <strong>Total Paid:  </strong><span class="number">@Model.Currency @Model.grouppayment.Sum(x => x.PaymentAmount).ToString("#,#.00")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        if (Model.singlepayment != null)
        {
            <div class="mt-3">
                <h4>Single Payment Made</h4>
                <div class="card">
                    <div class="card-body shadow">
                        <table id="purchase_table_id2" class="table table-bordered" style="overflow-x: scroll;width:100%;">
                            <thead>
                                <tr>
                                    <th>Payment ID</th>
                                    <th>Contact Name</th>
                                    <th>Email</th>
                                    <th>Payment Type</th>
                                    <th>CCTransactionRef.</th>
                                    <th>CCRefund</th>
                                    <th>Payment Date</th>
                                    <th>Payment By</th>
                                    <th>Payment Amount (@Model.Currency)</th>
                                    <th>Payment Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SinglePayment sp in Model.singlepayment)
                                {
                                    <tr>
                                        <td>@sp.ContactPayment_ID</td>
                                        <td>@sp.Contact_Name</td>
                                        <td>@sp.Email</td>
                                        <td>@sp.PaymentType</td>
                                        <td>@sp.CCTransactionRef</td>
                                        <td style="text-align:center">
                                            @if (sp.CCRefund)
                                            {<i class="fa fa-check"></i>}
                                        </td>
                                        <td>@sp.PaymentDate</td>
                                        <td>@sp.PaymentBy_Name</td>
                                        <td class="number">@sp.PaymentAmount.ToString("#,#.00")</td>
                                        <td>@sp.Comment</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="card">
                            <div class="card-header text-right">
                                <strong>Total Paid:  </strong><span class="number">@Model.Currency @Model.singlepayment.Sum(x => x.PaymentAmount).ToString("#,#.00")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="mt-2">
            <div class="card">
                <div class="card-header text-right" style="background-color: white;">
                    <strong>Total:  </strong><span class="number">@Model.Currency @Model.paymentSum.ToString("#,#.00")</span>
                </div>
            </div>
        </div>

    }

}