﻿@using System.Data
@model Planetshakers.Events.Models.ReportModel
@{
    ViewBag.Title = "Banking Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@if (Model._events != null)
{

    <div class="row">

        <div class="col-lg-12 py-2 py-2 border-bottom">
            <h3>@ViewBag.Title</h3>
        </div>

    </div>
    using (Html.BeginForm("GenerateBankingReports", "Report", FormMethod.Post))
    {
        <div class="row">
            <!-- select conference or event.-->
            <div class="col-lg-12 py-2">
                <label>Trip:</label>
                <span>@Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class = "form-control" })</span>
            </div>
            <div id="selectedOptionValue" style="display:none"></div>

            <div class="col-lg-12 py-2">
                <label>Select Date:</label>
                <span>@Html.DropDownListFor(m => m.selectedDateOpt, Model.Dateselection, new { id = "selectedDateOpt", @class = "form-control" })</span>
            </div>
            <div id="customDate" style="display:none" class="col-lg-12 py-2">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Start Date:</label>
                        <span>@Html.TextBoxFor(m => m.StartDate, new { Value = Model.StartDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control" })</span>
                    </div>

                    <div class="col-lg-6">
                        <label>End Date:</label>
                        <span>@Html.TextBoxFor(m => m.EndDate, new { Value = Model.EndDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control" })</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 py-2">
                <input type="submit" class="btn btn-primary" value="Generate Banking Report">
            </div>
        </div>

    }


    if (Model.displayReport)
    {
       

        foreach (DataTable table in Model.eventSummary.ds.Tables)
        {
            if (table.Rows.Count != 0)
            {
                <div class="mt-4">

                    @if (table.Columns[0].ColumnName == "PaymentType")
                    {
                        <h4>Payment Type</h4>
                    }
                    else if (table.Columns[0].ColumnName == "Venue_ID")
                    {
                        <h4>Conference Details</h4>
                    }
                    else if (table.Columns[0].ColumnName == "GroupSingle")
                    {
                        <h4>Registration Details</h4>
                    }
                    <div class="card">
                        <div class="card-body shadow">
                            <table class="table table-bordered" id="bankingTable" style="width:100%;">
                                <thead>
                                    <tr>
                                        @foreach (DataColumn col in table.Columns)
                                        {
                                            if (col.ColumnName == "PreOrders" || col.ColumnName == "Concert" || col.ColumnName == "Other")
                                            {
                                                continue;
                                            }
                                            else
                                            {
                                                if (col.ColumnName == "Balance")
                                                {
                                                    <th>Outstanding Balance</th>
                                                }
                                                else
                                                {
                                                    <th>@col.ColumnName</th>
                                                }
                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in table.Rows)
                                    {
                                        <tr>
                                            @foreach (DataColumn col in table.Columns)
                                            {
                                                if (col.ColumnName == "PaymentAmount" || col.ColumnName == "Total" || col.ColumnName == "Balance")
                                                {
                                                    <td class="number">@Decimal.Parse(row[col.ColumnName].ToString()).ToString("0.00")</td>
                                                }
                                                else if (col.ColumnName == "Registrations" || col.ColumnName == "Catering" || col.ColumnName == "Accommodation")
                                                {
                                                    <td>@Decimal.Parse(row[col.ColumnName].ToString()).ToString("0")</td>
                                                }
                                                else if (col.ColumnName == "PreOrders" || col.ColumnName == "Concert" || col.ColumnName == "Other")
                                                {
                                                    continue;
                                                }
                                                else
                                                {
                                                    if (@row[col.ColumnName].ToString() == "MAN Transfer" && table.Columns[0].ColumnName == "PaymentType")
                                                    {
                                                        <td><a href="#" onclick="breakdown_manTransfer(@Model.Conference_ID)">@row[col.ColumnName]</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td>@row[col.ColumnName]</td>
                                                    }

                                                }
                                            }
                                        </tr>
                                    }

                                    @if (table.Columns[0].ColumnName == "PaymentType")
                                    {
                                        <tr>
                                            @if (@Model.paymentType.PaymentType == "Sponsorship")
                                            {
                                                <td><a href="#" onclick="breakdown_sponsorship(@Model.Conference_ID)">@Model.paymentType.PaymentType</a></td>
                                            }
                                            else
                                            {
                                                <td>@Model.paymentType.PaymentType</td>
                                            }
                                            <td>@Model.paymentType.PaymentType_ID</td>
                                            <td class="number">@Model.paymentSum.ToString("0.00")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }

        <div id="BreakdownModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 id="BreakdownModalTitle">Breakdown</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="BreakdownModalBody">
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    function breakdown_manTransfer(Event_ID) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Report/Banking_ManTransferBreakdown",
            data: { "Event_ID": Event_ID },
            success: function (html) {
                $("#BreakdownModalTitle").html("MAN Transfer Breakdown");
                $("#BreakdownModalBody").html(html);
                $("#BreakdownModal").modal("show");
            },
            error: function () {
                alert("Unable to load breakdown");
            }
        });
    }

    function breakdown_sponsorship(Event_ID) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Report/Banking_SponsorshipBreakdown",
            data: { "Event_ID": Event_ID },
            success: function (html) {
                $("#BreakdownModalTitle").html("Sponsorship Breakdown");
                $("#BreakdownModalBody").html(html);
                $("#BreakdownModal").modal("show");
            },
            error: function () {
                alert("Unable to load breakdown");
            }
        });
    }
</script>
