﻿@using System.Data
@model Planetshakers.Events.Models.ReportModel
@{
    ViewBag.Title = "Check In Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">

    <div class="col-lg-12 py-2 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>
</div>


@using (Html.BeginForm("GenerateCheckInReport", "Report", FormMethod.Post, new { id = "checkInReportForm" }))
{
    <div class="row">
        <div class="col-lg-12 py-2">
            <label>Trip:</label>
            <span>@Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class = "form-control" })</span>
        </div>

        <div class="col-lg-12 py-2">
            <input type="submit" class="btn btn-primary" id="submitTotalRegoReport" value="Generate Report">
        </div>
    </div>

}
@if (Model.displayReport == true)
{
<div class="row">
    <div class="col-lg-3 py-2">
        <br />
        <label class="py-2">Checked In?:</label>
        @Html.DropDownList("CheckedIn", Model.attendedSelect , "", new { @class = "form-control", @onchange = "checkInReportFilter()" })
    </div>
    <div class="col-lg-6 py-2">
        <br />
        <label class="py-2">Registration Type:</label>
        @Html.DropDownList("RegistrationTypeFilter", Model.RegistrationTypeList, "-- Select --", new { @class = "form-control", @onchange = "checkInReportFilter()" })
    </div>
    <div class="col-lg-12 py-2">
        <h4>Total: <span id="totalCheckInCount">@Model.checkInList.Count</span></h4>
        <div class="card">
            <div class="card-body shadow">
                <table id="checkInTable" class="table table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Registration ID</th>
                            <th>Registration Type</th>
                            <th>Checked In</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rego in Model.checkInList)
                        {
                            <tr data-val="@rego.Attended @rego.RegistrationType_ID">
                                <td>@rego.RegistrationID</td>
                                <td>@rego.RegistrationType</td>
                                @if (rego.Attended == true)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No</td>
                                }
                                <td>@rego.FirstName</td>
                                <td>@rego.LastName</td>
                                <td>@rego.Mobile</td>
                                <td>@rego.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
    
}

