﻿@using System.Data
@model Planetshakers.Events.Models.MailingListReportModel
@{
    ViewBag.Title = "Mailing List Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <div class="col-lg-12 py-2 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>
</div>


@using (Html.BeginForm("GenerateMailingListReport", "Report", FormMethod.Post, new { id = "transferMailingListReport" }))
{
    <div class="row">
        <div class="col-lg-12 py-2">
            <label>Mailing List:</label>
            <span>@Html.DropDownListFor(m => m.MailingList_ID, Model.MailingList, "-- Select Mailing List --", new { @class = "form-control", required = "required" })</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 py-2">
            <label>Mailing List Type:</label>
            <span>@Html.DropDownListFor(m => m.MailingListType_ID, Model.MailingListType, "-- Select Mailing List Type   --", new { @class = "form-control", required = "required" })</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 py-2">
            <label>Trip:</label>
            <span>@Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { @class = "form-control" })</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 py-2">
            <input type="submit" class="btn btn-primary" id="submitMailingListReport" value="Generate Report">
        </div>
    </div>

}

@if (Model.displayReport == true)
{
    <div class="row">
        <div class="col-lg-12 py-2">
            <label>Contact Type Filter</label>
            @Html.DropDownList("Filter", Model.FilterDropdown, "", new { @class = "form-control", @onchange = "filterContact()", @id = "filterContact" })
        </div>
        <div class="col-lg-12 py-2">
            <h4>Contact Mailing List</h4>
            <div class="card">
                <div class="card-body shadow">
                    <table id="contactMailingListTable" class="table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Contact Type</th>
                                <th>MailingList</th>
                                <th>MailingList Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cml in Model.contactMailingList)
                            {
                                <tr data-val="@cml.FilterType">
                                    <td>@cml.FullName</td>
                                    <td>@cml.Email</td>
                                    <td>@cml.Mobile</td>
                                    @if (cml.FilterType == "internal")
                                    {
                                        <td>Internal</td>
                                    }
                                    else if (cml.FilterType == "external")
                                    {
                                        <td>External</td>
                                    }
                                    else
                                    {
                                        <td>Both</td>
                                    }
                                    <td>@cml.MailingListName</td>
                                    <td>@cml.MailingListTypeName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
}

