﻿@using System.Data
@model Planetshakers.Events.Models.ReportModel
@{
    ViewBag.Title = "Payment Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@if (Model._events != null)
{

    <div class="row">

        <div class="col-lg-12 py-2 py-2 border-bottom">
            <h3>@ViewBag.Title</h3>
        </div>

    </div>
    <div class="row">
        <!-- select conference or event.-->
        <div class="col-lg-12 py-2">
            <label>Trip:</label>
            <span>@Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class = "form-control" })</span>
        </div>
        <div id="selectedOptionValue" style="display:none"></div>

        <div class="col-lg-12 py-2">
            <label>Select Date:</label>
            <span>@Html.DropDownListFor(m => m.selectedDateOpt, Model.Dateselection, new { id = "selectedDateOpt", @class = "form-control" })</span>
        </div>
        <div id="customDate" style="display:none" class="col-lg-12 py-2">
            <div class="row">
                <div class="col-lg-6">
                    <label>Start Date:</label>
                    <span>@Html.TextBoxFor(m => m.StartDate, new { Value = Model.StartDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control" })</span>
                </div>

                <div class="col-lg-6">
                    <label>End Date:</label>
                    <span>@Html.TextBoxFor(m => m.EndDate, new { Value = Model.EndDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control" })</span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 py-2">
            <div class="row">
                <div class="col-lg-6">
                    <label>Minimum Paid:</label>
                    <span>@Html.TextBox("minimumPaid", "", new { @type = "number", @class = "form-control", @id = "minimumPaid" })</span>
                </div>

                <div class="col-lg-6">
                    <label>Maximum Paid:</label>
                    <span>@Html.TextBox("maximumPaid", "", new { @type = "number", @class = "form-control", @id = "maximumPaid" })</span>
                </div>
            </div>
        </div>


        <div class="col-lg-12 py-2">
            <button class="btn btn-primary" onclick="generatePaymentReport()">Generate Report</button>
        </div>
    </div>
    <br />
    <div id="ReportResult"></div>


}

<script type="text/javascript">
    function generatePaymentReport() {
        var Event_ID = $("#Conference_ID").val();
        var SelDateOpt = $("#selectedDateOpt").val();
        var StartDate = $("#StartDate").val();
        var EndDate = $("#EndDate").val();
        var minimumPaid = $("#minimumPaid").val();
        var maximumPaid = $("#maximumPaid").val();
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Report/GeneratePaymentReport",
            data: {
                "Event_ID": Event_ID,
                "SelDateOpt": SelDateOpt,
                "StartDate": StartDate,
                "EndDate": EndDate,
                "minimumPaid": minimumPaid,
                "maximumPaid": maximumPaid,
            },
            success: function (json) {
                $("#ReportResult").html(json)
            },
            error: function () {
                alert("Unable to generate report.");
            }
        });
    }
</script>
