﻿@using System.Data
@model Planetshakers.Events.Models.ReportModel
@{
    ViewBag.Title = "Payment Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@if (Model._events != null)
{

    <div class="row">

        <div class="col-lg-12 py-2 py-2 border-bottom">
            <h3>@ViewBag.Title</h3>
        </div>

    </div>
    <div class="row">
        <!-- select conference or event.-->
        <div class="col-lg-12 py-2">
            <label>Trip:</label>
            <span>@Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class = "form-control", @id = "TripSelected", @onchange = "updateRegoType()" })</span>
        </div>

        <div class="col-lg-12 py-2" id="multiSelRegoType">
            <label>Registration Type:</label>
            <select id='RegoTypeSelected' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'></select>
        </div>

        <div class="col-lg-12 py-2">
            <button class="btn btn-primary" onclick="generatePaymentSummary()">Generate Report</button>
        </div>
    </div>
    <br />
    <div id="ReportResult"></div>


}

<script type="text/javascript">

    $(document).ready(function () {
        $('#RegoTypeSelected').selectpicker({
            noneSelectedText: ' All Registration Type ' // by this default 'Nothing selected' -->will change to Please Select
        });
    })

    function generatePaymentSummary() {
        var Event_ID = $("#TripSelected").val();
        var RegoTypeSelected = $("#RegoTypeSelected").val();

        var RegoTypeList = [];
        for (let i = 0; i < RegoTypeSelected.length; i++) {
            RegoTypeList.push(RegoTypeSelected[i])
        }

        $.ajax({
            cache: false,
            type: "POST",
            url: "/Report/GeneratePaymentSummary",
            data: {
                "Event_ID": Event_ID,
                "RegistrationType_IDs": RegoTypeList
            },
            success: function (json) {
                $("#ReportResult").html(json)
            },
            error: function () {
                alert("Unable to generate report.");
            }
        });
    }

    function updateRegoType() {
        var Conference_ID = $('#TripSelected').val();
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Report/GetConferenceRegoType",
            data: { "Conference_ID": Conference_ID },
            success: function (json) {
                var html = "";
                html += "<label>Registration Type: </label><select name='selValue' id='RegoTypeSelected' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'>";
                for (i = 0; i < json.Data.length; i++) {
                    html += "<option value = '" + json.Data[i].Value + "' >" + json.Data[i].Text + "</option > ";
                }
                html += "</select><br />";
                $("#multiSelRegoType").html(html);
                $('#RegoTypeSelected').selectpicker({
                    noneSelectedText: ' All Registration Type '
                });
            },
            error: function () {
                alert("There are some errors loading Registration Type.");
            }
        });
    }
</script>
