﻿@using System.Data
@using Planetshakers.Core.Models
@model Planetshakers.Events.Models.ReportModel
@{
    ViewBag.Title = "Purchase Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div id="PurchaseReport"></div>
@if (Model._events != null)
{

    <div class="row">

        <div class="col-lg-12 py-2 border-bottom">
            <h3>@ViewBag.Title</h3>
        </div>

    </div>


    using (Html.BeginForm("Add", "Purchase", FormMethod.Post, new { @id = "purchase_form" }))
    {
        <div class="row">
            <div class="col-lg-12 py-2">
                @Html.TextBox("PurchaseFirstName", null, new { @placeholder = "Enter First Name", @class = "form-control" })
            </div>
            <div class="col-lg-12 py-2">
                @Html.TextBox("PurchaseLastName", null, new { @placeholder = "Enter Last Name", @class = "form-control" })
            </div>
        </div>

    }

    <div class="row">
        <div id="searchresultsection" class="col-lg-12 py-2" style="height: 200px;overflow-y:auto;">
            <div class="card">
                <div class="card-body shadow">
                    <table class="table table-bordered" id="purchaseContactTable">
                        <thead>
                            <tr id='purchaseContactHeader'>
                                <th>ID</th>
                                <th>Name</th>
                                <th id='actionCol'>Action</th>
                            </tr>
                        </thead>
                        <tbody id='purchaseContactList'></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-12 py-2">
            @using (Html.BeginForm("GeneratePurchaseReports", "Report", FormMethod.Post))
            {
                <div id="setPurchaseContactId"></div>
                <!-- select conference or event.-->
                <label>Trip:</label>
                <div class="py-2">@Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class = "form-control" })</div>
                <input type="submit" class="btn btn-primary" value="Generate Purchase Report">

            }
            @if (Model.displayReport)
            {
                <div class="mt-4">
                    <h4>Payment Made</h4>
                    <div class="card">
                        <div class="card-body shadow">
                            <table id="purchase_table_id3" class="table table-bordered" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Payment Type</th>
                                        <th>CCTransactionReference</th>
                                        <th>CCRefund</th>
                                        <th>Payment Date</th>
                                        <th>Payment By</th>
                                        <th>Payment Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (GroupPayment gp in Model.grouppayment)
                                    {
                                        <tr>
                                            <td>@gp.PaymentType</td>

                                            <td>@gp.CCTransactionRef</td>
                                            <td style="text-align:center">
                                                @if (gp.CCRefund)
                                                {<i class="fa fa-check"></i>}
                                            </td>
                                            <td>@gp.PaymentDate</td>
                                            <td>@gp.PaymentBy_Name</td>
                                            <td>$ @gp.PaymentAmount.ToString("0.00")</td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot class="table-borderless">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right"><strong>Total Paid:</strong></td>
                                        <td class="border-right">$ @Model.grouppayment.Sum(x => x.PaymentAmount).ToString("0.00")</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <h4>Purchase Made</h4>
                    <div class="card">
                        <div class="card-body shadow">
                            <table id="purchase_table_id4" class="table table-bordered" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Registration Type</th>
                                        <th>Date Added</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (BulkRegistration bg in Model.bulkrego)
                                    {
                                        <tr>
                                            <td>@bg.RegistrationType</td>
                                            <td>@bg.DateAdded</td>
                                            <td>@bg.Quantity</td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot class="table-borderless">
                                    <tr>
                                        <td></td>
                                        <td class="text-right"><strong>Total Quantity:</strong></td>
                                        <td class="border-right"> @Model.bulkrego.Sum(x => x.Quantity)</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
}