﻿@using System.Data;
@model Planetshakers.Events.Models.ReportModel
@{
    ViewBag.Title = "Registration Type Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@if (Model._events != null)
{
    <div class="row">

        <div class="col-lg-12 py-2 border-bottom">
            <h3>@ViewBag.Title</h3>
        </div>

    </div>
    //using (Html.BeginForm("GenerateRegReports", "Report", FormMethod.Post, new { id = "RegistrationTypeReport" }))
    //{
    List<SelectListItem> reportType = new List<SelectListItem>();
    reportType.Add(new SelectListItem
    {
        Text = "Single Registrations",
        Value = "Single Registrations"
    });
    reportType.Add(new SelectListItem
    {
        Text = "Group Registrations",
        Value = "Group Registrations"
    });
    reportType.Add(new SelectListItem
    {
        Text = "Group Summary",
        Value = "Group Summary"
    });
    <div class="row">
        <div class="col-lg-12 py-2">
            <!-- select conference or event.-->
            <label>Trip:</label>
            @Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class = "form-control", @onchange = "updateRegoType()" })
        </div>

        <div class="col-lg-12 py-2" id="multiSelRegoType">
            <label>Registration Type:</label>
            <select id='RegoTypeSelected' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'></select>
        </div>

        <div class="col-lg-12 py-2">
            <label>Report Type:</label>
            @Html.DropDownListFor(m => m.reportType, reportType, "-- Select Report Type --", new { @class = "form-control" })
        </div>

        <div class="col-lg-12 py-2">
            @*<input type="submit" class="btn btn-primary" value="Generate Report">*@
            <button class="btn btn-primary" onclick="submitRegoTypeReport()">Generate Report</button>
        </div>
    </div>
    //}
    <div id="RegistrationReportPartialView"></div>
    
}

<script type="text/javascript">
    $(document).ready(function () {
        @*updateRegoType();
        var RegoTypes = @Html.Raw(Json.Encode(Model.SelectedRegoType));
        console.log(RegoTypes)
        if (RegoTypes != null) {
            $('#RegoTypeSelected').selectpicker();
            $('#RegoTypeSelected').selectpicker('val', RegoTypes);
        }*@

        $('#RegoTypeSelected').selectpicker({
            noneSelectedText: ' All Registration Type ' // by this default 'Nothing selected' -->will change to Please Select
        });

    })

    $('#RegistrationTypeReport').submit(function (eventObj) {

        var regoTypeList = $("#RegoTypeSelected").val()
        for (let i = 0; i < regoTypeList.length; i++) {
            $(this).append('<input type="hidden" name="SelectRegoTypes[]" value="'+regoTypeList[i]+'" /> ');
        }
        return true
    })

    function submitRegoTypeReport() {
        var Conference_ID = $('#Conference_ID').val();
        var regoTypeList = $("#RegoTypeSelected").val()
        var reportType = $("#reportType").val()

        var list = [];
        for (let i = 0; i < regoTypeList.length; i++) {
            list.push(regoTypeList[i])
        }
        //var obj = new Object();
        //obj.Conference_ID = $('#Conference_ID').val();
        //obj.SelectRegoTypes = list;
        //obj.ReportType = $('#reportType').val();
        //console.log(list);
        //console.log(obj);
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Report/GenerateRegReports",
            traditional: true,
            data: { "Conference_ID": Conference_ID, "ReportType": reportType, "SelectRegoTypes": list },
            //data: JSON.stringify(obj),
            success: function (json) {
                $("#RegistrationReportPartialView").html(json);
            },
            error: function () {
                alert("Error when generating report.");
            }
        });

    }

    function updateRegoType() {
        var Conference_ID = $('#Conference_ID').val();
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Report/GetConferenceRegoType",
            data: { "Conference_ID": Conference_ID },
            success: function (json) {
                var html = "";
                html += "<label>Registration Type: </label><select name='selValue' id='RegoTypeSelected' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'>";
                for (i = 0; i < json.Data.length; i++) {
                    html += "<option value = '" + json.Data[i].Value + "' >" + json.Data[i].Text + "</option > ";
                }
                html += "</select><br />";
                $("#multiSelRegoType").html(html);
                $('#RegoTypeSelected').selectpicker({
                    noneSelectedText: ' All Registration Type ' // by this default 'Nothing selected' -->will change to Please Select
                });
            },
            error: function () {
                alert("There are some errors loading Registration Type.");
            }
        });
    }
</script>