﻿﻿@using System.Data
@model Planetshakers.Events.Models.ReportModel
@{
    ViewBag.Title = "Summary Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@if (Model._events != null)
{

    <div class="row">

        <div class="col-lg-12 py-2 border-bottom">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>

    using (Html.BeginForm("GenerateSummaryReports", "Report", FormMethod.Post, new { id = "summaryForm" }))
    {
        List<SelectListItem> reportType = new List<SelectListItem>();
        reportType.Add(new SelectListItem
        {
            Text = "Attendance",
            Value = "Attendance"
        });
        reportType.Add(new SelectListItem
        {
            Text = "Registration Types",
            Value = "Registration Types"
        });
        reportType.Add(new SelectListItem
        {
            Text = "Allocation",
            Value = "Allocation"
        });
        reportType.Add(new SelectListItem
        {
            Text = "Payment Types",
            Value = "Payment Types"
        });
        reportType.Add(new SelectListItem
        {
            Text = "States/Countries",
            Value = "States/Countries"
        });
        reportType.Add(new SelectListItem
        {
            Text = "Age Groups",
            Value = "Age Groups"
        });

    <div class="row">
        <div class="col-lg-12 py-2">
            <label>Trip:</label>
            <span>@Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class="form-control" })</span>
        </div>


        <div class="col-lg-12 py-2">
            <label>Report Type:</label>
            <span>@Html.DropDownListFor(m => m.reportType, reportType, "-- Select Report Type --", new { id = "reportTypeSelected", required = "required", @class = "form-control" })</span>
        </div>
        <div id="selectedOptionValue" style="display:none"></div>
        <div id="dateSelectionOption" class="col-lg-12 py-2" style="display:none">
            <label>Select Date:</label>
            <span>@Html.DropDownListFor(m => m.selectedDateOpt, Model.Dateselection, new { id = "selectedDateOpt", @class = "form-control" })</span>

            <div id="customDate" style="display:none">
                <div class="col-lg-12 py-2">
                    <label>Start Date:</label>
                    <span>@Html.TextBoxFor(m => m.StartDate, new { Value = Model.StartDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control" })</span>
                </div>

                <div class="col-lg-12 py-2">
                    <label>End Date:</label>
                    <span>@Html.TextBoxFor(m => m.EndDate, new { Value = Model.EndDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control" })</span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 py-2">
            <input type="submit" class="btn btn-primary" id="submitSummaryReport" value="Generate Report">
        </div>
    </div>
        
    }
    <div class="row">
        <div class="col-lg-12 py-2">
            <!--This block of code is to specify logic of generating reports. -->
            @if (Model.displayReport && Model.reportType == "Attendance")
            {
                DataTable table = Model.eventSummary.ds.Tables[0];
                table.Columns[1].ColumnName = "Venue Name";
                table.Columns[2].ColumnName = "Total Regos";
                table.Columns[3].ColumnName = "Total Registrants";
                table.Columns[4].ColumnName = "Allocated Regos";
                table.Columns.Remove("Accommodation");
                table.Columns.Remove("Catering");
                table.Columns.Remove("LeadershipBreakfast");
                table.Columns.Remove("Venue_ID");
                int numCol = table.Columns.Count;
                table.Columns["Attended"].SetOrdinal(numCol - 1);

                foreach (DataRow row in table.Rows)
                {
                    <div class="card">
                        <div class="card-body shadow">
                            <table class="table table-bordered">
                                <tbody>
                                    @foreach (DataColumn col in table.Columns)
                                    {
                                        <tr>
                                            <td>
                                                <strong>@col.ColumnName</strong>
                                            </td>
                                            <td>
                                                @row[col.ColumnName]
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    break;
                }
            }

            @if (Model.displayReport && Model.reportType == "States/Countries")
            {
                DataTable table = Model.eventSummary.ds.Tables[0];
                table.Columns.Remove("State_ID");
                table.Columns[0].ColumnName = "State/Country";
                table.Columns[1].ColumnName = "# of Contacts";
                table.Columns[2].ColumnName = "# of Registrants";

                foreach (DataRow row in table.Rows)
                {
                    <div class="card my-2">
                        <div class="card-body shadow">
                            <table class="table table-bordered">
                                <tbody>
                                    @foreach (DataColumn col in table.Columns)
                                    {
                                        <tr>
                                            <td>
                                                <strong>@col.ColumnName</strong>
                                            </td>
                                            <td>
                                                @row[col.ColumnName]
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                }
            }

            @if (Model.displayReport && Model.reportType == "Age Groups")
            {
                DataTable table = Model.eventSummary.ds.Tables[0];
                table.Columns[0].ColumnName = "Age Group";
                table.Columns.Remove("StartDate");
                table.Columns.Remove("EndDate");

                foreach (DataRow row in table.Rows)
                {
                    <div class="card my-2">
                        <div class="card-body shadow">
                            <table class="table table-bordered">
                                <tbody>
                                    @foreach (DataColumn col in table.Columns)
                                    {
                                        <tr>
                                            <td>
                                                <strong>@col.ColumnName</strong>
                                            </td>
                                            <td>
                                                @row[col.ColumnName]
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                }
            }

            @if (Model.displayReport && Model.reportType == "Payment Types")
            {
                foreach (DataTable table in Model.eventSummary.ds.Tables)
                {
                    <div class="card">
                        <div class="card-body shadow">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        @foreach (DataColumn col in table.Columns)
                                        {
                                            <th>@col.ColumnName</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in table.Rows)
                                    {
                                        <tr>
                                            @foreach (DataColumn col in table.Columns)
                                            {
                                                if (col.ColumnName == "Total")
                                                {

                                                    <td class="number"> @Decimal.Parse(row[col.ColumnName].ToString()).ToString("0.00")</td>
                                                }
                                                else
                                                {
                                                    <td>@row[col.ColumnName]</td>
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td><strong>Total:</strong></td>
                                        <td class="number"> @Model.paymentSum.ToString("0.00")</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                }

            }
            @if (Model.displayReport && Model.reportType == "Registration Types")
            {
                foreach (DataTable table in Model.eventSummary.ds.Tables)
                {
                    <div class="card">
                        <div class="card-body shadow">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        @foreach (DataColumn col in table.Columns)
                                        {
                                            <th>@col.ColumnName</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow row in table.Rows)
                                    {
                                        <tr>
                                            @foreach (DataColumn col in table.Columns)
                                            {
                                                if (col.ColumnName == "TotalCost")
                                                {

                                                    <td class="number"> @Decimal.Parse(row[col.ColumnName].ToString()).ToString("0.00")</td>
                                                }
                                                else if (col.ColumnName == "Cost")
                                                {
                                                    <td class="number"> $@Decimal.Parse(row[col.ColumnName].ToString()).ToString("0")</td>
                                                }
                                                else if (col.ColumnName == "Total")
                                                {
                                                    <td>@Decimal.Parse(row[col.ColumnName].ToString()).ToString("0")</td>
                                                }
                                                else
                                                {
                                                    <td>@row[col.ColumnName]</td>
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td><strong>Total Rego:</strong></td>
                                        <td>@Model.totalRego.ToString()</td>
                                        <td><strong>Total:</strong></td>
                                        <td class="number"> @Model.paymentSum.ToString("0.00")</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                }

            }

            @if (Model.displayReport && Model.reportType == "Allocation")
            {

                <div class="card">
                    <div class="card-body shadow">
                        <table class="table table-bordered" id="regoTypeAllocationTable">
                            <thead>
                                <tr>
                                    <th>Registration Type</th>
                                    <th>Allocated</th>
                                    <th>Unallocated</th>
                                    <th>Total</th>
                                    <th>Allocated %</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in Model.RegoTypeBreakdownList)
                                {
                                    <tr>
                                        <td>@row.RegistrationType</td>
                                        <td>@row.Allocated</td>
                                        <td>@row.Unallocated</td>
                                        <td>@row.Total</td>
                                        <td>@row.AllocatedPercentage</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            }
        </div>

    </div>
    

}