﻿﻿@using System.Data
@model Planetshakers.Events.Models.ReportModel
@{
    ViewBag.Title = "Breakdown Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

@if (Model._events != null)
{
    <div class="row">

        <div class="col-lg-12 py-2 border-bottom">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 py-2">
            <label>Trip:</label>
            <span>@Html.DropDownListFor(m => m.conferenceSelectionID, Model.ConferenceList, new { required = "required", @class = "form-control", @id = "totalRegistrationReportSelection" })</span>
            <br />

        </div>



        <div class="col-lg-12 py-2">
            <button class="btn btn-primary" id="submitTotalRegoReport" onclick="GenerateTotalRegistrationReport()">Generate Report</button>
            
        </div>
    </div>

    <div id="TotalRegistrationReportResult"></div>

    <div class="modal" id="reportLoader" tabindex="-1" role="dialog" aria-labelledby="loadReport" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Generating Report</h3>
                </div>
                <div class="modal-body justify-content-center d-flex">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>

}