﻿@using System.Data
@model Planetshakers.Events.Models.RegistrantReportModel

@{
    ViewBag.Title = "TotalRegistrantsReport";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">

    <div class="col-lg-12 py-2 border-bottom">
        <h3>Quick Total Report</h3>
    </div>

    @if (Model.conferenceList.Count() != 0)
    {

        <div class="col-lg-12 py-2">
            <div class="card">
                <div class="card-body shadow">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Conference</th>
                                <th>Total Registrant</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.conferenceList)
                            {
                                <tr>
                                    <td><a href="#" onclick="pullstats(@item.Conference_ID)">@item.Conference</a></td>
                                    <td>@item.TotalRegistrations</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="modal fade text-black-100" id="conferenceStats_modal" role="dialog" aria-labelledby="conference_stats" aria-hidden="true">
            <div class="modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="selfCheckinLabel"><strong>Conference Statistics</strong></h3>
                        <button id="closecsmodal" type="button" class="close" data-dismiss="show" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="conferenceStatsResult" class="modal-body row">
                    </div>
                </div>
            </div>
        </div>
    }

</div>


