﻿@using System.Data
@model Planetshakers.Events.Models.TransferReprotViewModel
@{
    ViewBag.Title = "Transfer Report";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">

    <div class="col-lg-12 py-2 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>
</div>


@using (Html.BeginForm("GenerateTransferReport", "Report", FormMethod.Post, new { id = "transferReportForm" }))
{
    <div class="row">
        <div class="col-lg-12 py-2">
            <label>Trip:</label>
            <span>@Html.DropDownListFor(m => m.Conference_ID, Model.EventList, "-- Select Trip --", new { required = "required", @class = "form-control" })</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 py-2">
            <label>Select Date:</label>
            <span>@Html.DropDownListFor(m => m.selectedDateOpt, Model.Dateselection, new { id = "selectedDateOpt", @class = "form-control" })</span>
        </div>
    </div>


    if (Model.selectedDateOpt == 8)
    {
        <div id="customDate" class="row">
            <div class="col-lg-6">
                <label>Start Date:</label>
                @Html.TextBoxFor(m => m.StartDate, new { Value = Model.StartDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control", @style = "width:100%;" })
            </div>

            <div class="col-lg-6">
                <label>End Date:</label>
                @Html.TextBoxFor(m => m.EndDate, new { Value = Model.EndDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control", @style = "width:100%;" })
            </div>
        </div>
    }
    else
    {
        <div id="customDate" style="display:none" class="row">
            <div class="col-lg-6">
                <label>Start Date:</label>
                <div>@Html.TextBoxFor(m => m.StartDate, new { Value = Model.StartDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control", @style = "width:100%;" })</div>
            </div>

            <div class="col-lg-6">
                <label>End Date:</label>
                <div>@Html.TextBoxFor(m => m.EndDate, new { Value = Model.EndDate.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control", @style = "width:100%;" })</div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-lg-12 py-2">
            <input type="submit" class="btn btn-primary" id="submitTotalRegoReport" value="Generate Report">
        </div>
    </div>

}
@if (Model.displayReport == true)
{
    if (Model.singlePaymentList != null)
    {
        <div class="row">
            <div class="col-lg-12 py-2">
                <h4>Single Registration Payment Transfer</h4>
                <div class="card">
                    <div class="card-body shadow">
                        <table id="singleTransferTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>CCTransection Ref.</th>
                                    <th>Comment</th>
                                    <th>Transfer Made By</th>
                                    <th>Transfer Amount (@Model.Currency)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sp in Model.singlePaymentList)
                                {
                                    <tr>
                                        <td>@sp.Contact_Name</td>
                                        <td>@sp.CCTransactionRef</td>
                                        <td>@sp.Comment</td>
                                        <td>@sp.PaymentBy_Name</td>
                                        <td>@sp.PaymentAmount.ToString("0.00")</td>
                                    </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th>Tally:</th>
                                    <th>@Model.totalSingleTransferAmount.ToString("0.00")</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }


    <div class="row">
        <div class="col-lg-12 py-2">
            <h4>Group Registration Payment Transfer</h4>
            <div class="card">
                <div class="card-body shadow">
                    <table id="groupTransferTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>CCTransection Ref.</th>
                                <th>Comment</th>
                                <th>Transfer Made By</th>
                                <th>Transfer Amount (@Model.Currency)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var gp in Model.groupPaymentList)
                            {
                                <tr>
                                    <td>@gp.GroupLeader_Name</td>
                                    <td>@gp.CCTransactionRef</td>
                                    <td>@gp.Comment</td>
                                    <td>@gp.PaymentBy_Name</td>
                                    <td>@gp.PaymentAmount.ToString("0.00")</td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Tally:</th>
                                <th>@Model.totalGroupTransferAmount.ToString("0.00")</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

