﻿@model Planetshakers.Events.Models.PaymentDetailModel

@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class='row' id='successMessage' style='display:none;'>
    <div class='col-lg-12'>

        <div class='alert alert-success'>Successfully saved.</div>
    </div>
</div>
<div class='row mb-2'>
    <div class='col-lg-6'>
        <label>Payment Category:</label>
        <select class='form-control' disabled><option selected> @Model.payment.Category </option></select>
    </div>
    <div class='col-lg-6'>
        <label>Payment Type:</label>
        <select class='form-control' disabled><option selected> @Model.payment.PaymentType </option></select>
    </div>
</div>

<div class='row mb-2'>
    <div class='col-lg-6'>
        <label>Payment Souce:</label>
        <select class='form-control' disabled><option selected> @Model.payment.PaymentSource </option></select>
    </div>

    <div class='col-lg-6'>
        <label>Paid by:</label>
        @if (Model.payment.PaymentSource_ID == 3 && Model.payment.Amount > 0)
        {
            @Html.TextBox("PaidBy", Model.payment.PaidBy, new { @class = "form-control", disabled = "disabled" })
        }
        else
        {
            if (Model.payment.Amount > 0)
            {
                @Html.TextBoxFor(x => x.payment.PaidBy, new { @class = "form-control", disabled = "disabled" })
            }
            else
            {
                @Html.TextBox("PaidBy", " - ", new { @class = "form-control", disabled = "disabled" })
            }
        }
    </div>
</div>
<div class='row mb-2'>

    <div class='col-lg-6'>

        <label>Payment Amount:</label>
        <input class='form-control' type='text' value='@Model.payment.Amount' disabled />

    </div>
    <div class='col-lg-6'>

        <label>Transaction Reference:</label>
        @if (Model.payment.PaymentType == "Credit Card - ADMIN")
        {
            @*<input id='transactionRef' class='form-control' name='transactionRef' type='text' value='model.payment.TransactionRef'>*@
            @Html.TextBoxFor(x => x.payment.TransactionRef, new { @class = "form-control" })
        }
        else
        {
            @Html.TextBoxFor(x => x.payment.TransactionRef, new { @class = "form-control", disabled = "disabled" })
        }
    </div>
</div>

<div class='row mb-2'>

    <div class='col-lg-12'>

        <label>Comments:</label>
        @Html.TextBoxFor(x => x.payment.Comment, new { @class = "form-control" })

    </div>

</div>
<div class='row mb-2'>

    <div class='col-lg-6'>
        @Html.HiddenFor(x => x.payment.ID)
        @*@Html.HiddenFor(x => x.payment.TransactionRef)*@
        @*<input type='hidden' class='form-control' id='Payment_ID' name='Payment_ID' value='" + json.ID + "'>*@
        @*<input class='form-control' name='transactionRef' type='hidden' value='" + json.TransactionRef + "'>*@

    </div>
    <div class='col-lg-6 text-right'>

        <input class='btn btn-primary mr-2' type='button' value='Save' onclick='UpdatePayment(@Model.payment.ID, false)' />

        @if (Model.isAdmin)
        {
            if (Model.intentNotFound)
            {
                <input id='refund_btn' class='btn btn-secondary' type='submit' value='Transaction Not Found' disabled />
            }
            else if (Model.refunded)
            {
                <input id='refund_btn' class='btn btn-secondary' type='submit' value='Refunded' disabled />
            }
            else
            {
                if (Model.payment.Amount > 0)
                {
                    <button id='refund_btn' onclick='refundConfirm(@Model.payment.ID)' class='btn btn-secondary'>Refund Payment</button>
                }
            }
        }
    </div>
</div>