﻿@model Planetshakers.Events.Models.EventSearchViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<br />
<table id="SearchResultTable" style="width: 100%;" class="table table-bordered">
    <thead class="table-active">
        <tr>
            <td>Contact_ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Registration Type</td>
            <td>Paid (AUD)</td>
            <td>Outstanding Balance (AUD)</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.SearchResult)
        {
            <tr id="@v.Contact_ID">
                <td>@v.Contact_ID</td>
                <td>@v.FirstName</td>
                <td>@v.LastName</td>
                <td>@v.RegoType</td>
                <td>@v.Paid</td>
                <td>@v.Balance</td>
                <td><a href="@Url.Action("GroupDetails", "Registration", new { Group_ID = v.Contact_ID, Conference_ID = Model.SelectedConferenceID })" target="_blank" class="btn btn-primary">View Details</a></td>
            </tr>
        }
    </tbody>
</table>
<br />

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#SearchResultTable").length > 0) {
            $("#SearchResultTable").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                paging: true,
                "pageLength": 10,
                "lengthMenu": [10, 25, 50],
                info: false,
                cache: false,
                scrollCollapse: true,
                responsive: true,
                processing: true,
                searching: true,

                bAutoWidth: true,
            });

            $('#SearchResultTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#SearchResultTable_paginate').addClass("mt-3 mt-md-2");
        }
    });
</script>