﻿@model Planetshakers.Events.Models.ContactProfileModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="border-bottom expanded">

    <div class="row">
        <div class="col-lg-9 col-sm-12 py-1">
            <h3>Contact Profile - @Model.FullName (for @Model.Eventname)</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body shadow">
                    <fieldset>
                        <br />
                        <div class="row">
                            <div class="col-lg-2">
                                <label>Giving URL:</label>
                            </div><div class="col-lg-8" style="text-align: right; margin-bottom: 10px">
                                @Html.TextBoxFor(x => x.GivingURL, new { @class = "form-control", disabled = "disabled" })
                            </div>
                            <br />
                            <div class="col-lg-2 " style="text-align: right">
                                <button class="btn btn-dark" onclick="copyToClipboard()">Copy Link</button>
                            </div>
                        </div>
                        <br />
                        <hr />
                        <br />
                        <div class="row">
                            @Html.Hidden("ContactProfile_ID", Model.ContactProfile_ID)
                            @Html.Hidden("Contact_ID", Model.Contact_ID)
                            @Html.Hidden("Event_ID", Model.Event_ID)
                            <div class="col-lg-3">
                                @*pull from S3 using URL*@
                                <div>
                                    @if (Model.PhotoURL != null)
                                    {
                                        <img id="DisplayPicture" style="border-radius: 5px;" src="@Model.PhotoURL" class="img-fluid mb-4" />
                                        <button class="btn btn-danger" onclick="RemovePicture()">Remove Picture</button>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label>About Myself:</label>
                                    </div><div class="col-lg-10">
                                        @Html.TextAreaFor(x => x.AboutMyself, new { rows = "4", @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label>Trip Story:</label>
                                    </div><div class="col-lg-10">
                                        @Html.TextAreaFor(x => x.TripDetails, new { rows = "4", @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="col-lg-12" style="text-align: right">
                                <button class="btn btn-dark" onclick="updateContactProfile(@Model.Event_ID, @Model.Contact_ID)">Save Changes</button>
                            </div>
                            <br />
                        </div>
                        <br />
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function copyToClipboard() {
        var str = $("#GivingURL").val()
        return new Promise(function (resolve, reject) {
            var success = false;
            function listener(e) {
                e.clipboardData.setData("text/plain", str);
                e.preventDefault();
                success = true;
            }
            document.addEventListener("copy", listener);
            document.execCommand("copy");
            document.removeEventListener("copy", listener);
            success ? resolve() : reject();
            alert("Copied")
        });
    };

    function updateContactProfile() {
        var Contact_ID = $("#Contact_ID").val();
        var Event_ID = $("#Event_ID").val();
        var AboutMyself = $("#AboutMyself").val()
        var TripDetails = $("#TripDetails").val()
        var ContactProfile_ID = $("#ContactProfile_ID").val()
        //do ajax call to update
        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            url: "/Registration/updateContactProfile",
            data: JSON.stringify({
                "Event_ID": Event_ID,
                "Contact_ID": Contact_ID,
                "ContactProfile_ID": ContactProfile_ID,
                "AboutMyself": AboutMyself,
                "TripDetails": TripDetails
            }),
            success: function (result) {
                alert("Saved.")
            },
            error: function () {
                alert("Unable to save.");
            }
        });
    }

    function RemovePicture() {
        var ContactProfile_ID = $("#ContactProfile_ID").val()
        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            url: "/Registration/RemovePicture",
            data: JSON.stringify({
                "ContactProfile_ID": ContactProfile_ID,
            }),
            success: function (result) {
                alert("Removed Display Picture.")
                $("#DisplayPicture").attr("src", "")
            },
            error: function () {
                alert("Unable to remove display picture.");
            }
        });
    }
</script>
