﻿@model Planetshakers.Events.Models.CreateNewGroupModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@**This Page is used to create new group WITHOUT EXISTING PEOPLE INFORMATION. The person must have existed in order to create a new group.*@


<div class="row">

    <div class="col-lg-12 border-bottom">
        @if (Model.success == true)
        {
            <h3>Successfully created new group</h3>
        }
        else
        {
            <h3>Create New Group</h3>

        }

    </div>

    <div class="col-lg-12">
        @if (Model.success == true)
        {
            <br /><div id="successMessage" class="alert alert-success fa-border"><strong>New Group Created successfully.</strong></div><br />
        }

        else
        {
            if (Model.message != null)
            {
                <div class="alert alert-danger fa-border"><strong>@Model.message</strong></div>
            }
            using (Html.BeginForm("CreateNewGroupWithNewRegistrant", "Registration", FormMethod.Post, new { @id = "newGroupForm" }))
            {
                <div class="card">
                    <div class="card-body shadow">
                        <h4>Group Leader Information</h4><br />
                        <!-- Title -->
                        <div>
                            <label>Title</label>
                            @Html.DropDownListFor(m => m.NewPeopleModel.common_contact.Salutation_ID, Model.NewPeopleModel.SalutationList, new { @required = "required", @class = "form-control" })
                        </div>
                        <br />
                        <!-- First Name -->
                        <div>
                            <label>First Name <span style="color:Red"> * </span> </label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contact.FirstName, new { @required = "required", @class = "form-control" })
                        </div>
                        <br />
                        <!-- Last Name -->
                        <div>
                            <label>Last Name <span style="color:Red"> * </span> </label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contact.LastName, new { @required = "required", @class = "form-control" })
                        </div>
                        <br />

                        <!-- Email Address -->
                        <div>
                            <label>Email Address <span style="color:Red"> * </span> </label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contact.Email, new { @required = "required", @class = "form-control" })
                        </div>
                        <br />

                        <!-- Gender -->
                        <div>
                            <label for="Gender" id="question">Gender <span style="color:Red"> * </span> </label><br />
                            @Html.DropDownListFor(m => m.NewPeopleModel.common_contact.Gender, Model.NewPeopleModel.GenderList, "", new { @required = "required", @class = "form-control" })
                        </div>
                        <br />

                        <!-- Password -->
                        <div>
                            <label>Password </label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contact.Password, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Phone -->
                        <div>
                            <label>Phone No.</label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contact.Phone, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Mobile -->
                        <div>
                            <label>Phone No.(Mobile) </label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contact.Mobile, "", new { @class = "form-control" })
                        </div>
                        <br />


                        <!-- Date of Birth-->
                        <div>
                            <label>Date of Birth</label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contact.DateOfBirth, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                        </div>
                        <br />
                        <!--Address-->
                        <div>
                            <label>Address</label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contact.Address1, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Country -->
                        <div>
                            <label>Country</label><br />
                            @Html.DropDownListFor(m => m.NewPeopleModel.common_contact.Country_ID, Model.NewPeopleModel.CountryList, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- State -->
                        <div>
                            <label>State</label><br />
                            @Html.DropDownListFor(m => m.NewPeopleModel.common_contact.State_ID, Model.NewPeopleModel.StateList, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Suburb-->
                        <div>
                            <label>City/Suburb</label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contact.Suburb, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Postcode -->
                        <div>
                            <label>Postcode/Zip </label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contact.Postcode, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Emergency Contact Name-->
                        <div>
                            <label>Emergency Contact Name</label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contactExternalEvent.EmergencyContactName, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Emergency Contact Phone -->
                        <div>
                            <label>Emergency Contact Phone</label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contactExternalEvent.EmergencyContactPhone, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Relationship -->
                        <div>
                            <label>Emergency Contact Relationship</label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contactExternalEvent.EmergencyContactRelationship, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Medical Information -->
                        <div>
                            <label>Medical Information </label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contactExternalEvent.MedicalInformation, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Medical Allergies -->
                        <div>
                            <label>Medical Allergies </label>
                            @Html.TextBoxFor(m => m.NewPeopleModel.common_contactExternalEvent.MedicalAllergies, "", new { @class = "form-control" })
                        </div>
                        <br />
                        <div class="border-bottom"></div>
                        <h4>Group Details</h4>
                        <!-- Group Name -->
                        <div>
                            <label>Group Name <span style="color:Red"> * </span> </label>
                            @Html.TextBoxFor(m => m.group.GroupName, new { @required = "required", @class = "form-control" })
                        </div>
                        <br />

                        <!-- Group Coleader Name -->
                        <div>
                            <label>Group Coleader Name</label>
                            @Html.TextBoxFor(m => m.group.GroupColeaders, new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Youth Leader Name -->
                        <div>
                            <label>Youth Leader Name</label>
                            @Html.TextBoxFor(m => m.group.YouthLeaderName, new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Group Size -->
                        <div>
                            <label>Group Size</label>
                            @Html.DropDownListFor(m => m.group.GroupSizeID, Model.GroupSizeList, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Group Type -->
                        <div>
                            <label>Group Type</label>
                            @Html.DropDownListFor(m => m.group.GroupTypeID, Model.GroupTypeList, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Comments -->
                        <div>
                            <label>Comments </label>
                            @Html.TextBoxFor(m => m.group.Comments, new { @class = "form-control" })
                        </div>
                        <br />

                        <!--Submit button-->
                        <div>
                            <input type="submit" class="btn btn-primary" name="buttonSubmit" value="Submit" /><br /><br />
                        </div>
                    </div>
                </div>
                
            }
        }


    </div>
    @if (Model.success)
    {
        <div class="left col-lg-2">
            <input type="button" class="btn btn-primary btn-block" value="Continue"
                   onclick="window.location.href='/Registration/SingleRegistration'" />
        </div>
    }


</div>
