﻿@using System.Data;
@model Planetshakers.Events.Models.EventSearchViewModel
@{
    ViewBag.Title = "Trip Registrations";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div>
    <div class="row mx-3">
        <div id="conferenceCheck" class="col-lg-12" style="display: none;">
            <div class="alert alert-danger fa-border"><strong>Please select an trip.</strong></div><br />
        </div>
        <div class="col-lg-12">
            <form class="form-group">
                <!-- select conference or event.-->
                <label>Trips:</label><br />
                @Html.DropDownListFor(m => m.SelectedConference, Model.event_list,
               "-- Select Trip --", new { required = "required", id = "selectedConference", @class="form-control", @onchange="changeEventID()" })
            </form>
        </div>
        <div class="col-lg-12" id="multiSelRegoType">
                <label>Registration Types:</label><br />
                <select id='selectedRegoType' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'></select>
        </div>
        
        <div class="col-lg-3 py-0 py-lg-4" style="text-align: right">
            <button class="btn btn-primary btn-block" onclick="generateEventRegistrations()" style="margin: 0px;">Select</button>
        </div>

        <div id="conferenceViewResult" class="col-lg-12"></div>
        
        <div class="col-lg-9"></div>
    </div>
</div>

<script>
    function generateEventRegistrations() {
        var conference = $("#selectedConference").val();
        var regoTypeList = $('#selectedRegoType').val();

        var list = [];
        for (let i = 0; i < regoTypeList.length; i++) {
            list.push(regoTypeList[i])
        }

        if (conference == "" || conference == null) {
            $("#conferenceCheck").show();
            return false;
        }
        else {
            $("#conferenceCheck").hide();
            $.ajax({
                cache: false,
                async: false,
                type: "POST",
                url: '/Registration/SearchEventRegistrations',
                data: {
                    "Event_ID": conference,
                    "RegistrationType_IDs": list
                },
                success: function (json) {
                    $("#conferenceViewResult").html(json);
                },
                error: function () {
                    alert("Finding not successful.");
                }
            });
        }
    };

    function changeEventID() {
        var Conference_ID = $('#selectedConference').val();
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Registration/GetRegoType",
            data: { "Conference_ID": Conference_ID },
            success: function (json) {
                var html = "";
                html += "<label>Registration Type: </label><select name='selValue' id='selectedRegoType' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'>";
                for (i = 0; i < json.length; i++) {
                    html += "<option value = " + json[i].Value + " >" + json[i].Text + "</option > ";
                }
                html += "</select><br />";
                $("#multiSelRegoType").html(html);
                $('#selectedRegoType').selectpicker({
                    noneSelectedText: ' All Registration Type ' 
                });
            },
            error: function () {
                alert("There are some errors loading Registration Type.");
            }
        });
    }
    $(document).ready(function () {
        $('#selectedRegoType').selectpicker({
            noneSelectedText: ' All Registration Type ' 
        });

    })
</script>
