﻿@model Planetshakers.Events.Models.GroupViewModel
@{
    ViewBag.Title = "ContactHistory";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script>
    $('#historylist2').ready(function () {
        $('#historylist2 tr:hidden').slice(0, 10).show();
    });
    function showMoreGroupHistory() {
        $('#historylist2 tr:hidden').slice(0, 10).show();
        if ($('#historylist2 tr:hidden').length == 0) {
            $("#loadMore2").hide();
        }
    }
</script>


<div class="row mb-2">

    <div class="col-lg-12 border-bottom">
        <h2>History</h2>
    </div>


    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow">
                <table id="historylist2" class="table table-bordered">
                    <tr>
                        <th>Date Changed</th>
                        <th>User</th>
                        <th>Conference</th>
                        <th>Action</th>
                        <th>Item</th>
                        <th>Old Text</th>
                        <th>New Text</th>
                    </tr>
                    @foreach (var i in Model.History)
                    {
                        <tr style="display:none">
                            <td>@i.DateChanged</td>
                            <td>@i.User</td>
                            <td>@i.ConferenceName</td>
                            <td>@i.Action</td>
                            <td>@i.Item</td>
                            <td>@i.OldText</td>
                            <td>@i.NewText</td>
                        </tr>
                    }
                </table>

                <button id="loadMore2" class="btn btn-primary btn-block" onclick="showMoreGroupHistory()">Show more</button>
            </div>
        </div>
        

    </div>

</div>


