﻿@model Planetshakers.Events.Models.GroupViewModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var Contact_ID = CurrentContext.Instance.User.ContactID;
    var adminAccess = Planetshakers.Events.Controllers.AdministrationController.HasAdminAccess(Contact_ID);
}


<input type="hidden" name="Conference_ID" id="curConference_ID" value=@Model.Conference.ID />
<div class="border-bottom expanded">

    <div class="row">
        <div class="col-lg-9 col-sm-12 py-1">
            <h3>Group Details - @Model.Group.LeaderName</h3>
        </div>
        <div class="col-lg-3">
            @using (Html.BeginForm("SearchGroupContact", "Registration", FormMethod.Post, new { @id = "GroupDetailSearch" }))
            {

                @Html.TextBox("query", "", new { @placeholder = "Quick Search", @class = "form-control" })
                <span class="fa fa-search errspan"></span>
                @*@Html.Hidden("QuickSearchConf", new { Model.Conference.ID })*@
                <input type="hidden" name="Conference_ID" id="QuickSearchConf" value=@Model.Conference.ID />

            }
        </div>
    </div>
</div>

@* ---- Group Details ---- *@
<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow">
                <h4>Group Details</h4>

                <div class="row mb-2">
                    <!-- ID -->
                    <div class="col-lg-1 pr-0">
                        <span class="prefix form-control"><strong>ID:</strong></span>
                    </div>
                    <div class="col-lg-1 p-0">
                        <input class="form-control" id="txtGroup_ID" type="text" value="@Model.Group.ID" disabled />
                    </div>

                    <!-- Group Name -->
                    <div class="col-lg-2 p-0">
                        <span class="prefix form-control"><strong>Group Name:</strong></span>
                    </div>
                    <div class="col-lg-3 p-0">
                        <input class="form-control" id="txt_groupname" type="text" value="@Model.Group.GroupName" />
                    </div>
                    <div class="col-lg-2 p-0">
                        <span class="prefix form-control"><strong>Group Leader Name:</strong></span>
                    </div>
                    <div class="col-lg-3 pl-0">
                        <input class="form-control" type="text" value="@Model.Group.LeaderName" disabled />
                    </div>
                </div>

                <!-- Contact Details -->
                <div class="row mb-2">
                    <div class="col-lg-1 pr-0">
                        <span class="prefix form-control"><strong>Email:</strong></span>
                    </div>
                    <div class="col-lg-3 p-0">
                        <input class="form-control" id="txt_groupemail" type="text" value="@Model.Group.LeaderEmail" />
                    </div>
                    <div class="col-lg-2 p-0">
                        <span class="prefix form-control"><strong>Mobile:</strong></span>
                    </div>
                    <div class="col-lg-2 p-0">
                        <input class="form-control" id="txt_groupmobile" type="text" value="@Model.Group.LeaderMobile" />
                    </div>
                    <div class="col-lg-1">&nbsp;&nbsp;</div>
                    <div class="col-lg-1">&nbsp;&nbsp;</div>
                    <div class="col-lg-1">&nbsp;&nbsp;</div>
                    <div class="col-lg-1 pl-0">&nbsp;&nbsp;</div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-2 pr-0">
                        <span class="prefix form-control"><strong>Password:</strong></span>
                    </div>
                    <div class="col-lg-4 p-0">
                        <input class="form-control" id="txt_password" type="password" data-val="true" minlength="8" maxlength="20" value="default-password" />
                    </div>
                    <div class="col-lg-6 pl-0">&nbsp;&nbsp;</div>
                </div>

                <!-- Church Details -->
                <div class="row mb-2">


                    <div class="col-lg-1 pr-0">
                        <span class="prefix form-control"><strong>Church:</strong></span>
                    </div>
                    <div class="col-lg-3 p-0">
                        <input class="form-control" type="text" value="@Model.Group.Church" disabled />
                    </div>
                    <div class="col-lg-4">&nbsp;&nbsp;</div>
                    <div class="col-lg-1">&nbsp;&nbsp;</div>
                    <div class="col-lg-1">&nbsp;&nbsp;</div>
                    <div class="col-lg-1">&nbsp;&nbsp;</div>
                    <div class="col-lg-1 pl-0">&nbsp;&nbsp;</div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-9">
                        &nbsp;&nbsp;
                    </div>
                    <div class="col-lg-3" style="text-align: right">
                        <button href="#" class="btn btn-primary" onclick="changeGroupDetails()">Update</button>
                        <a href="@Url.Action("ViewContactProfile", "Registration", new { ContactProfile_ID = Model.ContactProfile_ID })" target="_blank" class="btn btn-primary">View Contact Profile</a>                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@*Display Balance*@
@if (Model.OutstandingBalance.TotalPayment != 0 || Model.OutstandingBalance.TotalCost != 0)
{
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body shadow">
                    <h4>Summary</h4>
                    <table class="table table-bordered">
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Total Cost</th>
                            <th>Total Payment</th>
                            <th>Balance</th>
                        </tr>
                        @if (Model.OutstandingBalance.Balance != 0)
                        {
                            <tr style="background-color:#FF269A">
                                <td>@Model.OutstandingBalance.GroupSingle</td>
                                <td>@Model.OutstandingBalance.GroupRegistrantName</td>
                                <td>@Model.OutstandingBalance.TotalCost.ToString("0.00")</td>
                                <td>@Model.OutstandingBalance.TotalPayment.ToString("0.00")</td>
                                <td style="color:#FFFFFF">@Model.OutstandingBalance.Balance.ToString("0.00")</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@Model.OutstandingBalance.GroupSingle</td>
                                <td>@Model.OutstandingBalance.GroupRegistrantName</td>
                                <td>@Model.OutstandingBalance.TotalCost.ToString("0.00")</td>
                                <td>@Model.OutstandingBalance.TotalPayment.ToString("0.00")</td>
                                <td>@Model.OutstandingBalance.Balance.ToString("0.00")</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@*Registration Types*@
<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow">
                <h4>Registrations</h4>
                @using (Html.BeginForm("GroupDetails", "Registration", FormMethod.Post))
                {
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <label><strong>Select Trip:</strong></label>
                            @Html.DropDownListFor(m => m.Conference.ID, Model.Conference_List, new { Name = "Conference_ID", required = "required", @class = "form-control" })
                            @Html.HiddenFor(m => m.Group.ID, new { Value = Model.Group.ID, Name = "Group_ID", id = "RegoGroupID" })

                        </div>
                        <div class="col-lg-12 my-2">
                            <input type="submit" class="btn btn-primary btn-block" value="Submit" />
                        </div>
                    </div>
                }
                @* ---- Current Registrants ---- *@
                <div class="row mb-2">
                    <div class="col-lg-12">
                        <table id="tblRego" class="table table-bordered">
                            <tr>
                                <th>Reg. ID</th>
                                <th>Name</th>
                                <th>Reg. Type</th>
                                @*<th>Quantity</th>*@
                                <th></th>
                            </tr>

                            @if (Model.GroupRegistration != null)
                            {
                                foreach (var rego in Model.GroupRegistration.Regos)
                                {
                                    <tr>
                                        @*<td><a href="#" onclick="window.open('@Url.Action("EditRegistrant", new { Contact_ID = rego.ContactID, Conference_ID = rego.Conference_ID })', '_blank')">@rego.ID</a></td>*@
                                        <td>@rego.ID</td>
                                        <td>@rego.FirstName @rego.LastName</td>
                                        <td>@rego.RegoType</td>
                                        @*<td>@rego.quantity</td>*@
                                        <td><button onclick="RemoveRegistrationType(@rego.ID, @rego.GroupLeader_ID, @rego.Conference_ID)" class="btn btn-danger">Remove</button></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                        <button class="btn btn-primary" onclick="openAddRegoModal()">Add Registration Type</button>
                        @if (Model.Withdrawn)
                        {
                            <button id="markWithdrawnButton" class="btn btn-primary" disabled>Marked as Withdrawn</button>
                        }
                        else
                        {
                            <button id="markWithdrawnButton" onclick="markasWithdrawn(@Model.applicationDetails.Application_ID)" class="btn btn-danger">Mark as Withdrawn</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addRego" tabindex="-1" role="dialog" aria-labelledby="purchase" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("AddNewRego", "Registration", FormMethod.Post))
                {
                    var i = 0;
                    <div class="modal-header">
                        <h3 class="modal-title">Add Registration</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body shadow">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Type</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                            </tr>
                                            @foreach (var item in Model.RegistrationType_List)
                                            {
                                                <tr>
                                                    <td>@item.RegistrationType</td>
                                                    <td>@item.RegistrationCost.ToString("0.00")</td>
                                                    @Html.Hidden("type[" + i + "].Key", item.RegistrationType_ID)
                                                    <td><input class="form-control" name="type[@i].Value" type="number" value="" /></td>
                                                </tr>
                                                i += 1;
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.Group.ID, new { Value = Model.Group.ID, Name = "GroupLeader_ID", id = "NewRegoGL" })
                            @Html.HiddenFor(m => m.Conference.ID, new { Value = Model.Conference.ID, Name = "Conference_ID", id = "NewRegoConf" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*Payments*@
<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow">
                <h4>Payment</h4>
                <table id="tblPayment" class="table table-bordered">
                    <tr>
                        <th>Payment ID</th>
                        <th>Payment Type</th>
                        <th>Payment Source</th>
                        <th>Currency</th>
                        <th>Payment Amount</th>
                        <th>Payment Date</th>
                        <th></th>
                        <th></th>
                    </tr>

                    @if (Model.PaymentList.Any())
                    {
                        foreach (var item in Model.PaymentList)
                        {
                            var now = DateTime.Now;
                            <tr id="@item.ID">
                                <td>@item.ID</td>
                                <td>@item.PaymentType</td>
                                <td>@item.PaymentSource</td>
                                <td>@item.Currency</td>
                                <td>@item.Amount.ToString("0.00")</td>
                                @if (item.StartDate <= now.AddMinutes(-30) && (bool)!item.Completed)
                                {
                                    <td>Pending</td>
                                }
                                else
                                {
                                    <td>@item.CompletedDate</td>
                                }

                                <td><button class="btn btn-primary" data-reveal-id="viewPayment" onclick="viewGroupPayment(@item.ID)">View</button></td>
                                <td><a href="@Url.Action("RemoveGroupPayment",new { Payment_ID = item.ID, Group_ID = Model.Group.ID, Conference_ID = Model.Conference.ID })" class="btn btn-primary">Remove</a></td>
                            </tr>
                        }
                    }
                </table>
                @if (Model.GroupRegistration != null)
                {
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addGroupPayment">Add Payment</button>
                }
            </div>
        </div>


        <div id="viewpaymentmodal" class="modal fade" aria-labelledby="registration" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 id='paymentDetails' class='modal-title'>Payment Details</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="viewPayment">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addGroupPayment" tabindex="-1" role="dialog" aria-labelledby="registration" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                @using (Html.BeginForm("AddGroupPayment", "Registration", FormMethod.Post))
                {
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="registration">Payment Details</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <label>Payment Category:</label>
                                    @Html.DropDownListFor(m => m.Payment.Category, Model.PaymentCategory_List, "", new { Name = "PaymentCategory", @id = "PaymentCategory", required = "required", @class = "form-control" })
                                </div>
                                <div class="col-lg-6">
                                    <label>Payment Type:</label>
                                    @Html.DropDownListFor(m => m.Payment.PaymentType_ID, Model.PaymentType_List, "", new { Name = "PaymentType_ID", required = "required", @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <label>Payment Amount:</label>
                                    @Html.TextBoxFor(m => m.Payment.Amount, new { placeholder = "0.00", Name = "PaymentAmount", required = "required", @class = "form-control", id = "PaymentDetailAmount" })
                                </div>
                                <div class="col-lg-6">
                                    <label>Payment Source:</label>
                                    @Html.DropDownListFor(m => m.Payment.PaymentSource_ID, Model.PaymentSource_List, "", new { Name = "PaymentSource_ID", required = "required", @class = "form-control" })
                                </div>

                            </div>

                            <div class="row mb-2">
                                <div class="col-lg-12">
                                    <label>Comments:</label>
                                    @Html.TextAreaFor(m => m.Payment.Comment, new { Name = "Comment", @class = "form-control" })
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    @Html.HiddenFor(m => m.Payment.Group_ID, new { Value = Model.Group.ID, Name = "Group_ID", id = "AddPaymentGL" })
                                    @Html.HiddenFor(m => m.Payment.Conference_ID, new { Value = Model.Conference.ID, Name = "Conference_ID", id = "AddPaymentConf" })
                                </div>
                                <div class="col-lg-6">

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary" type="submit" id="paymentDetailsSaveButton" value="Save" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*Sponsorships*@
<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow">
                <h4>Sponsorship</h4>
                <table id="tblSponsorship" class="table table-bordered">
                    <tr>
                        <th>Types</th>
                        <th>Payment Type</th>
                        <th>Payment Amount</th>
                        <th>Payment Date</th>
                        <th></th>
                    </tr>
                    @if (Model.SponsorshipList.Any())
                    {
                        foreach (var i in Model.SponsorshipList)
                        {
                            <tr>
                                <td>
                                    @if (i.Donor)
                                    {<span>Donor</span> }
                                    else if (i.Recipient)
                                    { <span>Recipient</span>}
                                </td>
                                <td>@i.PaymentType</td>
                                <td>@i.PaymentAmount</td>
                                <td>@i.PaymentDate</td>
                                <td><button class="btn btn-primary" onclick="openSponsorDetailModal(@i.VariablePaymentID)">View</button></td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div id="EditModal"></div>
<div id="DeleteConfirmation" class="modal fade text-black-100" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Confirmation</h3><br />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this sponsorship?
            </div>
            <div id="ConfirmationBtn" class="modal-footer" style="text-align: right;">
            </div>
        </div>
    </div>
</div>


@*Documents*@
<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow">
                <h4>Documents</h4>
                <table id="tblDocument" class="table table-bordered">
                    <tr>
                        <th>Document</th>
                        <th>File Name</th>
                        <th>Last Update Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                    @if (Model.Documents != null)
                    {
                        foreach (var i in Model.Documents.DocumentList)
                        {
                            if (i.uploaded)
                            {
                                <tr>
                                    <td>
                                        @i.DocumentType
                                    </td>
                                    <td>@i.originalName</td>
                                    <td>@i.UploadedDateTime</td>
                                    <td><button class="btn btn-warning" onclick="downloadDoc(@i.Document_ID)">Download</button></td>
                                    @if (i.Approved)
                                    {
                                        <td><button class="btn btn-danger" id="approveBtn_@i.Document_ID" onclick="unapproveDoc(@i.Document_ID)">Unapprove</button></td>

                                    }
                                    else
                                    {
                                        <td><button class="btn btn-primary" id="approveBtn_@i.Document_ID" onclick="approveDoc(@i.Document_ID)">Approve</button></td>
                                    }
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        @i.DocumentType
                                    </td>
                                    <td>@i.originalName</td>
                                    <td><label style="color: red">(waiting for upload)</label></td>
                                    <td><button class="btn btn-warning" disabled>Download</button></td>
                                    <td><button class="btn btn-primary" disabled>Approve</button></td>
                                </tr>
                            }

                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@*-----Application Detail-----*@
<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow">
                <h4>Application</h4>
                <table id="tblApplication" class="table table-bordered">
                    <tr>
                        <th>Application ID</th>
                        <th>Registration Type</th>
                        <th>Approved Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                    @if (Model.applicationDetails != null)
                    {
                        <tr>
                            <td>@Model.applicationDetails.Application_ID </td>
                            <td>@Model.applicationDetails.RegistrationType</td>
                            <td>@Model.applicationDetails.ApprovedTime</td>
                            <td><button class="btn btn-primary" onclick="openApplicationDetail(@Model.applicationDetails.Application_ID)">View Details</button></td>
                            <td><button class="btn btn-primary" onclick="openApplicationReferral(@Model.applicationDetails.Application_ID)">View Referrals</button></td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

@*Application Detail Model*@
<div id="ApplicationDetailModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Application Detail</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DetailsBody">
                    <p>Application Questions and Answers</p>
                </div>


            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

@*Application Referral Modal*@
<div id="ApplicationReferralModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Application Referrals</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ReferralBody">
                    <p>Application Referrals listed with some action buttons </p>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>
@*----------------------------*@

@*Emergency Contact*@
<div class="row mb-2">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow">
                <h4>Emergency Contact</h4>
                <table id="tblEmergencyContact " class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Relationship</th>
                    </tr>
                    @if (Model.emergencyContacts.Any())
                    {
                        foreach (var i in Model.emergencyContacts)
                        {
                            <tr id="emergencyContact_@i.EmergencyContact_ID">
                                <td>@i.Name</td>
                                <td>@i.Mobile</td>
                                <td>@i.Relationship</td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@*Comments*@
<div class="row mb-2">
    @Html.Hidden("hasAdminAccess", adminAccess)
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body shadow">
                <h4>Comments</h4>
                <table id="tblComment" class="table table-bordered">
                    <tr>
                        <th>Comment</th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Remove</th>
                    </tr>
                    @foreach (var i in Model.CommentList)
                    {
                        <tr id="groupcomment_@i.Id">
                            <td style="width:50%">@i.Comment</td>
                            <td>@i.CommentDate</td>
                            <td>@i.CommenterName</td>
                            @if (adminAccess)
                            {
                                <td><button class="btn btn-primary" onclick="removeGroupComment(@i.Id)">Remove</button></td>

                            }
                            else
                            {
                                <td><button class="btn btn-primary" disabled>Remove</button></td>
                            }
                        </tr>
                    }
                </table>

                <div class="row my-2">
                    <div class="col-lg-10">
                        @Html.TextAreaFor(m => m.NewComment, new { id = "new_groupcomment", placeholder = "Type comment here...", @class = "form-control" })
                    </div>
                    <div class="col-lg-2">
                        <button id="submit_groupcomment" class="btn btn-primary btn-block">Add Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-lg-12">
        <button class="btn btn-primary" href="/Registration/GroupRegistration">Back</button>
    </div>
</div>

<script>
    $(document).ready(function () {


        $("#Payment_PaymentType_ID").change(function () {
            var paymentType_ID = $("#Payment_PaymentType_ID").val();
            var paymentCategory = $("PaymentCategory :selected").text();
            if (paymentType_ID == 10 && paymentCategory == "Payment") {
                console.log("voucher")
                var vouchercode = $("#voucherinput").val();
                if (vouchercode.length == 0) {
                    document.getElementById("paymentDetailsSaveButton").disabled = true;
                }
            } else {
                document.getElementById("paymentDetailsSaveButton").disabled = false;
            }
        })
    });

    $("#submit_groupcomment").click(function () {
        var id = $('#txtGroup_ID').val();
        var conf_id = $('#Conference_ID').val();
        var comment = $('#new_groupcomment').val();

        console.log(conf_id);
        console.log(comment);

        $.ajax({
            cache: false,
            type: "POST",
            url: "AddGroupComment",
            data: { "group_id": id, "conference_id": conf_id, "new_comment": comment },
            success: function (json) {
                var AdminAccess = $("#hasAdminAccess").val()
                console.log(AdminAccess)
                var str = "<tr id='groupcomment_" + json.Id + "' ><td>" + json.Comment + "</td><td>" + json.sCommentDate + "</td><td>" + json.CommenterName + "</td>"
                if (AdminAccess == "False") {
                    str += "<td><button class='btn btn-primary' disabled>Remove</button></td></tr>"
                } else {
                    str += "<td><button class='btn btn-primary' onclick='removeGroupComment(" + json.Id + ")'>Remove</button></td></tr>"
                }
                $('#tblComment').append(str);
                $("#new_groupcomment").val("");
            },
            error: function (json) {
                alert("Error trying to add comment");
            }
        });
    });

    function removeGroupComment(id) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "RemoveGroupComment",
            data: { "comment_id": id },
            success: function (json) {
                $("#groupcomment_" + id).remove();
            },
            error: function (json) {
                alert("Error trying to remove comment.");
            }
        });
    };

    $("#refundgrouppayment").on("submit", function () {
        $("refund_btn").attr("disabled", true);
    });

    $("#PaymentDetailAmount").on("input", function () {
        var sum = parseInt($("#PaymentDetailAmount").val());
        var vouchervalue = parseInt($("#voucher_value").val());
        if (sum <= vouchervalue) {
            $("#total_value_applied").val(0);
        } else {
            $("#total_value_applied").val(sum - vouchervalue);
        }
    });

    function openSponsorDetailModal(VariablePayment_ID) {
        var Conference_ID = $("#curConference_ID").val()
        $.ajax({
            type: "POST",
            url: "/Administration/EditSponsorship",
            data: JSON.stringify({
                "VariablePayment_ID": VariablePayment_ID,
                "Conference_ID": Conference_ID}),
            contentType: 'application/json; charset=utf-8',
            success: function (view) {
                $("#EditModal").html(view);
                $("#Edit_" + VariablePayment_ID).modal("show");
            },
            error: function (result) {
                alert("Unable to retrieve details.")
            }
        });
    }

    function downloadDoc(Document_ID) {
        $.ajax({
            type: "POST",
            url: "/Registration/DownloadFile",
            data: JSON.stringify({ "Document_ID": Document_ID }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                console.log(result)
                downloadURI(result.url, result.name);
            },
            error: function (result) {
                alert("Unable to download file.")
            }
        });
    }
    function downloadURI(uri, name) {
        var link = document.createElement("a");
        link.download = name;
        link.href = uri;
        link.target = "_blank";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;
    }

    function approveDoc(Document_ID) {
        $.ajax({
            type: "POST",
            url: "/Registration/ApproveFile",
            data: JSON.stringify({ "Document_ID": Document_ID }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $("#approveBtn_" + Document_ID).html("Unapprove")
                $("#approveBtn_" + Document_ID).removeClass("btn-primary");
                $("#approveBtn_" + Document_ID).addClass("btn-danger");
                $("#approveBtn_" + Document_ID).attr("onclick", "unapproveDoc(" + Document_ID+")");
                alert("Document Approved")
            },
            error: function (result) {
                alert("Unable to approve document.")
            }
        });
    }
    function unapproveDoc(Document_ID) {
        $.ajax({
            type: "POST",
            url: "/Registration/UnapproveFile",
            data: JSON.stringify({ "Document_ID": Document_ID }),
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $("#approveBtn_" + Document_ID).html("Approve")
                $("#approveBtn_" + Document_ID).addClass("btn-primary");
                $("#approveBtn_" + Document_ID).removeClass("btn-danger");
                $("#approveBtn_" + Document_ID).attr("onclick", "approveDoc(" + Document_ID + ")");
                alert("Document Unapproved")
            },
            error: function (result) {
                alert("Unable to approve document.")
            }
        });
    }
    function openApplicationDetail(Application_ID) {
        $.ajax({
            type: "POST",
            url: '/Application/getApplicationDetails',
            data: {
                "Application_ID": Application_ID
            },
            success: function (json) {
                $("#DetailsBody").html(json);
                $("#ApplicationDetailModal").modal("show")
            },
            error: function () {
                alert("Error opening details pop up.");
            }
        });
    }

    function openApplicationReferral(Application_ID) {
        $.ajax({
            type: "POST",
            url: '/Application/getApplicationReferrals',
            data: {
                "Application_ID": Application_ID
            },
            success: function (json) {
                $("#ReferralBody").html(json);
                $("#ApplicationReferralModal").modal("show")
            },
            error: function () {
                alert("Error opening referrals pop up.");
            }
        });
    }

    function openAddRegoModal() {
        $("#addRego").modal("show");
    }

    function RemoveRegistrationType(Registration_ID, Group_ID, Conference_ID) {
        //only remove when there is at least one alocated registration type
        $.ajax({
            type: "POST",
            url: '/Registration/RemoveRegoTypeCheck',
            data: {
                "Registration_ID": Registration_ID,
                "Group_ID": Group_ID,
                "Conference_ID": Conference_ID
            },
            success: function (json) {
                if (json.success) {
                    $.ajax({
                        type: "POST",
                        url: '/Registration/RemoveRegistrant',
                        data: {
                            "Registration_ID": Registration_ID,
                            "Group_ID": Group_ID,
                            "Conference_ID": Conference_ID
                        },
                        success: function (json) {
                            window.location.reload();
                        },
                        error: function () {
                            alert("Unable to remove Registration Type");
                        }
                    });
                } else {
                    alert("Please make sure that this person is allocated to at least one registration type after remmove the current one.")
                }
            },
            error: function () {
                alert("Unable to remove Registration Type");
            }
        });        
    }

    function markasWithdrawn(Application_ID) {
        $.ajax({
            type: "POST",
            url: '/Registration/MakeWithdrawnStatus',
            data: {
                "Application_ID": Application_ID,
            },
            success: function (json) {
                alert("Marked as Withdrawn");
                $("#markWithdrawnButton").html("Marked as Withdrawn");
                $("#markWithdrawnButton").attr("disabled", true);
                $("#markWithdrawnButton").addClass("btn-primary").removeClass("btn-danger");
            },
            error: function () {
                alert("Unable to mark as withdrawn");
            }
        });        
    }
</script>
