﻿@model Planetshakers.Events.Models.NewGroupModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@**This Page is used to create new group FROM SINGLE REGISTRATION CONTACT PAGE. The person must have existed in order to create a new group.*@


<div class="row">

    <div class="col-lg-12 border-bottom expanded">
        @if (Model.success == true)
        {
            <h3>Successfully created new group</h3>
        }
        else
        {
            <h3>Create Group</h3>
        }

    </div>

    <div class="col-lg-12">
        @if (Model.success == true)
        {
            <br /><div id="successMessage" class="alert alert-success fa-border" style="background-color: #D0F0C0"><strong style="color:black;">New Group Created successfully.</strong></div><br />
        }
        else
        {
            if (Model.message != null)
            {
                <br /><div class="alert alert-danger fa-border"><strong>@Model.message</strong></div><br />
            }
            using (Html.BeginForm("NewGroupCreate", "Registration", FormMethod.Post, new { @id = "newGroupForm" }))
            {
                <div class="card">
                    <div class="card-body shadow">
                        @Html.HiddenFor(m => m.group.ID)
                        @Html.HiddenFor(m => m.Conference_ID)
                        <!-- Group Name -->
                        <div>
                            <label>Group Name <span style="color:Red"> * </span> </label>
                            @Html.TextBoxFor(m => m.group.GroupName, new { @required = "required", @class = "form-control" })
                        </div>
                        <br />

                        <!-- Group Coleader Name -->
                        <div>
                            <label>Group Coleader Name</label>
                            @Html.TextBoxFor(m => m.group.GroupColeaders, new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Youth Leader Name -->
                        <div>
                            <label>Youth Leader Name</label>
                            @Html.TextBoxFor(m => m.group.YouthLeaderName, new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Group Size -->
                        <div>
                            <label>Group Size</label>
                            @Html.DropDownListFor(m => m.group.GroupSizeID, Model.GroupSizeList, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Group Type -->
                        <div>
                            <label>Group Type</label>
                            @Html.DropDownListFor(m => m.group.GroupTypeID, Model.GroupTypeList, "", new { @class = "form-control" })
                        </div>
                        <br />

                        <!-- Comments -->
                        <div>
                            <label>Comments </label>
                            @Html.TextBoxFor(m => m.group.Comments, new { @class = "form-control" })
                        </div>
                        <br />

                        <!--Submit button-->
                        <div>
                            <input type="submit" class="btn btn-primary " name="buttonSubmit" value="Submit" /><br /><br />
                        </div>
                    </div>
                </div>

            }
        }


    </div>
    @if (Model.success == true)
    {
        <div class="left col-lg-3 my-2">
            <input type="button" class="btn btn-primary btn-block" value="Continue"
                   onclick="window.location.href='@Url.Action("ContactDetails", "Registration",
                                  new { Contact_ID = Model.group.ID, Conference_ID = Model.Conference_ID })'" />
        </div>
    }


</div>

