﻿@model Planetshakers.Events.Models.NewRegistrantModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}



<div class="row">

    <div class="col-lg-12 border-bottom">
        <h3>New Registrant</h3>
    </div>

    <div class="col-lg-12">
        @if (Model.success == true)
        {
            <div id="successMessage" class="alert alert-success fa-border" style="background-color: #D0F0C0"><strong style="color:black;">New Registrant Sign Up successfully.</strong></div>
        }
        @using (Html.BeginForm("NewRegistrantSignUp", "Registration", FormMethod.Post, new { @id = "newRegistrantForm" }))
        {
            <div class="card">
                <div class="card-body shadow">
                    <h4>General Information</h4><br />
                    <!-- Title -->
                    <div>
                        <label>Title <span style="color:Red"> * </span> </label>
                        @Html.DropDownListFor(m => m.common_contact.Salutation_ID, Model.SalutationList, new { @required = "required", @class = "form-control" })
                    </div>
                    <br />
                    <!-- First Name -->
                    <div>
                        <label>First Name <span style="color:Red"> * </span> </label>
                        @Html.TextBoxFor(m => m.common_contact.FirstName, new { @required = "required", @class = "form-control" })
                    </div>
                    <br />
                    <!-- Last Name -->
                    <div>
                        <label>Last Name <span style="color:Red"> * </span> </label>
                        @Html.TextBoxFor(m => m.common_contact.LastName, new { @required = "required", @class = "form-control" })
                    </div>
                    <br />

                    <!-- Email Address -->
                    <div>
                        <label>Email Address <span style="color:Red"> * </span> </label>
                        @Html.TextBoxFor(m => m.common_contact.Email, new { @required = "required", @class = "form-control" })
                    </div>
                    <br />

                    <!-- Gender -->
                    <div>
                        <label for="Gender" id="question">Gender <span style="color:Red"> * </span> </label><br />
                        @Html.DropDownListFor(m => m.common_contact.Gender, Model.GenderList, "", new { @required = "required", @class = "form-control" })
                    </div>
                    <br />

                    <!-- Password -->
                    <div>
                        <label>Password </label>
                        @Html.TextBoxFor(m => m.common_contact.Password, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!-- Phone -->
                    <div>
                        <label>Phone No.</label>
                        @Html.TextBoxFor(m => m.common_contact.Phone, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!-- Mobile -->
                    <div>
                        <label>Phone No.(Mobile) </label>
                        @Html.TextBoxFor(m => m.common_contact.Mobile, "", new { @class = "form-control" })
                    </div>
                    <br />


                    <!-- Date of Birth-->
                    <div>
                        <label>Date of Birth</label>
                        @Html.TextBoxFor(m => m.common_contact.DateOfBirth, "{0:yyyy-MM-dd}", new { type = "date", @class="form-control" })
                    </div>
                    <br />
                    <!--Address-->
                    <div>
                        <label>Address</label>
                        @Html.TextBoxFor(m => m.common_contact.Address1, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!-- Country -->
                    <div>
                        <label>Country</label><br />
                        @Html.DropDownListFor(m => m.common_contact.Country_ID, Model.CountryList, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!-- State -->
                    <div>
                        <label>State</label><br />
                        @Html.DropDownListFor(m => m.common_contact.State_ID, Model.StateList, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!-- Suburb-->
                    <div>
                        <label>City/Suburb</label>
                        @Html.TextBoxFor(m => m.common_contact.Suburb, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!-- Postcode -->
                    <div>
                        <label>Postcode/Zip </label>
                        @Html.TextBoxFor(m => m.common_contact.Postcode, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <div class="border-bottom"></div>
                    <h4>Others</h4><br />

                    <!-- Emergency Contact Name-->
                    <div>
                        <label>Emergency Contact Name</label>
                        @Html.TextBoxFor(m => m.common_contactExternalEvent.EmergencyContactName, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!-- Emergency Contact Phone -->
                    <div>
                        <label>Emergency Contact Phone</label>
                        @Html.TextBoxFor(m => m.common_contactExternalEvent.EmergencyContactPhone, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!-- Relationship -->
                    <div>
                        <label>Emergency Contact Relationship</label>
                        @Html.TextBoxFor(m => m.common_contactExternalEvent.EmergencyContactRelationship, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!-- Medical Information -->
                    <div>
                        <label>Medical Information </label>
                        @Html.TextBoxFor(m => m.common_contactExternalEvent.MedicalInformation, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!-- Medical Allergies -->
                    <div>
                        <label>Medical Allergies </label>
                        @Html.TextBoxFor(m => m.common_contactExternalEvent.MedicalAllergies, "", new { @class = "form-control" })
                    </div>
                    <br />

                    <!--Submit button-->
                    <div>
                        <input type="submit" class="btn btn-primary btn-block" name="buttonSubmit" value="Submit" /><br /><br />
                    </div>

                </div>
            </div>

        }
    </div>

    <div class="left col-lg-3 my-2">
        <input type="button" class="btn btn-primary btn-block" value="Continue" onclick="window.location.href='/Registration/SingleRegistration'" />
    </div>
    

</div>