﻿@{

    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Registration Type Success</h3>
        </div>
    </div>


    <div class="col-lg-12">
        Registration Type action has been completed! Click @Html.ActionLink("here", "RegistrationTypes", "Registration") to return home.
    </div>

</div>

