﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="google-signin-client_id" content="461269663134-11hc88njamvmk57f9htifpfc0bt5hsqo.apps.googleusercontent.com">


    <title>@BaseModel.pageTitle</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/icons.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/sb-admin-2.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/font-awesome-4.4.0/css/font-awesome.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/footable/css/footable.core.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/planetshakers.css?v=" + @GlobalText.Version)" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/app.css?v=" + @GlobalText.Version)" />


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/ico/apple-touch-icon-144-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/ico/apple-touch-icon-114-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/ico/apple-touch-icon-72-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/ico/apple-touch-icon-57-precomposed.png")" />


    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/vendor/jquery.js")"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/timeout.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/footable/js/footable.js")"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).foundation();
        });
    </script>


    <script type="text/javascript" src="@Url.Content("~/Scripts/json2.js")"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/app.MemberComment.js?v=" + @GlobalText.Version)"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/app.ReportSubmission.js?v=" + @GlobalText.Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app.Attendance.js?v=" + @GlobalText.Version)"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/app.js?v=" + @GlobalText.Version)"></script>
    @RenderSection("scripts", false)
</body>
</html>
