﻿@using Planetshakers.Events.Models
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="google-signin-client_id" content="461269663134-11hc88njamvmk57f9htifpfc0bt5hsqo.apps.googleusercontent.com">


    <title>@BaseModel.pageTitle</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/icons.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/font-awesome-4.4.0/css/font-awesome.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/css/bootstrap.dataTable.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/sb-admin-2.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/css/bootstrap-select.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/css/bootstrap.multiselect.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/vendor/fontawesome-free/css/all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/footable/css/footable.core.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/planetshakers.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/app.css?v=" + @GlobalText.Version)" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery-ui.css")" />






    @*<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="@Url.Content("~/Content/app.phone.css")">
        <link rel="stylesheet" media="only screen and (device-width: 768px)" href="@Url.Content("~/Content/app.tablet.css")">*@

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/ico/apple-touch-icon-144-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/ico/apple-touch-icon-114-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/ico/apple-touch-icon-72-precomposed.png")" />
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/ico/apple-touch-icon-57-precomposed.png")" />
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/jquery/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.js")"></script>

    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/jqmobi/v1.2rc2/jq.mobi.min.js")"></script>*@

    <!-- include touch.js on desktop browsers only -->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33278290-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>

    @RenderBody()
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/umd/Popper.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/js/bootstrap-select.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/sb-admin-2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/datatables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/datatables/dataTables.buttons.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/datatables/jszip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/datatables/buttons.flash.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/datatables/pdfmake.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/datatables/vfs_fonts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/datatables/buttons.html5.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/datatables/dataTables.responsive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/vendor/datatables/dataTables.date-euro.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jszip.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/dataTables.buttons.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/buttons.html5.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/footable/js/footable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.setup.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.management.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.transfer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.report.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.administration.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.multi-select.min.js")"></script>

    <!--https://code.jquery.com/jquery-3.5.1.js-->
    <script type="text/javascript" src="@Url.Content("~/Scripts/json2.js")"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/app.MemberComment.js?v=" + @GlobalText.Version)"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/app.ReportSubmission.js?v=" + @GlobalText.Version)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app.Attendance.js?v=" + @GlobalText.Version)"></script>
    <script type="text/javascript" charset="utf-8" src="@Url.Content("~/Scripts/app.js?v=" + @GlobalText.Version)"></script>

    <!--for multiselect-->
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>

    @RenderSection("scripts", false)
</body>
</html>