﻿@using Planetshakers.Events.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    @RenderSection("scripts", false)

}

<div id="wrapper">

    @if (Request.IsAuthenticated)
    {
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar" style="padding-bottom: 300px;">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <div class="sidebar-brand-icon">
                    <img class="p-0 m-0" src="~/Content/images/circle-logo.png" width="40" height="40" />
                </div>
                <div class="sidebar-brand-text mx-3">Believe Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            @if (CurrentContext.Instance.User != null)
            {
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Home")">
                        <i class="fas fa-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                @Html.Partial("SideBar")

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("LogOff","Account")">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Log Off</span>
                    </a>
                </li>
            }

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0 my-2" id="sidebarToggle"></button>
            </div>
        </ul>
    }

    <div id="content-wrapper" class="d-flex flex-column">
        <nav class="navbar navbar-expand navbar-light topbar bg-white mb-4 static-top">
            @if (Request.IsAuthenticated)
            {
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <a id="homeLink" class="btn btn-link d-md-none rounded-circle mr-3" href="@Url.Action("Index","Home")">
                    <i class="fa fa-home"></i>
                </a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-lg-inline text-gray-600 small">@CurrentContext.Instance.User.FirstName</span>
                            <img class="img-profile rounded-circle" src="~/Content/images/circle-logo.png">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="@Url.Action("LogOff","Account")">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            }
        </nav>
        <div id="content" @*style="padding-bottom: 300px;"*@>
            <div class="container-fluid pb-5">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
