﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div id="jQUi">

    <div id="content" class="full-screen">
        @RenderBody()
    </div>

</div>*@

<div id="body">
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
</div>

@*<script type="text/javascript">
    $.ui.ready(function () {
        $.ui.toggleHeaderMenu(false); //force hide
        $.ui.removeFooterMenu();
    });
</script>*@