﻿@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Oops! Something went wrong.";
}

<div class="row">
    <div class="large-12 large-centered columns">
        <div class="row">
            <div class="large-12 columns border-bottom">
                <h3>@ViewBag.Title</h3>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h4>Error: @ViewBag.Message</h4>
            </div>
            <div class="large-12 columns">
                &nbsp;&nbsp;
            </div>
            <div class="large-12 columns">
                <p><strong>For assistance, please contact the System Administrator at <a mailto:"it@planetshakers.com">it@planetshakers.com</a>.</strong></p>
                <p><strong>Click <a href="@Url.Action("Index","Home")"><strong><u>here</u></strong></a> to go back to the homepage.</strong></p>
            </div>
            <div class="large-12 columns right">
                <a class="small button" href="#" onclick="goBack()">Continue</a>
            </div>
        </div>
    </div>
</div>


