﻿@{
    ViewBag.Title = "ErrorDetails";
}


<h2>An error just occured.</h2>

<p>
    Currently unable to log you in at this point. 
</p>

<p>
    Message: @(((HandleErrorInfo)ViewData.Model).Exception.Message)
</p>