﻿<footer id="navbar">
</footer>

<footer id="navbar-memberList">
    <a href="javascript:app.toggleList('.attendance-list', 0);" class="icon-custom new-people">New</a>
    <a href="javascript:app.toggleList('.attendance-list', 1);" class="icon-custom partner">Partner</a>
    <a href="javascript:app.toggleList('.attendance-list', 2);" class="icon-custom contact">Contact</a>
</footer>

<footer id="navbar-memberDetails">
    <a href="javascript:app.toggleList('.member-details', 0);" class="icon user">Profile</a>
    <a href="javascript:app.toggleList('.member-details', 1);" class="icon message">Comments</a>
</footer>
