﻿<!-- Nav Item - Pages Collapse Menu -->
@{
    var Contact_ID = CurrentContext.Instance.User.ContactID;
    var accessList = Planetshakers.Events.Controllers.AdministrationController.HasObjectAccess(Contact_ID);

}
@if (Request.IsAuthenticated)
{
    //if (Planetshakers.Events.Controllers.AdministrationController.HasAdminAccess(Contact_ID))
    //{
    // Trip Setup Tab
    if (accessList.Contains(37) || accessList.Contains(38))
    {
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseConference" aria-expanded="true" aria-controls="collapseConference">
                <i class="fas fa-fw fa-folder"></i>
                <span>Trip</span>
            </a>
            <div id="collapseConference" class="collapse" aria-labelledby="headingConference" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Event:</h6>
                    @if (accessList.Contains(37))
                    {
                        <a class="collapse-item" href="@Url.Action("Conference","Setup")">Set Up</a>
                        <a class="collapse-item" href="@Url.Action("SortConference","Setup")">Sort Order</a>
                        <a class="collapse-item" href="@Url.Action("SignUpLinks","Setup")">SignUp Links</a>
                    }
                    @if (accessList.Contains(38))
                    {
                        <a class="collapse-item" href="@Url.Action("RegistrationType","Setup")">Registration Types</a>
                        <a class="collapse-item" href="@Url.Action("TermsAndConditions","Setup")">Terms and Conditions</a>
                    }
                </div>
            </div>
        </li>
    }

    // Application Setup Tab
    if (accessList.Contains(39) || accessList.Contains(40))
    {
        <li class="nav-item">

            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseApplication" aria-expanded="true" aria-controls="collapseApplication">
                <i class="fas fa-fw fa-folder"></i>
                <span>Application</span>
            </a>
            <div id="collapseApplication" class="collapse" aria-labelledby="headingApplication" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Application:</h6>
                    @if (accessList.Contains(40))
                    {
                        <a class="collapse-item" href="@Url.Action("Application","Application")">Application</a>
                    }
                    @if (accessList.Contains(39))
                    {
                        <a class="collapse-item" href="@Url.Action("Questions","Application")">Questions</a>
                        <a class="collapse-item" href="@Url.Action("DocumentType","Application")">Document Types</a>
                    }
                </div>
            </div>

        </li>
    }
    //add accessibility - for contact profile and also sponsorship
    if (accessList.Contains(41) || accessList.Contains(58))
    {
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseRegistration" aria-expanded="true" aria-controls="collapseRegistration">
                <i class="fas fa-fw fa-folder"></i>
                <span>Registration</span>
            </a>

            <div id="collapseRegistration" class="collapse" aria-labelledby="headingRegistration" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Registration:</h6>
                    @if (accessList.Contains(41))
                    {
                        <a class="collapse-item" href="@Url.Action("EventSearch","Registration")">Registration</a>
                    }
                    @if (accessList.Contains(58))
                    {
                        <a class="collapse-item" href="@Url.Action("SponsorshipIndex", "Administration")">Sponsorship</a>
                    }
                </div>
            </div>
        </li>
    }
    @*Team Management*@
    if (accessList.Contains(42) || accessList.Contains(43))
    {
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTeams" aria-expanded="true" aria-controls="collapseTeams">
                <i class="fas fa-fw fa-folder"></i>
                <span>Teams</span>
            </a>
            <div id="collapseTeams" class="collapse" aria-labelledby="headingTeams" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Teams:</h6>
                    @if (accessList.Contains(42))
                    {
                        <a class="collapse-item" href="@Url.Action("Teams","Teams")">Teams</a>
                    }
                    @if (accessList.Contains(43))
                    {
                        <a class="collapse-item" href="@Url.Action("TeamRole","Teams")">Team Role</a>
                    }
                </div>
            </div>
        </li>
    }
    @*Host Events*@
    if (accessList.Contains(44) || accessList.Contains(45))
    {
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseHostEvents" aria-expanded="true" aria-controls="collapseHostEvents">
                <i class="fas fa-fw fa-folder"></i>
                <span>Host Events</span>
            </a>
            <div id="collapseHostEvents" class="collapse" aria-labelledby="headingTeams" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Host Events:</h6>
                    @if (accessList.Contains(45))
                    {
                        <a class="collapse-item" href="@Url.Action("HostEvents","HostEvents")">Attendance</a>
                    }
                    @if (accessList.Contains(44))
                    {
                        <a class="collapse-item" href="@Url.Action("HostEventManagement","HostEvents")">Management</a>
                    }
                </div>
            </div>
        </li>
    }
    @*Email and SMS mailing list*@
    if (accessList.Contains(47) || accessList.Contains(46))
    {
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseAdministration" aria-expanded="true" aria-controls="collapseAdministration">
                <i class="fas fa-fw fa-folder"></i>
                <span>Administration</span>
            </a>
            <div id="collapseAdministration" class="collapse" aria-labelledby="headingAdministration" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Mailing list:</h6>
                    @if (accessList.Contains(46))
                    {
                        <a class="collapse-item" href="@Url.Action("EmailMailingList", "Administration")">Email</a>
                    }
                    @if (accessList.Contains(47))
                    {
                        <a class="collapse-item" href="@Url.Action("SmsMailingList", "Administration")">SMS</a>
                    }
                </div>
            </div>
        </li>
    }

    if (accessList.Contains(48) || accessList.Contains(49))
    {
        //Management Tabs
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseManagement" aria-expanded="true" aria-controls="collapseManagement">
                <i class="fas fa-fw fa-folder"></i>
                <span>Management</span>
            </a>
            <div id="collapseManagement" class="collapse" aria-labelledby="headingManagement" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Management:</h6>
                    @if (accessList.Contains(48))
                    {
                        <a class="collapse-item" href="@Url.Action("DatabaseRoleManagement","Management")">Database Role</a>
                    }
                    @if (accessList.Contains(49))
                    {
                        <a class="collapse-item" href="@Url.Action("AccessLevel","Management")">Access Level</a>
                    }
                </div>
            </div>
        </li>
    }

    if (accessList.Contains(50) || accessList.Contains(51) || accessList.Contains(52) || accessList.Contains(53) || accessList.Contains(54)
        || accessList.Contains(59) || accessList.Contains(60))
    {
        //Reporting Tabs
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="true" aria-controls="collapseReport">
                <i class="fas fa-fw fa-folder"></i>
                <span>Report</span>
            </a>
            <div id="collapseReport" class="collapse" aria-labelledby="headingReport" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Report:</h6>
                    @if (accessList.Contains(59))
                    {
                        <a class="collapse-item" href="@Url.Action("ApplicationReport", "Report")">Application Report</a>
                    }
                    @if (accessList.Contains(60))
                    {
                        <a class="collapse-item" href="@Url.Action("DocumentReport", "Report")">Document Reports</a>
                    }
                    @if (accessList.Contains(50))
                    {
                        <a class="collapse-item" href="@Url.Action("SummaryReport","Report")">Summary Reports</a>
                    }
                    @if (accessList.Contains(51))
                    {
                        <a class="collapse-item" href="@Url.Action("RegistrationReport","Report")">Registration Type Report</a>
                    }
                    @if (accessList.Contains(52))
                    {
                        <a class="collapse-item" href="@Url.Action("TotalRegistrantsReport","Report")">Quick Total Report</a>
                    }
                    @if (accessList.Contains(53))
                    {
                        <a class="collapse-item" href="@Url.Action("TotalRegistrationReport","Report")">Breakdown Report</a>
                    }
                    @if (accessList.Contains(54))
                    {
                        <a class="collapse-item" href="@Url.Action("CheckInReport","Report")">Check In Report</a>
                    }
                </div>
            </div>
        </li>
    }


    if (accessList.Contains(55) || accessList.Contains(56) || accessList.Contains(57) || accessList.Contains(61))
    {
        //Finance Reporting Tabs
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseFinanceReport" aria-expanded="true" aria-controls="collapseReport">
                <i class="fas fa-fw fa-folder"></i>
                <span>Finance Report</span>
            </a>
            <div id="collapseFinanceReport" class="collapse" aria-labelledby="headingReport" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Report:</h6>
                    @if (accessList.Contains(55))
                    {
                        <a class="collapse-item" href="@Url.Action("BankingReport","Report")">Banking Reports</a>
                        @*<a class="collapse-item" href="@Url.Action("PaymentReport","Report")">Payment Reports</a>*@
                    }
                    @if (accessList.Contains(61))
                    {
                        <a class="collapse-item" href="@Url.Action("PaymentSummary","Report")">Payment Summary</a>
                    }
                    @if (accessList.Contains(56))
                    {
                        <a class="collapse-item" href="@Url.Action("AuditReport","Report")">Audit Reports</a>
                    }
                    @if (accessList.Contains(57))
                    {
                        <a class="collapse-item" href="@Url.Action("PurchaseReport","Report")">Purchase Reports</a>
                    }
                </div>
            </div>
        </li>
    }
    //}
}