﻿

<div>
    <form action="/Payment/Checkout" method="post">
        <button class="btn btn-block btn-success font-weight-bold text-black-100" type="submit">Checkout</button>
    </form>
</div>

<script>

</script>
