﻿@model Planetshakers.Events.Models.CartModel


<link rel="stylesheet" type="text/css" href="@Url.Content("/Content/stripe.css")" />

<form id="payment-form" data-secret="@ViewData["ClientSecret"]">
    <div id="card-element">
        <!--Stripe.js injects the Card Element-->
    </div>
    <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
    </button>
    <p id="card-error" role="alert"></p>
    <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
    </p>
</form>

<script>
    var stripe = Stripe('@Model.CCPayment.BankAccount.PublishableKey');
    var venueId = '@Model.Event.venue_id';
    var contactId = '@Model.ContactId';

    // define card payment style
    var elements = stripe.elements();
    var style = {
        base: {
            color: '#32325D',
            fontWeight: 600,
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSize: '16px',
            fontSmoothing: 'antialiased',

            '::placeholder': {
                color: '#536162'
            },
            ':-webkit-autofill': {
                color: '#e39f48'
            },
        },
        invalid: {
            color: '#E25950',
            iconColor: '#536162',
            '::placeholder': {
                color: '#FFCCA5',
            },
        }
    };

    var card = elements.create("card", { style: style });
    card.mount("#card-element");

    card.on('change', function (e) {
        var displayError = document.getElementById('card-error');
        if (e.error) {
            displayError.textContent = e.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('payment-form');

    form.addEventListener('submit', function (ev) {
        ev.preventDefault();
        // add loading and overlay here

        // confirm stripe payment
        stripe.confirmCardPayment(form.dataset.secret, {
            payment_method: {
                card: card,
                billing_details: {
                    name: '@Model.FullName',
                    email: '@Model.Email'
                }
            }
        }).then(function (result) {
            if (result.error) {
                console.log(result.error.message);
            } else {
                if (result.paymentIntent.status === 'succeeded') {
                    console.log(result.paymentIntent.status);
                    stripeCallback(venueId, contactId);
                }
            }
        });

    });

    function stripeCallback(venue_id, contact_id) {

        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            url: "/Payment/addRegistration",
            data: JSON.stringify({ "venue_id": venue_id, "contact_id": contact_id }),
            success: function (result)  { 
                console.log(result.message);
                window.location.href = result.link;
            },
            error: function () {
                alert("failed");
            }
        });
    };

</script>