﻿@model Planetshakers.Events.Models.CartModel
@using Planetshakers.Business.External.Events;
@using Planetshakers.Events.Controllers;
@{
    ViewBag.Title = "Order Summary";
    ViewBag.ButtonProceed = "Proceed to payment";
    ViewBag.CalculatedTotalLabel = "Calculated total";
    ViewBag.CalculatedTotalInputName = "total";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("/Content/stripe.css")" />

<script>
    $(document).ready(function () {
        loadStripePayment();
    });
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-7 ml-lg-5">
            <div class="card mx-4 my-2">
                <div class="card-header py-3">
                    <h3>@Model.Event.name</h3>
                    <h5 class="subheader">@Model.Event.date</h5>
                    <h5 class="subheader">@Model.Event.location</h5>
                </div>
                <div class="card-body">
                    <h6>Order Summary</h6>
                    @Html.ValidationSummary(true)
                    @if (Model.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">@Model.ErrorMessage</div>
                    }
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Quantity</th>
                                <th>Registration Type</th>
                                <th data-hide="phone">Single Price</th>
                                <th data-hide="phone">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CartItem item in Model.Cart)
                            {
                                <tr>
                                    <td>@(item.quantity)</td>
                                    <td>@(item.event_name)</td>
                                    <td>@(Model.Event.currency) @(item.single_price)</td>
                                    <td>@(Model.Event.currency) @(item.subtotal)</td>
                                </tr>
                            }
                            @if (Model.Voucher != null)
                            {
                                <tr>
                                    <td>1</td>
                                    <td>Voucher Code - @Model.Voucher.code</td>
                                    <td>@(Model.Event.currency) @(Model.Voucher.value)</td>
                                    <td>- @(Model.Event.currency) @(Model.Voucher.value)</td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" style="text-align:right">Grand Total : @(Model.Event.currency) @(Model.GrandTotal)</td>
                            </tr>
                    </table>
                    <div>
                        Note:
                        <ul>
                            <li>If there are remaining credits from the applied voucher code, a new voucher code with the remaing credits will be sent upon completion of payment.</li>
                        </ul>
                    </div>

                    <div id="stripe-payment">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

