﻿@model Planetshakers.Core.Models.Registration

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="row mx-3">
            <div class="col-lg-12">
                <h6>This person has already checked in.</h6>
            </div>
        </div>
    </div>
</body>
</html>
