﻿@model Planetshakers.Events.Models.RegistrationViewModel

@{
Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Check In</h3>
        </div>
    </div>
</div>

<div>
    <fieldset>
        <legend>Registration Details</legend>            

        <form action="@Url.Action("Submit","CheckIn")" method="post" class="row mx-3 form-group">
            <div class="col-lg-12">
                @*<h4><strong>@Model.ConferenceName</strong></h4>*@
            </div>
            <br/>
            <div class="col-lg-6">
                Total: @Model.total_count <br /><br />
                Allocated: @Model.allocated_count <br /><br />
                Unallocated: @Model.unallocated_count <br /><br />
            </div>
            <div class="col-lg-3">
                &nbsp;&nbsp;
            </div>
            <div class="col-lg-3">

                @if (Model.Registration.ID > 0)
                {
                    <a href="@Url.Action("Allocate", "CheckIn", new { registrationId = Model.Registration.ID })" class="btn btn-primary btn-block">Force Allocate Now</a>
                }
                else
                {
                    <a href="@Url.Action("Allocate", "CheckIn", new { registrationId = Model.Registration.ID, groupleaderId = Model.Registration.GroupLeader_ID, venueId = Model.Venue_ID })" class="btn btn-primary btn-block">Force Allocate Now</a>
                }

                <a href="@Url.Action("Allocations","Administration", new { })" class="btn btn-primary btn-block">Quick Add Allocation</a>
            </div>
            <br/>
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <tr class="table-active">
                        <th>Registration ID</th>
                        <th>Name</th>
                        <th>Registration Type</th>
                        <th>Outstanding Balance</th>
                        <th>Notes</th>
                    </tr>
                    @foreach (var single_reg in Model.GroupRegistration)
                    {
                         if (Model.IsCoach(single_reg))
                        {
                            <tr class="coaches">
                                <td>
                                    @if (single_reg.Attended == true)
                                    {
                                        <strong>Collected</strong>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="attended" value="@single_reg.ID" class="attendance" />
                                        @single_reg.ID
                                    }
                                </td>
                                @{
                                    var FullName = single_reg.FirstName + " " + single_reg.LastName;
                                }
                                <td>@FullName</td>
                                <td>@single_reg.RegoType</td>
                                <td>@single_reg.OutstandingBalance.ToString("0.00")</td>
                                <td>
                                    <span>Priority Seating</span><br />
                                    @if (Model.hasPlanetBusinessBreakfast(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>PlanetBusiness</span><br />
                                    }
                                    @if (Model.hasLeadershipSummit(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>Leadership Summit</span>
                                    }
                                </td>
                            </tr>
                        }
                        else if (single_reg.OutstandingBalance > 0)
                        {
                            <tr class="outstanding">
                                <td>
                                    @if (single_reg.Attended == true)
                                    {
                                        <strong>Collected</strong>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="attended" value="@single_reg.ID" class="attendance" />
                                        @single_reg.ID
                                    }
                                </td>
                                @{
                                    var FullName = single_reg.FirstName + " " + single_reg.LastName;
                                }
                                <td>@FullName</td>
                                <td>@single_reg.RegoType</td>
                                <td>@single_reg.OutstandingBalance.ToString("0.00")</td>
                                <td>
                                    @if (Model.hasPlanetBusinessBreakfast(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>PlanetBusiness</span><br />
                                    }
                                    @if (Model.hasLeadershipSummit(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>Leadership Summit</span><br />
                                    }
                                </td>
                            </tr>
                        }
                        else if (single_reg.RegoType.Contains("PlanetKids"))
                        {
                            <tr class="planetkids">
                                <td>
                                    @if (single_reg.Attended == true)
                                    {<strong>Collected</strong>}
                                    else
                                    {<input type="checkbox" name="attended" value="@single_reg.ID" class="attendance" /><span> @single_reg.ID</span>}
                                </td>
                                @{
                                    var FullName = single_reg.FirstName + " " + single_reg.LastName;
                                }
                                <td>@FullName</td>
                                <td>@single_reg.RegoType</td>
                                <td>@single_reg.OutstandingBalance.ToString("0.00")</td>
                                <td>
                                    @*@if (Model.hasChildEnrolmentForm(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>Child Enrolment Form</span>
                                    }*@
                                    @if (Model.hasPlanetBusinessBreakfast(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>PlanetBusiness</span><br />
                                    }
                                    @if (Model.hasLeadershipSummit(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>Leadership Summit</span><br />
                                    }
                                </td>
                            </tr>
                        }
                        else if (single_reg.RegoType.Contains("Deposit"))
                        {
                            <tr class="deposit">
                                <td>
                                    @if (single_reg.Attended == true)
                                    {<strong>Collected</strong>}
                                    else
                                    {<input type="checkbox" name="attended" value="@single_reg.ID" class="attendance" /><span> @single_reg.ID</span>}
                                </td>
                                @{
                                    var FullName = single_reg.FirstName + " " + single_reg.LastName;
                                }
                                <td>@FullName</td>
                                <td>@single_reg.RegoType</td>
                                <td>@single_reg.OutstandingBalance.ToString("0.00")</td>
                                <td>
                                    @if (Model.hasPlanetBusinessBreakfast(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>PlanetBusiness</span><br />
                                    }
                                    @if (Model.hasLeadershipSummit(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>Leadership Summit</span><br />
                                    }
                                </td>
                            </tr>
                        }
                        else if (single_reg.RegoType.Contains("Only"))
                        {
                            <tr class="partial">
                                <td>
                                    @if (single_reg.Attended)
                                    {<strong>Collected</strong>}
                                    else
                                    {<input type="checkbox" name="attended" value="@single_reg.ID" class="attendance" /><span> @single_reg.ID</span>}
                                </td>
                                @{
                                    var FullName = single_reg.FirstName + " " + single_reg.LastName;
                                }
                                <td>@FullName</td>
                                <td>@single_reg.RegoType</td>
                                <td>@single_reg.OutstandingBalance.ToString("0.00")</td>
                                <td>
                                    @if (Model.hasPlanetBusinessBreakfast(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>PlanetBusiness</span><br />
                                    }
                                    @if (Model.hasLeadershipSummit(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>Leadership Summit</span><br />
                                    }
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="">
                                <td>
                                    @if (single_reg.Attended == true)
                                    {<strong>Collected</strong>}
                                    else
                                    {<input type="checkbox" name="attended" value="@single_reg.ID" class="attendance" /><span> @single_reg.ID</span>}
                                </td>
                                @{
                                    var FullName = single_reg.FirstName + " " + single_reg.LastName;
                                }
                                <td>@FullName</td>
                                <td>@single_reg.RegoType</td>
                                <td>@single_reg.OutstandingBalance.ToString("0.00")</td>
                                <td>
                                    @if (Model.hasPlanetBusinessBreakfast(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>PlanetBusiness</span><br />
                                    }
                                    @if (Model.hasLeadershipSummit(single_reg))
                                    {
                                        <i class="fa fa-check"></i><span>Leadership Summit</span><br />
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>                

            <input type="hidden" id="Contact_ID" name="Contact_ID" value="@Model.Registration.ContactID" />
            <input type="hidden" id="Venue_ID" name="Venue_ID" value="@Model.Venue_ID" />

            <div class="col-lg-12">
                <input class="checkdisplay" name='select' type="checkbox" onchange="selectAll(this)" /><strong> Select All <span id="count"></span></strong><br /><br />
                <table id="selected_collect"></table>
            </div>


            <div class="col-lg-3">
                <a href="@Url.Action("Conference", "CheckIn" )" class="btn btn-primary btn-block">Cancel</a>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <input type="submit" value="Collect" class="btn btn-primary btn-block" />
            </div>
        </form>

    </fieldset>
</div>