﻿@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Conference Check In</h3>
        </div>
    </div>
</div>

<!-- Check In Barcode -->
<div class="mx-3">
    <form action="@Url.Action("Collect","CheckIn")" method="post" class="row form-group">
        <div class="col-lg-8">
            <input data-val="true" data-val-required="The Barcode field is required." id="registrationid" name="registrationid" type="text" placeholder="Barcode" value="" required class="form-control" />
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3 my-3 my-lg-0">
            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
        </div>
    </form>
    <br />

    <div class="row">
        <div class="col-lg-4 my-1 my-lg-0">
            <a href="@Url.Action("Allocation", "CheckIn" )" class="btn btn-primary btn-block">Allocate Now</a>
        </div>
        <div class="col-lg-4 my-1 my-lg-0">
            <a href="@Url.Action("Registrations", "CheckIn" )" class="btn btn-primary btn-block">View All Registrations</a>
        </div>
        <div class="col-lg-4 my-1 my-lg-0">
            <a href="@Url.Action("GroupRegistrations", "CheckIn" )" class="btn btn-primary btn-block">Search By Group</a>
        </div>
    </div>
</div>
