﻿@model Planetshakers.Events.Models.RegistrationViewModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Group Check In</h3>
        </div>
    </div>

</div>
<div>
    <fieldset>
        <legend>Registration Details</legend>

        <form action="@Url.Action("Submit","CheckIn")" method="post" class="row mx-3 form-group">
            <div class="col-lg-6">
                <p><strong>Total:</strong> @Model.total_count</p>
                <p><strong>Allocated:</strong> @Model.allocated_count</p>
                <p><strong>Unallocated:</strong> @Model.unallocated_count</p>
            </div>

            @if (Model.Registration.ID != 0)
            {
                <div class="col-lg-3">
                    <a href="@Url.Action("Allocate", "CheckIn", new { registrationId = Model.Registration.ID })" class="btn btn-primary btn-block">Force Allocate Now</a>
                </div>
            }

            <div class="col-lg-3">
                <a href="@Url.Action("Allocations","Administration", new { })" class="btn btn-primary btn-block">Quick Add Allocation</a>
            </div>
            <br />
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <tr class="table-active">
                        <th>Registration ID</th>
                        <th>Name</th>
                        <th>Registration Type</th>
                    </tr>
                    @foreach (var single_reg in Model.GroupRegistration)
                    {
                        if (single_reg.RegoType.Contains("Planetkids"))
                        {
                            <tr style="background-color:lightpink;">
                                <td>
                                    @if (single_reg.Attended == true)
                                    {<strong>Collected</strong>}
                                    else
                                    {<input type="checkbox" name="attended" value="@single_reg.ID" class="attendance" /><span> @single_reg.ID</span>}
                                </td>
                                @{
                                    var FullName = single_reg.FirstName + " " + single_reg.LastName;
                                }
                                <td>@FullName</td>
                                <td>@single_reg.RegoType</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @if (single_reg.Attended == true)
                                    {<strong>Collected</strong>}
                                    else
                                    {<input type="checkbox" name="attended" value="@single_reg.ID" class="attendance" /><span> @single_reg.ID</span>}
                                </td>
                                @{
                                    var FullName = single_reg.FirstName + " " + single_reg.LastName;
                                }
                                <td>@FullName</td>
                                <td>@single_reg.RegoType</td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <input type="hidden" id="Contact_ID" name="Contact_ID" value="@Model.Registration.ContactID" />
            <input type="hidden" id="Venue_ID" name="Venue_ID" value="@Model.Venue_ID" />

            <br />
            <div class="col-lg-12">
                <input class="checkdisplay" name='select' type="checkbox" onchange="selectAll(this)" /><strong> Select All <span id="count"></span></strong><br /><br />
                <table id="selected_collect"></table>
            </div>
            <br />

            <div class="col-lg-3">
                <a href="@Url.Action("Conference", "CheckIn" )" class="btn btn-primary btn-block">Cancel</a>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <input type="submit" value="Collect" class="btn btn-primary btn-block" />
            </div>
        </form>

    </fieldset>

</div>
    
