﻿@using Planetshakers.Events.Controllers;

<div>
    <div class="row mx-3">
        <div class="col-lg-12">
            <h4>You have selected none!</h4>

        </div>
        <div class="col-lg-3">
            <a href="@Url.Action("Conference", "CheckIn")" class="btn btn-primary btn-block">Continue</a>
        </div>
    </div>

</div>
