﻿@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div>
    <div class="row mx-3">
        <div class="col-lg-12">
            <h6>This ID does not exist.</h6>
        </div>
        <div class="col-lg-3">
            <a href="@Url.Action("Conference", "CheckIn" )" class="btn btn-primary btn-block">Continue</a>
        </div>
    </div>
</div>
