﻿@model Planetshakers.Events.Models.RegistrationViewModel
@using Planetshakers.Core.Models;

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Search Registrations</h3>
        </div>
    </div>

</div>

@using (Html.BeginForm("SearchRegistration", "CheckIn", FormMethod.Post, new { @class = "form-group row mx-3" }))
{
    <div class="col-lg-9">
        @Html.TextBox("query", "", new { @placeholder = "Name or Email", @class = "form-control" })
    </div>
    <div class="col-lg-3 my-3 my-lg-0">
        <input type="submit" value="Search" class="btn btn-primary btn-block" />
    </div>
}
<div>
    <div class="row mx-3">
        <div class="col-lg-12">
            @if (Model.searchList != null)
            {

                <table class="table table-bordered">
                    <tr class="table-active">
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Conference</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.searchList)
                    {
                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Email</td>
                            <td>@item.ConferenceName</td>
                            <td><a href="@Url.Action("Collect", "CheckIn", new { registrationId = item.ID })" class="btn btn-primary btn-block" target="_blank">Check In</a></td>
                        </tr>
                    }
                </table>

            }
            else
            {
                <p><strong>No registration found.</strong></p>
            }
        </div>
    </div>

</div>
