﻿<div>
    <div class="row mx-3">
        <div class="col-lg-12">
            <h4>You have successfully checked in the following IDs:</h4>
            @foreach (int id in ViewBag.Attended)
            {
                <div class="row">
                    <div class="col-lg-12 enrolled-course">
                        <div class="enrolled-course-inner">
                            Registration ID: @id
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-3">
            <a href="@Url.Action("Conference", "CheckIn" )" class="btn btn-primary btn-block">Continue</a>
        </div>
    </div>

</div>
