﻿@model Planetshakers.Events.Models.RegistrationViewModel

@{
    ViewBag.Title = "TicketCollect";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    <div class="col-lg-12 border-bottom">
        <h2>Ticket Check In</h2>
    </div>
</div>

<div>
    <fieldset>
        <legend>Ticket Details</legend>
        @using (Html.BeginForm("TicketSubmit", "CheckIn", FormMethod.Post, new { @class = "row mx-3 form-group" }))
        {
            // Insert Ticket Details here
            <div class="col-lg-12 enrolled-course">
                <div class="enrolled-course-inner">
                    @if (Model.Ticket.Attended)
                    {
                        <span><strong>Status: Collected</strong></span>
                    }
                    else
                    {
                        <span><input type="checkbox" name="attended" value="@Model.Ticket.GroupBulkRegistration_ID" class="attendance" /> Registration ID: @Model.Ticket.GroupBulkRegistration_ID </span>
                    }
                </div>
            </div>
            <br />
            <div class="col-lg-12 enrolled-course">
                <div class="enrolled-course-inner">
                    Group Name: @Model.Ticket.GroupName
                </div>
            </div>
            <br />
            <div class="col-lg-12 enrolled-course">
                <div class="enrolled-course-inner">
                    Event Name: @Model.Ticket.EventName
                </div>
            </div>
            <br />
            <div class="col-lg-12 enrolled-course">
                <div class="enrolled-course-inner">
                    Registration Type: @Model.Ticket.RegistrationType
                </div>
            </div>
            <br />
            <div class="col-lg-12 enrolled-course">
                <div class="enrolled-course-inner">
                    Quantity: <strong>@Model.Ticket.Qty</strong>
                </div>
            </div>
            <br />
            <div class="col-lg-12">
                <input type="submit" class="btn btn-primary btn-block" value="Submit" />
            </div>
        }
    </fieldset>
</div>


