﻿@model Planetshakers.Events.Models.AllocationViewModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    <div class="col-lg-12 border-bottom">
        <div>
            <h3>Allocation</h3>
        </div>
    </div>
</div>
<div id="searchForm">
    @using (Html.BeginForm("SearchResults", "CheckIn", FormMethod.Post, new { @class= "form-group row mx-3" }))
    {

        <!--<div>
            Html.LabelFor(m => m.Venue_ID)
            Html.DropDownListFor(m => m.Venue_ID, Model.EventList)
        </div>-->
        <div class="col-lg-9">
            @Html.TextBox("keyword", "", new { @placeholder = "Name or Email", @class="form-control" })
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Search" class="btn btn-primary btn-block" />
        </div>
    }
</div>


<div id="ViewRegistration">
    <div class="row mx-3">
        <div class="col-lg-12">
            @if (Model.unallocatedRegoList.Count() < 1)
            {
                <p><strong>This person has allocated all registrations.</strong></p>
            }
            else
            {
                <table class="table table-bordered" style="width:100%;">
                    <thead class="table-active">
                        <tr>
                            <th>Group Leader</th>
                            <th>Registration Type</th>
                            <th>Allocated</th>
                            <th>Unallocated</th>
                            <th width="7%">Qty</th>
                            <th width="20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var r in Model.unallocatedRegoList)
                        {
                            <tr>
                                @using (Html.BeginForm("AllocateNow", "CheckIn"))
                                {
                                    <td>@r.GroupLeader</td>
                                    @Html.HiddenFor(m => m.Contact_ID, new { Value = r.GroupLeader_ID })
                                    <td>@r.RegistrationType</td>
                                    @Html.HiddenFor(m => m.RegistrationType_ID, new { Value = r.RegistrationType_ID })
                                    <td>@r.Allocated</td>
                                    <td>@r.Unallocated</td>
                                    <td>
                                        <select id="toAllocate" name="toAllocate" required class="form-control">
                                            @for (int i = 0; i <= r.Unallocated; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </td>

                                    @Html.HiddenFor(m => m.Venue_ID, new { Value = Model.Venue_ID })
                                    <td><input type="submit" value="Allocate" class="btn btn-primary btn-block" /></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
        <div class="column">
            <div class="col-lg-9">&nbsp;&nbsp;</div>
            <div class="col-lg-3">
                @*<a class="medium button expand" href="@Url.Action("Collect", "CheckIn", new { registrationId = Model.Registration_ID })">Check In</a>*@
            </div>
        </div>

    </div>
</div>
