﻿@model int

@{    
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

@switch (Model)
{
    case 401:
        <h4>Unauthorised Access</h4>
        <p>You are not authorised to access this resource.</p>
        break;
        
    default:
        break;    
}
