﻿@{
    ViewBag.Title = "Error Page";
}

<div class="row">
    <div class="col-lg-12">
        <h2>An error has occured</h2>
        <p>Please notify your system administrator to rectify this issue.</p>
    </div>
</div>


