﻿@model Planetshakers.Events.Models.Application
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-dark">Personal Details</h6>
    </div>
    <div class="card-body text-black-100">
        <div class="row">
            <div class="col-lg-3">
                <label>First Name</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.FirstName, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Last Name</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.LastName, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Gender</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.Gender, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Date of Birth</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.DOB, "{0:yyyy-MM-dd}", new { @class = "dob-field form-control", placeholder = "yyyy-MM-dd", type = "date", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Email</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.Email, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Phone</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.Phone, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Address 1</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.Address1, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Address 2</label>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.Address2, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Suburb</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.Suburb, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>State</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.State, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Country</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.Country, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Postcode</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.Postcode, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3">
                <label>Country</label>
                <span style="color: red;">*</span>
            </div>
            <div class="col-lg-9">
                @Html.TextBoxFor(m => m.ContactQuestion.Country, new { @class = "form-control", required = "required", disabled = "disabled" })
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-dark">Application Question and Answers</h6>
    </div>
    <div class="card-body text-black-100">
        <table id="DetailsTable" style="width: 100%;" class="table table-bordered">

            <tbody>
                @foreach (var v in Model.Details)
                {
                    <tr id="@v.Question_ID">
                        <td><strong>@v.Question</strong></td>
                        <td>@v.Answer</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
