﻿@model Planetshakers.Events.Models.Application
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<br />
@foreach (var v in Model.Referrals)
{
    <table id="ReferralTable_@v.Referral_ID" style="width: 100%;" class="table table-bordered">
        <tbody>

            <tr>
                <td><strong>Full Name</strong></td>
                <td>@v.FullName</td>
            </tr>
            <tr>
                <td><strong>Referral Type</strong></td>
                <td>@v.ReferralType</td>
            </tr>
            @*<tr>
                <td><strong>Relationship</strong></td>
                <td>@v.Relationship</td>
            </tr>*@
            <tr>
                <td><strong>Phone</strong></td>
                <td>@v.Phone</td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>@v.Email</td>
            </tr>

        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-12">
            <strong>Comment:</strong>
            @Html.TextArea("Comment", v.Comment, new { @class = "form-control", id = "Comment_" + v.Referral_ID })
            <br />
        </div>
        <div class="col-lg-12" style="text-align: right">
            <button class="btn btn-primary" onclick="SaveComment(@v.Referral_ID)">Save Comment</button>
            @if(v.Approved)
            {

                <button class="btn btn-primary" id="ReferralApproveBtn_@v.Referral_ID" disabled="disabled">Approved</button>
            }
            else
            {
                <button class="btn btn-primary" id="ReferralApproveBtn_@v.Referral_ID" onclick="referralApprove(@v.Referral_ID)">Approve</button>
            }

        </div>
    </div>
    <br />
}

<script type="text/javascript">
    function SaveComment(Referral_ID) {
        var comment = $("#Comment_" + Referral_ID).val()
        $.ajax({
            type: "POST",
            url: 'commentReferral',
            data: {
                "Referral_ID": Referral_ID,
                "comment": comment,
            },
            success: function () {
                alert("Comment saved!")
            },
            error: function () {
                alert("Unable to save comment.");
            }
        });
    }

    function referralApprove(Referral_ID) {
        //do sth
        $.ajax({
            type: "POST",
            url: 'approveReferral',
            data: {
                "Referral_ID": Referral_ID
            },
            success: function () {
                $("#ReferralApproveBtn_" + Referral_ID).html("Approved")
                $("#ReferralApproveBtn_" + Referral_ID).prop("onclick", null)
                $("#ReferralApproveBtn_" + Referral_ID).attr("disabled", true);
            },
            error: function () {
                alert("Error opening referrals pop up.");
            }
        });
    }
</script>