﻿@model Planetshakers.Events.Models.ApplicationViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<br />
@Html.HiddenFor(x => x.SelectedConferenceID)
<table id="ApplicationTable" style="width: 100%;" class="table table-bordered">
    <thead class="table-active">
        <tr>
            <td>Application ID</td>
            <td>Applicant Name</td>
            <td>Registration Type</td>
            <td>Submitted Date</td>
            <td>View Details</td>
            <td>Referrals</td>
            <td>Outcome</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.ApplicationList)
        {
            <tr id="@v.Application_ID">
                <td>@v.Application_ID</td>
                <td><a href="@Url.Action("GroupDetails", "Registration", new { Group_ID = v.Contact_ID, Conference_ID = Model.SelectedConferenceID })" target="_blank">@v.FirstName @v.LastName</a></td>
                <td id="regoName_" + @v.Application_ID>@v.RegistrationType</td>
                <td>@v.SubmittedTime.ToString("dd/MM/yyyy")</td>
                <td><button class="btn btn-primary" onclick="openDetail(@v.Application_ID)">Details</button></td>
                <td><button class="btn btn-primary" onclick="openReferral(@v.Application_ID)">Referrals</button></td>
                <td id="outcome_@v.Application_ID">
                    @if (v.Status_ID == 1)
                    {
                        <span class="badge badge-pill badge-dark">Pending</span>

                    }
                    else if (v.Status_ID == 2)
                    {
                        <button class="btn btn-danger" onclick="outcome(@v.Application_ID)">Outcome</button>
                    }
                    else if (v.Status_ID == 3)
                    {
                        <span class="badge badge-pill badge-success">Approved</span>
                    }
                    else if (v.Status_ID == 4)
                    {
                        <span class="badge badge-pill badge-danger">Denied</span>
                    }
                    else if (v.Status_ID == 5)
                    {
                        <span class="badge badge-pill badge-dark">Saved as Draft</span>
                    }
                    else if (v.Status_ID == 6)
                    {
                        <span class="badge badge-pill badge-dark">Not Attending</span>
                    }
                    else
                    {

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" onclick="AddApplication()">Add Application</button>

<br />

<div id="ApplicationOutcomeModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Application Outcome</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="OutcomesBody">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Please select a new Registration Type only if you are approving this application:</p>
                            @Html.DropDownList(" ", Model.RegistrationTypeList, "-- Select Registration Type --", new { @class = "form-control", @id = "selRegistrationType" })
                            <br />
                            <button id="outcomeApproveBtn" class="btn btn-success form-control">Approve</button>
                            <br />
                            <hr />
                            <button id="outcomeDenyBtn" class="btn btn-danger form-control">Deny</button>
                            <br />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="ApplicationDetailModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Application Detail</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DetailsBody">
                    <p>Application Questions and Answers</p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="ApplicationReferralModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Application Referrals</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ReferralBody">
                    <p>Application Referrals listed with some action buttons </p>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        if ($("#ApplicationTable").length > 0) {
            $("#ApplicationTable").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                paging: true,
                "pageLength": 10,
                "lengthMenu": [10, 25, 50],
                info: false,
                cache: false,
                scrollCollapse: true,
                responsive: true,
                processing: true,
                searching: true,

                bAutoWidth: true,
            });

            $('#ApplicationTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#ApplicationTable_paginate').addClass("mt-3 mt-md-2");
        }
    });


    function outcome(Application_ID) {
        $("#outcomeApproveBtn").attr('onClick', 'ApplicationApproveClicked(' + Application_ID + ')');
        $("#outcomeDenyBtn").attr('onClick', 'ApplicationDenyClicked(' + Application_ID + ')');

        $("#ApplicationOutcomeModal").modal("show")
    }
    function ApplicationApproveClicked(Application_ID) {
        var RegistrationType_ID = $("#selRegistrationType").val();
        $.ajax({
            type: "POST",
            url: 'outcomeApprove',
            data: {
                "Application_ID": Application_ID,
                "RegistrationType_ID": RegistrationType_ID
            },
            success: function (json) {
                $("#outcome_" + Application_ID).html("<span class='badge badge-pill badge-success'>Approved</span>")
                $("#regoName_" + Application_ID).html(json.regoName)
                $("#ApplicationOutcomeModal").modal("hide");
            },
            error: function () {
                alert("Unable to outcome this application.");
            }
        });
    }

    function ApplicationDenyClicked(Application_ID) {

        $.ajax({
            type: "POST",
            url: 'outcomeDeny',
            data: {
                "Application_ID": Application_ID
            },
            success: function (json) {
                $("#outcome_" + Application_ID).html("<span class='badge badge-pill badge-danger'>Denied</span>")
                $("#ApplicationOutcomeModal").modal("hide");
            },
            error: function () {
                alert("Unable to outcome this application.");
            }
        });
    }

    function openDetail(Application_ID) {
        $.ajax({
            type: "POST",
            url: 'getApplicationDetails',
            data: {
                "Application_ID": Application_ID
            },
            success: function (json) {
                $("#DetailsBody").html(json);
                $("#ApplicationDetailModal").modal("show")
            },
            error: function () {
                alert("Error opening details pop up.");
            }
        });
    }

    function openReferral(Application_ID) {
        $.ajax({
            type: "POST",
            url: 'getApplicationReferrals',
            data: {
                "Application_ID": Application_ID
            },
            success: function (json) {
                $("#ReferralBody").html(json);
                $("#ApplicationReferralModal").modal("show")
            },
            error: function () {
                alert("Error opening referrals pop up.");
            }
        });
    }
</script>