﻿@model Planetshakers.Events.Models.ApplicationViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<br />
<table id="ContactSearchTable" style="width: 100%;" class="table table-bordered">
    <thead class="table-active">
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Mobile</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.ApplicationList)
        {
            <tr id="Contact_@v.Contact_ID">
                <td>
                    @v.FirstName @v.LastName
                </td>
                <td>
                    @v.Email
                </td>
                <td>@v.Mobile</td>
                <td><button class="btn btn-primary ContactBtn" id="ContactBtn_@v.Contact_ID" onclick="SelectContact(@v.Contact_ID)">Select</button></td>
            </tr>
        }
    </tbody>
</table>

<br />
