﻿@model Planetshakers.Events.Models.ApplicationDocumentType

@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}



<div class="modal-header">
    @if (Model.isEdit)
    {
        <h3>Edit Document Type</h3>
    }
    else
    {
        <h3>Add Document Type</h3>
    }
    <br />
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 10px">
            <label>Document Type:</label>
            @Html.TextBoxFor(m => m.DocumentType, new { @class = "form-control", @id = "ApplicationDT" })
        </div>
        <br />
        @if (Model.isEdit)
        {
            <div class="col-lg-12">
                <label>Active:</label>
                @Html.CheckBoxFor(m => m.Active, new { @id = "Active" }) Yes
            </div>
        }
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            @if (Model.isEdit)
            {
                <button class="btn btn-primary" onclick="EditType(@Model.DocumentType_ID)">Edit</button>
            }
            else
            {
                <button class="btn btn-primary" onclick="AddType()">Add</button>
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    function EditType(id) {
        var type = $("#ApplicationDT").val()
        var Active = $("#Active").is(':checked')

        if (type != "") {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Application/EditDT",
                data: { "DocumentType_ID": id, "DocumentType": type, "Active": Active },
                success: function (json) {
                    alert("Successfully edited document type")
                    $("#DocumentTypeModal").modal("hide")
                    window.location.reload();

                },
                error: function () {
                    alert("Error when editing document type.");
                }
            });
        } else {
            alert("Document Type cannot be empty.")
        }
    }

    function AddType() {
        var type = $("#ApplicationDT").val()
        if (type != "") {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Application/AddDT",
                data: { "DocumentType": type },
                success: function (json) {
                    alert("Successfully added document type")
                    $("#DocumentTypeModal").modal("hide")
                    window.location.reload();

                },
                error: function () {
                    alert("Error when adding document type.");
                }
            });
        } else {
            alert("Document Type cannot be empty.")
        }
    }

</script>