﻿@model Planetshakers.Events.Models.ApplicationQuestion

@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}



<div class="modal-header">
    @if (Model.isEdit)
    {
        <h3>Edit Question</h3>
    }
    else
    {
        <h3>Add Question</h3>
    }
    <br />
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 10px">
            <label>Question:</label>
            @Html.TextAreaFor(m => m.Question, new { @class = "form-control", @id = "ApplicationQuestion" })
        </div>
        <br />
        <div class="col-lg-12" style="margin-bottom: 10px">
            <label>Type:</label>
            @*@Html.TextBoxFor(m => m.Type, new { @class = "form-control", @id = "QuesetionType" })*@
            @Html.DropDownListFor(m => m.Type, Model.TypeList, "-- Select Question Type --", new { @class = "form-control", @id = "QuesetionType" } )
        </div>
        <br />
        <div class="col-lg-12" style="margin-bottom: 10px">
            <label>Short Name:</label>
            @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control", @id = "QuesetionShortName" })
        </div>
        <br />
        @if (Model.isEdit)
        {
            <div class="col-lg-12">
                <label>Active:</label>
                @Html.CheckBoxFor(m => m.Active, new { @id = "QuestionActive" }) Yes
            </div>
        }
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            @if (Model.isEdit)
            {
                <button class="btn btn-primary" onclick="EditQuestion(@Model.Question_ID)">Edit</button>
            }
            else
            {
                <button class="btn btn-primary" onclick="AddQuestion()">Add</button>
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    function EditQuestion(id) {
        var question = $("#ApplicationQuestion").val()
        var type = $("#QuesetionType").val()
        var name = $("#QuesetionShortName").val()
        var Active = $("#QuestionActive").is(':checked')

        if (question != "" && type != "" && name != "") {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Application/EditQuestion",
                data: { "Question_ID": id, "Question": question, "Type": type, "Active": Active, "ShortName" : name },
                success: function (json) {
                    alert("Successfully edited question")
                    $("#QuestionModal").modal("hide")
                    window.location.reload();

                },
                error: function () {
                    alert("Error when editing question.");
                }
            });
        } else {
            alert("Question and Question Short Name and Type cannot be empty.")
        }
    }

    function AddQuestion() {
        var question = $("#ApplicationQuestion").val()
        var type = $("#QuesetionType").val()
        var name = $("#QuesetionShortName").val()
        if (question != "" && type != "" && name != "") {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Application/AddQuestion",
                data: { "Question": question, "Type": type, "ShortName": name },
                success: function (json) {
                    alert("Successfully added question")
                    $("#QuestionModal").modal("hide")
                    window.location.reload();

                },
                error: function () {
                    alert("Error when adding question.");
                }
            });
        } else {
            alert("Question and Question Short Name and Type cannot be empty.")
        }
    }

</script>