﻿@using System.Data;
@model Planetshakers.Events.Models.ApplicationViewModel
@{
    ViewBag.Title = "Application";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@*<script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.setup.js")"></script>*@

<div class="row">

    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div>
    <div class="row mx-3">
        <div id="conferenceCheck" class="col-lg-12" style="display: none;">
            <div class="alert alert-danger fa-border"><strong>Please select an trip.</strong></div><br />
        </div>
        <div class="col-lg-7">
            <form class="form-group">
                <label>Trips:</label><br />
                @Html.DropDownListFor(m => m.SelectedConference, Model.event_list,
               "-- Select Trip --", new { required = "required", id = "selectedConference", @class = "form-control" })<br />
                @*can add filter for rego types and approve/deny in the future*@
            </form>

        </div>
        <div class="col-lg-3 py-0 py-lg-4">
            @Html.DropDownList("Status", Model.ApplicationStatus, "-- Select Status --", new { id = "selectedStatus", @class = "form-control" })
        </div>

        <div class="col-lg-2 py-0 py-lg-4">
            <button class="btn btn-primary btn-block" onclick="generateApplicationDeets()" style="margin: 0px;">Select</button>
        </div>

        <div id="ViewResult" class="col-lg-12"></div>

        <div class="col-lg-12">
        </div>
    </div>
</div>
<div id="AddApplicationModal" class="modal fade" aria-labelledby="voucher" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class='modal-title'>Add Application</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label>Select Trip:</label>
                        @Html.DropDownList("AddApplicationTripSel", Model.event_list, "-- Select Trip --", new { required = "required", @class = "form-control", @onchange = "updateRegistrationType()" })
                    </div><div class="col-12">
                        <label>Select Registration Type:</label>
                        <div id="RegoTypeSection">
                            <select id="RegoTypeDropdown" class="form-control">
                                <option value="">Select Registration Type</option>
                            </select>
                        </div>
                    </div>
                    @*Select Contact*@
                    @*If contact doesnt exist, add contact btn*@
                    <div class="col-12">
                        <label>Select person:</label>
                    </div>
                    <div class="col-lg-11 col-sm-12 mb-1">
                        <input class="form-control" type="text" placeholder="Quick Search" id="searchQuery" />
                    </div>
                    <div class="col-lg-1 col-sm-12">
                        <button class="btn btn-primary" onclick="SearchQuery()">Search</button>
                    </div>
                    @Html.Hidden("SelectedContact")
                    <div class="col-12" id="SearchResultTable">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="SubmitApplication()" >Add</button>
                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function generateApplicationDeets() {
        var conference = $("#selectedConference").val();
        var status = $("#selectedStatus").val();

        if (status == "" || status == null) {
            status = 0;
        }
        if (conference == "" || conference == null) {
            $("#conferenceCheck").show();
            return false;
        }
        else {
            $("#conferenceCheck").hide();
            $.ajax({
                cache: false,
                async: false,
                type: "POST",
                url: 'GenerateApplication',
                data: {
                    "Event_ID": conference, "Status_ID": status
                },
                success: function (json) {
                    $("#ViewResult").html(json);
                },
                error: function () {
                    alert("Unable to find application records.");
                }
            });
        }

    };

    function AddApplication() {
        var Conference_ID = $("#SelectedConferenceID").val();
        $("#AddApplicationTripSel").val(Conference_ID);
        updateRegistrationType();
        $("#AddApplicationModal").modal("show");
    }
    function updateRegistrationType() {
        var Conference_ID = $("#AddApplicationTripSel").val();
        $.ajax({
            type: "POST",
            url: 'GetRegistrationTypes',
            data: {
                "Conference_ID": Conference_ID
            },
            success: function (jsonData) {
                $('#RegoTypeDropdown').empty();
                $.each(jsonData.rego, function (index, item) {
                    $('#RegoTypeDropdown').append(
                        $('<option>', { value: item.reg_id, text: item.reg_name })
                    );
                });
            },
            error: function () {
                alert("Unable to get registration types");
            }
        });
    }

    function SearchQuery() {
        var query = $("#searchQuery").val();
        console.log(query)
        if (query == '') {
            alert('Please search a contact')
        } else {
            $.ajax({
                type: "POST",
                url: 'GetContact',
                data: {
                    "query": query
                },
                success: function (html) {
                    $("#SearchResultTable").html(html);
                },
                error: function () {
                    alert("Unable to find contact");
                }
            });
        }
    }
    function SelectContact(contactID) {
        console.log(contactID)
        $("#SelectedContact").val(contactID)
        $(".ContactBtn").prop('disabled', false);
        $("#ContactBtn_" + contactID).prop('disabled', true);
    }

    function SubmitApplication() {
        var Conference_ID = $("#AddApplicationTripSel").val();
        var RegistrationType_ID = $("#RegoTypeDropdown").val();
        var Contact_ID = $("#SelectedContact").val();
        $.ajax({
            type: "POST",
            url: 'AddApplication',
            data: {
                "Conference_ID": Conference_ID, "RegistrationType_ID": RegistrationType_ID, "Contact_ID": Contact_ID
            },
            success: function (html) {
                alert("Application added");
                generateApplicationDeets();
                $("#AddApplicationModal").modal("hide");

            },
            error: function () {
                alert("Unable to add application");
            }
        });
    }

</script>
