﻿@using System.Data;
@model Planetshakers.Events.Models.ApplicationDocumentTypeViewModel
@{
    ViewBag.Title = "Application Document Type";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@*<script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.setup.js")"></script>*@

<div class="row">

    <div class="col-lg-12 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>
</div>

<div>
    <div class="row mx-3 form-group">
        <table id="ApplicationDocTypeTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <td>Document Type</td>
                    <td>Active</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.ApplicationDocumentType)
                {
                    <tr id="@v.DocumentType_ID">
                        <td>@v.DocumentType</td>
                        @if (v.Active)
                        {
                            <td><i style="color: green;" class="fas fa-check"></i></td>
                        }
                        else
                        {
                            <td><i style="color: red;" class="fas fa-times"></i></td>
                        }
                        <td><button class="btn btn-primary" onclick="openEditModal(@v.DocumentType_ID)">Edit</button></td>
                        <td><button class="btn btn-danger" onclick="DeleteType(@v.DocumentType_ID)">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary" onclick="openAddModal()">Add Document Type</button>
                <button class="btn btn-primary" id="clickSort" onclick="clickSort()">Sort Order</button>
            </div>
        </div>
    </div>

</div>

<div id="DocumentTypeModal" class="modal fade text-black-100" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="DocumentTypeModalContent"></div>
    </div>
</div>

<script type="text/javascript">
    //$(document).ready(function () {
    //    $("#ApplicationDocTypeTable tbody").sortable();
    //})

    function openAddModal() {
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Application/AddDTModal",
            success: function (html) {
                //console.log(html)
                $("#DocumentTypeModalContent").html(html)
                $("#DocumentTypeModal").modal("show")
            },
            error: function () {
                alert("Error when opening modal.");
            }
        });
    }

    function openEditModal(id) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Application/EditDTModal",
            data: { "DocumentType_ID": id },
            success: function (html) {
                $("#DocumentTypeModal").modal("show")
                $("#DocumentTypeModalContent").html(html)

            },
            error: function () {
                alert("Error when opening modal.");
            }
        });
    }

    function DeleteType(id) {
        if (confirm('Are you sure you want to delete this document type?')) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Application/DeleteDT",
                data: { "DocumentType_ID": id },
                success: function (html) {
                    alert("Document Type Deleted")
                    window.location.reload();
                },
                error: function () {
                    alert("Error when deleting document type.");
                }
            });
        }
    }
    
    function clickSort() {
        $('#ApplicationDocTypeTable tbody').sortable();
        $("#clickSort").attr('onClick', 'sortOrder()');
        $("#clickSort").html("Save Sort Order")
    }
    function sortOrder() {
        var table = document.getElementsByTagName("tbody")[0].rows;
        var list = [];

        for (i = 0; i < table.length; i++) {

            var RegoTypeID = $(table[i]).attr('id').replace(/^\D+/g, '')
            if (RegoTypeID != null) {

                var Obj = {
                    ItemID: RegoTypeID,
                    ItemSortOrderID: i + 1
                };
                list.push(Obj);
            }
        }
        $.ajax({
            cache: false,
            async: false,
            type: "POST",
            url: "/Application/DTsortOrder",
            data: { "List": list },
            success: function (json) {
                alert("Document type order saved successfully");
                $("#ApplicationDocTypeTable tbody").sortable("destroy"); //call widget-function destroy
                $("#ApplicationDocTypeTable tbody li").removeClass('ui-state-default');
                $("#ApplicationDocTypeTable tbody li span").remove();
                $("#clickSort").attr('onClick', 'clickSort()');
                $("#clickSort").html("Sort Order")
            },
            error: function () {
                alert("Error occured while saving changes.");
            }
        });
    }
</script>


