﻿@model Planetshakers.Events.Models.HostEventViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}
@Html.Hidden("Event_ID", Model.Event_ID)
<br />
<table id="SearchResultTable" style="width: 100%;" class="table table-bordered">
    <thead class="table-active">
        <tr>
            <td>Host Event</td>
            <td>Name</td>
            <td>Date</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.InstanceList)
        {
            <tr id="@v.HostEventInstance_ID">
                <td>@v.HostEventName</td>
                <td>@v.Name</td>
                <td>@v.StartDate.ToString("dd-MMM-yyyy")</td>
                <td style="text-align: center"><button class="btn btn-primary" onclick="ViewInstanceDetail(@v.HostEventInstance_ID)">Mark Attendance</button></td>
            </tr>
        }
    </tbody>
</table>
<br />

<div id="SessionListModal" class="modal fade text-black-100" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="SessionListBody"></div>
    </div>
</div>

<script type="text/javascript">
    function ViewInstanceDetail(Instance_ID) {
        var Event_ID = $("#Event_ID").val()
        $.ajax({
            cache: false,
            type: "POST",
            url: '/HostEvents/InstanceSessionModal',
            data: {
                "Instance_ID": Instance_ID,
                "Event_ID": Event_ID,
            },
            success: function (json) {
                $("#SessionListBody").html(json);
                $("#SessionListModal").modal("show")
            },
            error: function () {
                alert("Unable to retrieve data.");
            }
        });
    }
</script>