﻿@model Planetshakers.Events.Models.HostEventSession
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}
@Html.Hidden("Instance_ID", Model.Instanct_ID)
<div class="modal-content">
    <div class="modal-header">
        <h3 id="SessionModalTitle">Edit or Add Topic</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 10px">
                <label>Date:</label>
                @Html.TextBoxFor(m => m.Date, new { Value = Model.Date.ToString("yyyy-MM-dd"), @type = "date", @class = "form-control", @id = "SessionDate"})
            </div>
            <br />
            <div class="col-lg-12">
                <label>Topics :</label>
                @Html.ListBoxFor(m => m.selectedTopic, Model.SelectTopicList, new { @id = "SessionTopicSelected", required = "required", @class = "form-control", multiple = "multiple", @data_style = "multi-select-btn" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="AddEditBtn" class="btn btn-primary" onclick="AddorEditTopic()"></button>
        <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#SessionTopicSelected").selectpicker({
            noneSelectedText: ' Select Topic '
        });
    })

    function AddSession() {
        var Instance_ID = $("#Instance_ID").val()
        var SessionDate = $("#SessionDate").val()
        var SessionTopicSelected = $("#SessionTopicSelected").val()

        var TopicList = [];
        for (let i = 0; i < SessionTopicSelected.length; i++) {
            TopicList.push(SessionTopicSelected[i])
        }

        $.ajax({
            cache: false,
            type: "POST",
            url: '/HostEvents/addSession',
            data: {
                "Instance_ID": Instance_ID,
                "SessionDate": SessionDate,
                "TopicList": TopicList,
            },
            success: function (json) {
                $("#TopicDetailsModal").modal("hide")
                alert("Topic added!")
                window.location.reload();
            },
            error: function () {
                alert("Unable to add Topic.");
            }
        });
    }
    function EditSession(Session_ID) {
        var SessionDate = $("#SessionDate").val()
        var SessionTopicSelected = $("#SessionTopicSelected").val()

        var TopicList = [];
        for (let i = 0; i < SessionTopicSelected.length; i++) {
            TopicList.push(SessionTopicSelected[i])
        }

        $.ajax({
            cache: false,
            type: "POST",
            url: '/HostEvents/editSession',
            data: {
                "Session_ID": Session_ID,
                "SessionDate": SessionDate,
                "TopicList": TopicList,
            },
            success: function (json) {
                $("#TopicDetailsModal").modal("hide")
                alert("Topic details edited!")
                window.location.reload();
            },
            error: function () {
                alert("Unable to edit Topic.");
            }
        });
    }
</script>