﻿@model Planetshakers.Events.Models.HostEventInstance
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="modal-content">
    <div class="modal-header">
        <h3>Select Session</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table id="SearchResultTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active" style="text-align: center">
                <tr>
                    <td>Sessions</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.SessionList)
                {
                    <tr>
                        <td>@v.Date.ToString("dd-MMM-yyyy")</td>
                        <td style="text-align: center">
                            @if (v.isToday)
                            {
                                <a href="@Url.Action("MarkAttendance", "HostEvents", new { Instance_ID = v.Instanct_ID, Session_ID = v.Session_ID, Event_ID = Model.Event_ID, mark=true})" class="btn btn-primary">Mark</a>
                            }
                            else
                            {
                                if (v.Passed)
                                {

                                    <a href="@Url.Action("MarkAttendance", "HostEvents", new { Instance_ID = v.Instanct_ID, Session_ID = v.Session_ID, Event_ID = Model.Event_ID, mark=false})" class="btn btn-dark">View</a>
                                }
                                else
                                {
                                    <button class="btn btn-primary" disabled>Mark</button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
    </div>
</div>
