﻿@model Planetshakers.Events.Models.HostEventTopic
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <h3 id="TopicModalTitle">Edit or Add Topic</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 10px">
                <label>Name:</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "TopicName" })
            </div>
            <br />
            <div class="col-lg-12">
                <label>Point :</label>
                @Html.TextBoxFor(m => m.PointWeighting, new { @class = "form-control", @id = "TopicPointWeight" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="AddEditBtn" class="btn btn-primary" onclick="AddorEditTopic()">Add Topic</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
    </div>
</div>
<script>
    function AddTopic() {
        var HostEvent_ID = $("#HostEvent_ID").val()
        var TopicName = $("#TopicName").val()
        var PointWeighting = $("#TopicPointWeight").val()
        $.ajax({
            cache: false,
            type: "POST",
            url: '/HostEvents/addTopic',
            data: {
                "HostEvent_ID": HostEvent_ID,
                "Name": TopicName,
                "Point": PointWeighting,
            },
            success: function (json) {
                $("#TopicDetailsModal").modal("hide")
                alert("Topic added!")
                window.location.reload();
            },
            error: function () {
                alert("Unable to add Topic.");
            }
        });
    }
    function EditTopic(Topic_ID) {
        var TopicName = $("#TopicName").val()
        var PointWeighting = $("#TopicPointWeight").val()
        $.ajax({
            cache: false,
            type: "POST",
            url: '/HostEvents/editTopic',
            data: {
                "Topic_ID": Topic_ID,
                "Name": TopicName,
                "Point": PointWeighting,
            },
            success: function (json) {
                $("#TopicDetailsModal").modal("hide")
                alert("Topic details edited!")
                window.location.reload();
            },
            error: function () {
                alert("Unable to edit Topic.");
            }
        });
    }
</script>