﻿@model Planetshakers.Events.Models.HostEventsManagementViewModel

@{
    ViewBag.Title = "Host Event Management";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <div class="col-lg-12 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>
</div>

<div>
    <div class="row mx-3 form-group">
        <table id="HostEventsTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <td>Name</td>
                    <td>Latest Event Date</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.HostEventList)
                {
                    <tr id="@v.HostEvent_ID">
                        <td>@v.Name</td>
                        <td>@v.LatestCourseInstance</td>
                        <td><a class="btn btn-primary" href="@Url.Action("HostEventDetails", "HostEvents", new {HostEvent_ID = v.HostEvent_ID})">Edit</a></td>
                    </tr>                    
                }                
            </tbody>
        </table>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <a class="btn btn-primary" href="@Url.Action("HostEventDetails", "HostEvents", new {HostEvent_ID = 0})">Add Host Event</a>
            </div>
        </div>
    </div>
</div>
