﻿@model Planetshakers.Events.Models.HostEventInstance

@{
    ViewBag.Title = "Host Event Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


@Html.Hidden("HostEventInstance_ID", Model.HostEventInstance_ID)
@Html.Hidden("HostEvent_ID", Model.HostEvent_ID)
<div class="row">

    <div class="col-lg-12 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Host Event Instance Name </label>
                    @Html.TextBoxFor(x => x.Name, new { required = "required", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3" ">
                <div class="form-group">
                    <label>Start Date </label>
                    @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @class = "dob-field form-control", placeholder = "yyyy-MM-dd", type = "date" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>End Date </label>
                    @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @class = "dob-field form-control", placeholder = "yyyy-MM-dd", type = "date" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Max Capacity </label>
                    @Html.TextBoxFor(x => x.MaxCapacity, new { required = "required", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Trip </label>
                    @Html.DropDownListFor(x => x.Event_ID, Model.EventList, "-- Select Trip -- ", new { @id = "SelEventID", required = "required", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="text-align: right">
                    <button class="btn btn-primary" onclick="SaveHostEventInstanceDetails()">Save</button>
                    <a class="btn btn-primary" href="@Url.Action("HostEventDetails", "HostEvents", new {HostEvent_ID = Model.HostEvent_ID})">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <label>Host Event Sessions</label>
        <table id="HostEventsSessionsTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <td>Session Date</td>
                    <td>Topic</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.SessionList != null)
                {
                    foreach (var v in Model.SessionList)
                    {
                        <tr id="@v.Session_ID">
                            <td>@v.Date.ToString("dd-MMM-yyyy")</td>
                            @if(@v.TopicStringList != null)
                    {
                        <td>@v.TopicStringList.Substring(1)</td>
                    } else
                    {
                        <td></td>
                    }
                            
                            <td><button class="btn btn-primary" onclick="AddEditSession(@v.Session_ID)">Edit</button></td>
                            <td><button class="btn btn-primary">Remove</button></td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        <br />
        <div class="row">
            <div class="col-lg-12">
                @if (Model.isEdit)
                {
                    @*<a class="btn btn-primary" href="@Url.Action("HostEventInstances", "HostEvents", new {HostEventInstance_ID = 0})">Add New Session</a>*@
                    <button class="btn btn-primary" onclick="AddEditSession(0)">Add New Session</button>
                }
                else
                {
                    <button class="btn btn-primary" disabled>Add New Session</button>
                }
            </div>
        </div>
        <br />
    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-6">
        <label>Registrants</label>
        <div class="table-scrollable">
            <table id="HostEventsRegistrantTable" style="width: 100%; margin-bottom: 0" class="table table-bordered">
                <thead class="table-active">
                    <tr>
                        <td>Contact_ID</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.RegistrantList != null)
                    {
                        foreach (var v in Model.RegistrantList)
                        {
                            <tr id="Registrant_@v.Contact_ID">
                                <td>@v.Contact_ID</td>
                                <td>@v.FirstName</td>
                                <td>@v.LastName</td>
                                <td><button class="btn btn-primary" onclick="AddAttendee(@v.Contact_ID)">Add</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>        
    </div>
    <div class="col-md-6">
        <label>Attendee</label>
        <div class="table-scrollable">
            <table id="HostEventsAttendeeTable" style="width: 100%; margin-bottom: 0" class="table table-bordered">
                <thead class="table-active">
                    <tr>
                        <td>Contact_ID</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                    </tr>
                </thead>
                <tbody id="HostEventsAttendeeTableBody">
                    @if (Model.AttendeeList != null)
                    {
                        foreach (var v in Model.AttendeeList)
                        {
                            <tr id="Attendee_@v.Contact_ID">
                                <td>@v.Contact_ID</td>
                                <td>@v.FirstName</td>
                                <td>@v.LastName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="SessionDetailsModal" class="modal fade text-black-100" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="SessionDetailsModalContent"></div>
    </div>
</div>

<script>
    function AddAttendee(Contact_ID) {
        var HostEventInstance_ID = $("#HostEventInstance_ID").val();
        $.ajax({
            cache: false,
            type: "POST",
            url: '/HostEvents/AddAttendee',
            data: {
                "Contact_ID": Contact_ID,
                "HostEventInstance_ID": HostEventInstance_ID,
            },
            success: function (json) {
                var table1 = document.getElementById("HostEventsAttendeeTableBody");
                var row = table1.insertRow(0);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                cell1.innerHTML = json.Contact_ID;
                cell2.innerHTML = json.FirstName;
                cell3.innerHTML = json.LastName;
                $("#Registrant_" + Contact_ID).remove();
            },
            error: function () {
                alert("Unable to Add Attendee.");
            }
        });
    }

    function AddEditSession(Session_ID) {
        var HostEvent_ID = $("#HostEvent_ID").val();
        var HostEventInstance_ID = $("#HostEventInstance_ID").val();
        $.ajax({
            cache: false,
            async: false,
            type: "POST",
            url: '/HostEvents/GetHostEventSessionModal',
            data: {
                "Session_ID": Session_ID,
                "HostEvent_ID": HostEvent_ID,
                "HostEventInstance_ID": HostEventInstance_ID,
            },
            success: function (json) {
                $("#SessionDetailsModalContent").html(json);
                if (Session_ID == 0) {
                    $("#SessionModalTitle").html("Add Session")
                    $("#AddEditBtn").html("Add")
                    $("#AddEditBtn").attr("onclick", "AddSession()")

                } else {
                    $("#SessionModalTitle").html("Edit Session")
                    $("#AddEditBtn").html("Update")
                    $("#AddEditBtn").attr("onclick", "EditSession(" + Session_ID + ")")
                }
                $("#SessionDetailsModal").modal("show")
            },
            error: function () {
                alert("Unable to retrieve data.");
            }
        });
    }
    function SaveHostEventInstanceDetails() {
        var HostEventInstance_ID = $("#HostEventInstance_ID").val()
        var HostEvent_ID = $("#HostEvent_ID").val()
        var Name = $("#Name").val();
        var StartDate = $("#StartDate").val()
        var EndDate = $("#EndDate").val();
        var MaxCapacity = $("#MaxCapacity").val();
        var SelEventID = $("#SelEventID").val();

        $.ajax({
            cache: false,
            type: "POST",
            url: 'AddEditHostEventInstanceDetails',
            data: {
                "HostEventInstance_ID": HostEventInstance_ID,
                "HostEvent_ID": HostEvent_ID,
                "Name": Name,
                "StartDate": StartDate,
                "EndDate": EndDate,
                "MaxCapacity": MaxCapacity,
                "Event_ID": SelEventID,
            },
            success: function (json) {
                window.open('HostEventInstances?HostEventInstance_ID=' + json.HostEventInstance_ID + "&HostEvent_ID=" + json.HostEvent_ID, "_self");
            },
            error: function () {
                if (HostEventInstance_ID == 0) {
                    alert("Unable to add host event instance details.");
                } else {
                    alert("Unable to update host event instance details.");
                }

            }
        });
    }
</script>