﻿@using System.Data;
@model Planetshakers.Events.Models.HostEventViewModel
@{
    ViewBag.Title = "Host Events";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div>
    <div class="row mx-3">
        <div id="conferenceCheck" class="col-lg-12" style="display: none;">
            <div class="alert alert-danger fa-border"><strong>Please select an trip.</strong></div><br />
        </div>
        <div class="col-lg-12">
            <!-- select conference or event.-->
            <label>Trip:</label><br />
            @Html.DropDownList("EventList", Model.EventList, "-- Select Trip --", new { required = "required", id = "selectedConference", @class = "form-control" })
        </div>
        <br />

        <div class="col-lg-3 py-0 py-lg-4" style="text-align: right">
            <button class="btn btn-primary btn-block" onclick="generateHostEvents()" style="margin: 0px;" id="GenerateHostEventBtn">Select</button>
        </div>

        <div id="HostEventViewResult" class="col-lg-12"></div>

    </div>
</div>

<script>
    
    function generateHostEvents() {
        var Event_ID = $("#selectedConference").val();

        if (Event_ID == "" || Event_ID == null) {
            $("#conferenceCheck").show();
            return false;
        }
        else {
            $("#conferenceCheck").hide();
            $.ajax({
                cache: false,
                async: false,
                type: "POST",
                url: '/HostEvents/getHostEvents',
                data: {
                    "Event_ID": Event_ID,
                },
                success: function (json) {
                    $("#HostEventViewResult").html(json);
                },
                error: function () {
                    alert("Finding not successful.");
                }
            });
        }
    };

</script>
