﻿@model Planetshakers.Events.Models.HostEvents

@{
    ViewBag.Title = "Host Event Details";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@Html.Hidden("HostEvent_ID", Model.HostEvent_ID)

<div class="row">

    <div class="col-lg-12 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Name </label>
                    @Html.TextBoxFor(x => x.Name, new { required = "required", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Points Required for Completion </label>
                    @Html.TextBoxFor(x => x.PointRequired, new { required = "required", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Template ID </label>
                    @Html.TextBoxFor(x => x.Template_ID, new { required = "required", @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Show in Custom Report? </label>
                    @Html.CheckBoxFor(x => x.ShowInCustomReport, new { })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Log Completed Sessions in Contact's History? </label>
                    @Html.CheckBoxFor(x => x.LogCompletedSession, new { })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="text-align: right">
                    <button class="btn btn-primary" onclick="SaveHostEventDetails()">Save</button>
                    <a class="btn btn-primary" href="@Url.Action("HostEventManagement", "HostEvents")">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-6">
        <label>Host Event Instances</label>
        <div class="table-scrollable">
            <table id="HostEventsDetailDatesTable" style="width: 100%; margin-bottom: 0" class="table table-bordered">
                <thead class="table-active">
                    <tr>
                        <td>Name</td>
                        <td>Start Date</td>
                        <td>End Date</td>
                        <td>Capacity</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.InstanceList != null)
                    {
                        foreach (var v in Model.InstanceList)
                        {
                            <tr id="@v.HostEventInstance_ID">
                                <td>@v.Name</td>
                                <td>@v.StartDate.ToString("dd/MM/yyyy")</td>
                                <td>@v.EndDate.ToString("dd/MM/yyyy")</td>
                                <td>@v.MaxCapacity</td>
                                <td><a class="btn btn-primary" href="@Url.Action("HostEventInstances", "HostEvents", new {HostEventInstance_ID = v.HostEventInstance_ID, HostEvent_ID = Model.HostEvent_ID})">Edit</a></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @if (Model.isEdit)
                {
                    <a class="btn btn-primary" href="@Url.Action("HostEventInstances", "HostEvents", new {HostEventInstance_ID = 0, HostEvent_ID = Model.HostEvent_ID})">Add New Date</a>
                }
                else
                {
                    <button class="btn btn-primary" disabled>Add New Date</button>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <label>Topic</label>
        <div class="table-scrollable">
            <table id="HostEventsDetailTopicTable" style="width: 100%; margin-bottom: 0" class="table table-bordered">
                <thead class="table-active">
                    <tr>
                        <td>Topic Name</td>
                        <td>Point</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TopicList != null)
                    {
                        foreach (var v in Model.TopicList)
                        {
                            <tr id="@v.HostEventTopic_ID">
                                <td>@v.Name</td>
                                <td>@v.PointWeighting</td>
                                <td><button class="btn btn-primary" onclick="EditTopicBtnClicked(@v.HostEventTopic_ID)">Edit</button></td>
                                <td><button class="btn btn-primary" onclick="DeleteTopic(@v.HostEventTopic_ID)">Delete</button></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @if (Model.isEdit)
                {
                    <button class="btn btn-primary" onclick="EditTopicBtnClicked(0)">Add New Topic</button>
                }
                else
                {
                    <button class="btn btn-primary" disabled>Add New Topic</button>
                }

            </div>
        </div>
    </div>
</div>

<div id="TopicDetailsModal" class="modal fade text-black-100" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="TopicDetailsModalContent"></div>
    </div>
</div>


<script>
    function EditTopicBtnClicked(Topic_ID) {
        var HostEvent_ID = $("#HostEvent_ID").val();
        $.ajax({
            cache: false,
            async: false,
            type: "POST",
            url: '/HostEvents/GetTopicDetailModal',
            data: {
                "Topic_ID": Topic_ID,
                "HostEvent_ID": HostEvent_ID,
            },
            success: function (json) {
                $("#TopicDetailsModalContent").html(json);
                if (Topic_ID == 0) {
                    $("#TopicModalTitle").html("Add Topic")
                    $("#AddEditBtn").html("Add")
                    $("#AddEditBtn").attr("onclick", "AddTopic()")

                } else {
                    $("#TopicModalTitle").html("Edit Topic")
                    $("#AddEditBtn").html("Update")
                    $("#AddEditBtn").attr("onclick", "EditTopic(" + Topic_ID + ")")
                }
                $("#TopicDetailsModal").modal("show")
            },
            error: function () {
                alert("Unable to retrieve data.");
            }
        });
    }
    
    function SaveHostEventDetails() {
        var HostEvent_ID = $("#HostEvent_ID").val()
        var Name = $("#Name").val();
        var Points = $("#PointRequired").val()
        var Template_ID = $("#Template_ID").val();
        var customReport = document.getElementById("ShowInCustomReport").checked
        var logSession = document.getElementById("LogCompletedSession").checked

        $.ajax({
            cache: false,
            type: "POST",
            url: 'AddEditHostEventDetails',
            data: {
                "HostEvent_ID": HostEvent_ID,
                "Name": Name,
                "Points": Points,
                "Template_ID": Template_ID,
                "customReport": customReport,
                "logSession": logSession
            },
            success: function (json) {
                window.open('HostEventDetails?HostEvent_ID=' + json.HostEvent_ID, "_self");
            },
            error: function () {
                if (HostEvent_ID == 0) {
                    alert("Unable to add host event details.");
                } else {
                    alert("Unable to update host event details.");
                }
                
            }
        });
    }
</script>