﻿@model Planetshakers.Events.Models.MarkAttendanceViewModel

@{
    ViewBag.Title = "Mark Attendance";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@Html.Hidden("Session_ID", Model.Session_ID)
<div class="row">
    <div class="col-lg-12 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Event  </label>
                    @Html.TextBoxFor(x => x.EventName, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Host Event</label>
                    @Html.TextBoxFor(x => x.HostEventName, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-3" ">
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(x => x.InstanceName, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Session Date </label>
                    @Html.TextBoxFor(m => m.SessionDate, "{0:yyyy-MM-dd}", new { @class = "dob-field form-control", placeholder = "yyyy-MM-dd", type = "date", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<br />
<div>
    <label>Attendees</label>
    <div class="form-group">
        <table id="MarkAttendanceTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active" style="text-align: center">
                <tr>
                    <td>Contact_ID</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Group</td>
                    <td>Attendance</td>
                </tr>
            </thead>
            <tbody style="text-align: center">
                @foreach (var v in Model.AttendeeList)
                {
                    <tr id="Attendee_@v.Contact_ID">
                        <td>@v.Contact_ID</td>
                        <td>@v.FirstName</td>
                        <td>@v.LastName</td>
                        <td>@v.email</td>
                        @if (v.isCollege)
                        {
                            <td><span class="badge badge-pill badge-success">College</span></td>
                        }
                        else
                        {
                            <td><span class="badge badge-pill badge-dark">General</span></td>
                        }
                        @*@if (Model.mark)
                            {
                                <td>
                                    <span class="right"><label>Yes</label></span>
                                    <div class="custom-control custom-switch right">
                                        <input onclick="MarkSessionAttendance(@v.Contact_ID)" type="checkbox" class="custom-control-input" id="attendance_@v.Contact_ID" name="switch-@v.Contact_ID" value="@(v.Attended ? "yes" : "no")" @(v.Attended ? "checked" : "") />
                                        <label class="custom-control-label" for="attendance_@v.Contact_ID"></label>
                                    </div>
                                    <span class="right pr-2"><label>No</label></span>
                                </td>
                            }
                            else
                            {

                                if (v.Attended)
                                {
                                    <td><span class="badge badge-pill badge-success">Attended</span></td>
                                }
                                else
                                {
                                    <td><span class="badge badge-pill badge-danger">Absent</span></td>
                                }
                            }*@
                        <td>
                            <span class="right"><label>Yes</label></span>
                            <div class="custom-control custom-switch right">
                                <input onclick="MarkSessionAttendance(@v.Contact_ID)" type="checkbox" class="custom-control-input" id="attendance_@v.Contact_ID" name="switch-@v.Contact_ID" value="@(v.Attended ? "yes" : "no")" @(v.Attended ? "checked" : "") />
                                <label class="custom-control-label" for="attendance_@v.Contact_ID"></label>
                            </div>
                            <span class="right pr-2"><label>No</label></span>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
        <br />
    </div>
</div>

<script type="text/javascript">
    function MarkSessionAttendance(Contact_ID) {
        var Session_ID = $("#Session_ID").val()
        var attending = $("#attendance_" + Contact_ID).prop('checked') == true;
        $.ajax({
            type: "post",
            url: "/HostEvents/SessionMarkAttendance",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                'Contact_ID': Contact_ID,
                'Session_ID': Session_ID,
                'attend': attending
            }),
            success: function (json) {
                if (attending) {
                    alert("Marked Attendance.")
                } else {
                    alert("Removed Attendance.")
                }
            },
            error: function () {
                alert("Unable to mark attendance.")
            }
        });
    }
    $(document).ready(function () {
        if ($("#MarkAttendanceTable").length > 0) {
            $("#MarkAttendanceTable").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                paging: true,
                "pageLength": 10,
                "lengthMenu": [10, 25, 50],
                info: false,
                cache: false,
                scrollCollapse: true,
                responsive: true,
                processing: true,
                searching: true,

                bAutoWidth: true,
            });

            $('#MarkAttendanceTable_wrapper .col-md-12:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            //$('#MarkAttendanceTable_paginate').addClass("mt-3 mt-md-2");
        }
    });
</script>
