﻿@model Planetshakers.Events.Models.ConferenceViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
    var conf = Model.selectedConfDetails.conf;
    var venue = Model.selectedConfDetails.venue;
}

<br />
<div class="border p-2">


    <form id="editConferenceForm" class="form-group">
        @Html.Hidden("ConferenceID", Model.selectedConfDetails.conf.Conference_ID)
        <div id="conferenceNameCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please fill in Event Name.</strong></div><br />
        <label>Trip Name: <span class="redstar" style="color: red">*</span> </label>
        @Html.TextBox("Conference Name", conf.ConferenceName, new { required = "required", maxlength = "100", id = "conferenceName", @class = "form-control" })
        <br />
        <label>Trip Short Name:</label>
        @Html.TextBox("Conference Short Name", conf.ConferenceNameShort, new { maxlength = "50", id = "conferenceShortName", @class = "form-control" })
        <br />
        <div id="conferenceDateCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please select Trip date.</strong><br /></div>
        <label>Trip Date: <span class="redstar" style="color: red">*</span></label>
        @Html.TextBox("Conference Date", conf.ConferenceDate, new { required = "required", maxlength = "50", id = "conferenceDate", @class = "form-control" })
        <br />

        <div id="conferenceTypeCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please select Trip Type.</strong><br /></div>
        <label>Trip Type: <span class="redstar" style="color: red">*</span></label>
        @Html.DropDownListFor(m => m.selectedConfDetails.conf.ConferenceType, Model.confType_list,
       new { required = "required", id = "conferenceType", @class = "form-control" })
        <br />
        <div id="conferenceCountryCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please select Country.</strong><br /></div>
        <label>Country: <span class="redstar" style="color: red">*</span></label>
        @Html.DropDownListFor(m => m.selectedConfDetails.conf.Country_ID, Model.country_list,
       new { required = "required", id = "conferenceCountry", @class = "form-control" })
        <br />

        <div id="conferenceBankCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please select Bank Account.</strong><br /></div>
        <label>Bank Account: <span class="redstar" style="color: red">*</span></label>
        @Html.DropDownListFor(m => m.selectedConfDetails.conf.BankAccount_ID, Model.bank_list,
       new { required = "required", id = "conferenceBankAccount", @class = "form-control" })
        <br />
        <div id="venueDateSequenceCheck" class="alert alert-danger fa-border" style="display: none;"><strong>End Date cannot be earlier than Start Date!</strong><br /></div>
        <div class="row px-3">
            <div class="col-lg-6" style="padding-left: 0px;">
                <label>Registration Start Date (dd/mm/yyyy): <span class="redstar" style="color: red">*</span> </label>
                @Html.TextBox("Conference Start Date", venue.ConferenceStartDate.ToString("yyyy-MM-dd"), new { id = "conferenceStartDate", type = "date", required = "required", @class = "form-control" })
            </div>
            <div class="col-lg-6" style="padding: 0px;">
                <label>Registration Start Time (Melbourne-time): <span class="redstar" style="color: red">*</span></label>
                @Html.TextBox("Conference Start Time", venue.ConferenceStartDate.TimeOfDay, new { id = "conferenceStartTime", type = "time", required = "required", @class = "form-control" })
            </div>
            <br />
        </div>
        <div class="row px-3">
            <div class="col-lg-6" style="padding-left: 0px;">
                <label>Registration End Date (dd/mm/yyyy): <span class="redstar" style="color: red">*</span></label>
                @Html.TextBox("Conference End Date", venue.ConferenceEndDate.ToString("yyyy-MM-dd"), new { id = "conferenceEndDate", type = "date", required = "required", @class = "form-control" })
            </div>
            <div class="col-lg-6" style="padding: 0px;">
                <label>Registration End Time (Melbourne-time): <span class="redstar" style="color: red">*</span></label>
                @Html.TextBox("Conference End Time", venue.ConferenceEndDate.TimeOfDay, new { id = "conferenceEndTime", type = "time", required = "required", @class = "form-control" })
                <br />
            </div>
        </div>

        <div id="venueMaxRegistrantsCheck" class="col-lg-12 alert alert-danger fa-border" style="display: none;"><strong>Please fill in Max Headcount.</strong><br /></div>
        <label>Max Headcount: <span class="redstar" style="color: red">*</span></label>
        @Html.TextBox("Max Registrants", venue.MaxRegistrants, new { id = "venueMaxRegistrants", min = "0", type = "number", @class = "form-control" })
        <br />
        <div class="row px-3">
            <div id="addMinMaxAgeCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Minimum age cannot be smaller than maximum age.</strong><br /></div>
            <div id="limitMinMaxAgeCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Minimum age must be >= 16 and maximum age must be <= 99.</strong><br /></div>
            <div class="col-lg-6" style="padding-left: 0px;">
                <label>Minimum age:</label>
                @Html.TextBox("MinAge", (int?)conf.PlanetKidsMinAge, new { type = "number", step = "1", min = "1", max = "99", @class = "form-control" })
            </div>
            <div class="col-lg-6" style="padding-left: 0px;">
                <label>Maximum age:</label>
                @Html.TextBox("MaxAge", (int?)conf.PlanetKidsMaxAge, new { type = "number", step = "1", min = "1", max = "99", @class = "form-control" })
            </div>
            <br />
        </div>
        <br />
        <label>Make Accessible (Open Registrations):</label>
        @if (conf.ShowConferenceOnWeb)
        {
            @Html.CheckBox("ShowConfOnWeb", new { id = "conferenceShowConfOnWeb", @checked = "checked" })
        }
        else
        {
            @Html.CheckBox("ShowConfOnWeb", new { id = "conferenceShowConfOnWeb" })
        }
        <br />
        <label>Trip Visibility:</label>
        @if (conf.Visibility == true)
        {
            @Html.CheckBox("Visibility", new { id = "conferenceVisibility", @checked = "checked" })
        }
        else
        {
            @Html.CheckBox("Visibility", new { id = "conferenceVisibility" })
        }
        <br />
        <br />
        @if (conf.Conference_ID == 0)
        {
            <div style="text-align: right">
                <button class="btn btn-primary" type="button" onclick="saveConferenceChanges()">Add Trip</button>
            </div>
        }
        else
        {
            <div style="text-align: right">
                <button class="btn btn-primary" type="button" onclick="saveConferenceChanges()">Save Changes</button>
                <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#deleteConfModal_@conf.Conference_ID">Delete</button>
            </div>
        }
    </form>
</div>

<div id="deleteConfModal_@conf.Conference_ID" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Confirmation</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete trip?</p>

                <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-dark" type="button" onclick="deleteConference(@conf.Conference_ID)">Yes</button>
            </div>
        </div>
    </div>
</div>
<br />
