﻿@model Planetshakers.Events.Models.FundingGoalViewModel

@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="modal-header">

    <h3>Funding Milestones</h3>
    <br />
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <table id="FundingGoalTable" style="width: 100%;" class="table table-bordered">
        <thead class="table-active">
            <tr>
                <td>Due</td>
                <td>Cumulative Total (AUD)</td>
                <td>Date</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model.FundingGoalList)
            {
                <tr id="FundingGoal_@v.ID">
                    <td>@v.Milestone</td>
                    <td>$@v.CumulativeTotal.ToString("0.00")</td>
                    <td>@v.DueDate.ToString("dd/MM/yyyy")</td>
                    <td><button class="btn btn-primary" onclick="EditFG(@v.ID)">Edit</button></td>
                    <td><button class="btn btn-danger" onclick="DeleteFG(@v.ID)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary" onclick="AddFG(@Model.RegistrationType_ID)">Add</button>
        </div>
    </div>

    <div id="FgEditingSection" style="display: none">
        <hr>
        <div class="row">
            <input type="hidden" value="0" id="FundingGoalIdVal" />
            <input type="hidden" value="0" id="RegistrationTypeIdVal" />
            <div class="col-lg-12" style="margin-bottom: 10px">
                <label>Due:</label>
                <input type="text" id="MilestoneVal" class="form-control" />
            </div>
            <div class="col-lg-12" style="margin-bottom: 10px">
                <label>Cumulative Amount:</label>
                <input type="text" id="AmountVal" class="form-control" />
            </div>
            <div class="col-lg-12" style="margin-bottom: 10px">
                <label>Date:</label>
                <input type="date" id="DueDateVal" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 10px">
                <button class="btn btn-primary" id="FgEditBtn" onclick="SaveChanges()">Add</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function AddFG(id) {
        $("#FgEditBtn").html("Add")
        $("#MilestoneVal").val("")
        $("#AmountVal").val("")
        $("#DueDateVal").val("")
        $("#FundingGoalIdVal").val(0)
        $("#RegistrationTypeIdVal").val(id)
        $("#FgEditingSection").show()
    }

    function EditFG(id) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Setup/PullFundingGoal",
            data: { "FundingGoal_ID": id },
            success: function (json) {
                var date = new Date(parseInt(json.DueDate.substr(6)));
                var datestring = ""
                datestring += date.getFullYear() + "-";
                if (date.getMonth() + 1 < 10) {
                    datestring += "0" + (date.getMonth() + 1) + "-";
                } else {
                    datestring += (date.getMonth() + 1) + "-";
                }
                if (date.getDate() < 10) {
                    datestring += "0" + date.getDate() ;
                } else {
                    datestring += date.getDate()
                }
                console.log(datestring)
                $("#FgEditBtn").html("Update")
                $("#MilestoneVal").val(json.Milestone)
                $("#AmountVal").val(json.Amount)
                $("#DueDateVal").val(datestring)
                $("#FundingGoalIdVal").val(id)
                $("#RegistrationTypeIdVal").val(json.RegistrationType_ID)
                $("#FgEditingSection").show()
            },
            error: function () {
                alert("Error when editing/adding funding goal.");
            }
        });
    }

    function SaveChanges() {
        var Milestone = $("#MilestoneVal").val();
        var Amount = $("#AmountVal").val();
        var date = $("#DueDateVal").val();
        var fundingGoalID = $("#FundingGoalIdVal").val();
        var RegistrationTypeID = $("#RegistrationTypeIdVal").val();
        $.ajax({
            cache: false,
            type: "POST",
            url: "/Setup/AddEditFundingGoal",
            data: { "FundingGoal_ID": fundingGoalID, "RegistrationType_ID": RegistrationTypeID, "Milestone": Milestone, "Amount": Amount, "DueDate": date },
            success: function (json) {
                alert(json.message)
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/SetUp/OpenFundingGoalModel",
                    data: { "RegistrationType_ID": RegistrationTypeID },
                    success: function (html) {
                        $("#FundingGoalModal").modal("show")
                        $("#FundingGoalModalContent").html(html)
                    },
                    error: function () {
                        alert("Error reloading modal.");
                    }
                });
            },
            error: function () {
                alert("Error when editing/adding funding goal.");
            }
        });
    }

    function DeleteFG(id) {
        if (confirm('Are you sure you want to this delete this Funding Milestone?')) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "/SetUp/DeleteFundingGoal",
                data: { "FundingGoal_ID": id },
                success: function (html) {
                    alert("Milestone Deleted.")
                    $("#FundingGoal_" + id).remove();
                },
                error: function () {
                    alert("Error deleting milestone.");
                }
            });
        } 
    }
</script>
