﻿@model Planetshakers.Events.Models.RegistrationTypeViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<table id="regoTypeDisplayTable" style="width: 100%;" class="table table-bordered">
    <thead class="table-active">
        <tr style="text-align: center">
            <td>Registration Type</td>
            @if (Model.RegistrationTypesList.Count != 0)
            {
                <td>Cost (@Model.RegistrationTypesList.First().Currency)</td>
            }
            else
            {
                <td>Cost</td>
            }
            <td>Start Date</td>
            <td>End Date</td>
            <td>Funding Milestones</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    @foreach (var v in Model.RegistrationTypesList)
    {
        <tr id="regoTypeRow_@v.RegistrationTypeID" style="text-align: center">
            <td id="regoTypeNameData_@v.RegistrationTypeID">@v.RegistrationTypeName</td>
            <td id="regoCostData_@v.RegistrationTypeID">@v.RegistrationCost.ToString("0.00")</td>
            <td id="regoStartDateData_@v.RegistrationTypeID">@v.StartDate</td>
            <td id="regoEndDateData">@v.EndDate</td>
            @if (v.hasFundingGoal)
            {
                <td><button onclick="EditFundingGoal(@v.RegistrationTypeID)" class="btn btn-primary">Edit</button></td>
            }
            else
            {
                <td><button onclick="EditFundingGoal(@v.RegistrationTypeID)" class="btn btn-warning">Add</button></td>
            }
            <td>
                <button id="edit_@v.RegistrationTypeID" onclick="editRegoTypeBtn(@v.RegistrationTypeID)" class="btn btn-primary" data-toggle="modal" data-target="#editregistration_@v.RegistrationTypeID">
                    Edit
                </button>
                <div id="editregistration_@v.RegistrationTypeID" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog" style="text-align: left">

                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5>Edit Registration Type</h5>
                                <button id="close_modaledit" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="editRegisterTypeForm" class="form-group">
                                    <div class="row mx-2">
                                        <div class="col-lg-12">
                                            <div id="editRegoNameCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please enter Registration Type Name.</strong><br /></div>

                                            <label>Registration Type Name: <span class="redstar" style="color: red">*</span></label>
                                            @Html.TextBox("RegoType", v.RegistrationTypeName, new { required = "required", maxlength = "100", id = "editRegoTypeName_" + v.RegistrationTypeID, @class = "form-control" })
                                            <br />
                                            <div id="editRegoLimitCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please enter the max capacity.</strong><br /></div>
                                            <label>Max Capacity: <span class="redstar" style="color: red">*</span></label>
                                            @Html.TextBox("RegoLimit", v.Limit, new { required = "required", type = "number", step = "1", min = "0", id = "editRegoLimit_" + v.RegistrationTypeID, @class = "form-control" })
                                            <br />
                                            <div id="editRegoCostCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please enter the cost.</strong><br /></div>
                                            <label>Registration Cost (@v.Currency): <span class="redstar" style="color: red">*</span></label>
                                            @Html.TextBox("RegoCost", v.RegistrationCost, new { required = "required", type = "number", step = ".01", min = "1.00", id = "editRegoCost_" + v.RegistrationTypeID, @class = "form-control" })
                                            <br />
                                            <div id="editRegoDateCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please enter Registration Type Date.</strong><br /></div>
                                            <div id="editRegoDateSequenceCheck" class="alert alert-danger fa-border" style="display: none;"><strong>End Date cannot be smaller than Start Date!</strong><br /></div>

                                        </div>
                                    </div>
                                    <div class="row mx-2">
                                        <div class="col-lg-6">
                                            <label>Start Date:  <span class="redstar" style="color: red">*</span></label>
                                            @Html.TextBox("StartDate", v.StartDate.ToString("yyyy-MM-dd"), new { required = "required", type = "date", id = "editStartDate_" + v.RegistrationTypeID, @class = "form-control" })
                                        </div>
                                        <div class="col-lg-6">
                                            <label>Start Time:</label>
                                            @Html.TextBox("StartTime", v.StartDate.TimeOfDay, new { required = "required", type = "time", id = "editStartTime_" + v.RegistrationTypeID, @class = "form-control" })
                                        </div>
                                        <div class="col-lg-6">
                                            <label>End Date: <span class="redstar" style="color: red">*</span></label>
                                            @Html.TextBox("EndDate", v.EndDate.ToString("yyyy-MM-dd"), new { required = "required", type = "date", id = "editEndDate_" + v.RegistrationTypeID, @class = "form-control" })
                                        </div>
                                        <div class="col-lg-6">
                                            <label>End Time:</label>
                                            @Html.TextBox("EndTime", v.EndDate.TimeOfDay, new { required = "required", type = "time", id = "editEndTime_" + v.RegistrationTypeID, @class = "form-control" })
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row mx-2">
                                        @*
                                            <div class="col-lg-12">

                                                <label>College Registration Type:</label>
                                                @if (v.IsCollegeRegoType)
                                                {
                                                    @Html.CheckBox("IsCollegeRego", new { @checked = "checked", id = "editIsCollegeRegoType_" + v.RegistrationTypeID })
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("IsCollegeRego", new { value = v.IsCollegeRegoType, id = "editIsCollegeRegoType_" + v.RegistrationTypeID })
                                                }
                                            </div>*@
                                        <div class="col-lg-12">
                                            <label>Deposit at Application:</label>
                                            @if (v.ApplicationRegoType)
                                            {
                                                @Html.CheckBox("IsApplicationRego", new { @checked = "checked", id = "editApplicationRegoType_" + v.RegistrationTypeID })
                                            }
                                            else
                                            {
                                                @Html.CheckBox("IsApplicationRego", new { value = v.ApplicationRegoType, id = "editApplicationRegoType_" + v.RegistrationTypeID })
                                            }
                                        </div>
                                        <div class="col-lg-12">
                                            <label>Add On Registration Type:</label>
                                            @if (v.AddOnRegistrationType)
                                            {
                                                @Html.CheckBox("IsAddonRego", new { @checked = "checked", id = "editAddOnRegoType_" + v.RegistrationTypeID })
                                            }
                                            else
                                            {
                                                @Html.CheckBox("IsAddonRego", new { value = v.AddOnRegistrationType, id = "editAddOnRegoType_" + v.RegistrationTypeID })
                                            }
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row mx-1">
                                        <div class="col-lg-12" id="MultiSelQuestion_@v.RegistrationTypeID">
                                            <label>Include Questions:</label>
                                            <select id='QuestionSelected_@v.RegistrationTypeID' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'></select>
                                        </div>
                                        <br />
                                        <div class="col-lg-12" id="MultiSelDoc_@v.RegistrationTypeID">
                                            <label>Include Document Type:</label>
                                            <select id='DocSelected_@v.RegistrationTypeID' class='form-control' multiple='multiple' data-live-search='true' data-style='multi-select-btn'></select>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row mx-1">
                                        <div class="col-lg-12">
                                            <button class="btn btn-primary" onclick="editRegoType(@v.RegistrationTypeID)">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td><button id="regoDeleteData_@v.RegistrationTypeID" class="btn btn-danger" onclick="deleteRegoType(@v.RegistrationTypeID)">Delete</button></td>
        </tr>
    }
</table>

<br />

<div class="row">
    <div class="col-lg-2">
        <button id="addregistrationtype" class="btn btn-primary btn-block" style="top: 10px;" data-toggle="modal" data-target="#addregistration">Add Rego Type</button>
    </div>
    <div class="col-lg-2"><button id="sortbutton" class="btn btn-primary btn-block" onclick="clickSortRego()">Sort Order</button></div>
</div>
<div id="addregistration" class="modal fade text-black-100" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Add Registration Type</h5>
                <button id="close_modaladd" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="addRegisterTypeForm" class="form-group">
                    <div class="row mx-1">
                        <div class="col-lg-12">
                            <div id="addRegoNameCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please enter Registration Type Name.</strong></div>
                            <div id="sameRegoNameCheck" class="alert alert-danger fa-border" style="display: none;"><strong>This registration type name exist already.</strong></div><br />
                            <label>Registration Type Name:</label>
                            @Html.TextBox("RegoType", null, new { required = "required", maxlength = "100", @class = "form-control" })
                            <br />
                            <div id="addRegoLimitCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please enter Registration Type Limit.</strong><br /></div>
                            <label>Registration Limit:</label>
                            @Html.TextBox("RegoLimit", null, new { required = "required", type = "number", step = "1", min = "0", @class = "form-control" })
                            <br />

                            <div id="addRegoCostCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please enter Registration Type Cost.</strong><br /></div>
                            <label>Registration Cost:</label>
                            @Html.TextBox("RegoCost", null, new { required = "required", type = "number", step = ".01", min = "1.00", @class = "form-control" })
                            <br />
                            <div id="addRegoDateCheck" class="alert alert-danger fa-border" style="display: none;"><strong>Please enter Registration Type Date.</strong><br /></div>
                            <div id="addRegoDateSequenceCheck" class="alert alert-danger fa-border" style="display: none;"><strong>End Date cannot be smaller than Start Date!</strong><br /></div>

                        </div>
                    </div>
                    <div class="row mx-1">
                        <div class="col-lg-6">
                            <label>Registration Start Date:</label>
                            @Html.TextBox("StartDate", null, new { required = "required", type = "date", @class = "form-control" })
                        </div>
                        <div class="col-lg-6">
                            <label>Start Time:</label>
                            @Html.TextBox("StartTime", null, new { required = "required", type = "time", @class = "form-control" })
                        </div>
                        <div class="col-lg-6">
                            <label>Registration End Date:</label>
                            @Html.TextBox("EndDate", null, new { required = "required", type = "date", @class = "form-control" })
                        </div>
                        <div class="col-lg-6">
                            <label>End Time:</label>
                            @Html.TextBox("EndTime", null, new { required = "required", type = "time", @class = "form-control" })
                            <br />
                        </div>
                        <br />
                    </div>
                    <div class="row mx-1">
                        <div class="row mx-2">
                            @*<div class="col-lg-12">
                                <label>College Registration Type:</label>
                                @Html.CheckBox("IsCollegeRego", new { })
                            </div>*@
                            <div class="col-lg-12">
                                <label>Deposit at Application:</label>
                                @Html.CheckBox("IsApplicationRego", new { })
                            </div>
                            <div class="col-lg-12">
                                <label>Add On Registration Type:</label>
                                @Html.CheckBox("IsAddonRego", new { })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row mx-1">
                        <div class="col-lg-12">
                            <label>Include Questions: (Questions are referred as their short names)</label>
                            @Html.DropDownList("Question", Model.QuestionList, new { @class = "form-control", @id = "AddQuestionSelected", multiple = "multiple", @data_style = "multi-select-btn" })
                        </div>
                        <br />
                        <div class="col-lg-12">
                            <label>Include Document Type:</label>
                            @Html.DropDownList("DocType", Model.DocumentTypeList, new { @class = "form-control", @id = "AddDocSelected", multiple = "multiple", @data_style = "multi-select-btn" })
                        </div>
                    </div>
                    <br />
                    <div class="row mx-1">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" onclick="addRegistrationType()" style="padding-bottom: 10px;">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="FundingGoalModal" class="modal fade text-black-100" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="FundingGoalModalContent"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#AddQuestionSelected").selectpicker({
            noneSelectedText: ' Select Questions '
        });
        $("#AddDocSelected").selectpicker({
            noneSelectedText: ' Select Document Types '
        });
    })
    function EditFundingGoal(id) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "/SetUp/OpenFundingGoalModel",
            data: { "RegistrationType_ID": id },
            success: function (html) {
                $("#FundingGoalModal").modal("show")
                $("#FundingGoalModalContent").html(html)
            },
            error: function () {
                alert("Error when opening modal.");
            }
        });
    }
    function editRegoTypeBtn(id) {
        console.log(id)
        $.ajax({
            cache: false,
            type: "POST",
            url: "/SetUp/GetQuestionAndDoc",
            data: { "RegistrationType_ID": id },
            success: function (json) {
                $("#MultiSelQuestion_" + id).html(json.question)
                $("#MultiSelDoc_" + id).html(json.doc)

                $("#QuestionSelected_" + id).selectpicker({
                    noneSelectedText: ' Select Questions '
                });
                $("#DocSelected_" + id).selectpicker({
                    noneSelectedText: ' Select Document Types '
                });
            },
            error: function () {
                alert("Error when opening modal.");
            }
        });
    }

</script>
