﻿@using System.Data;
@model Planetshakers.Events.Models.BulkChangeRegoTypeViewModel
@{
    ViewBag.Title = "Bulk Transfer Conference Registration Type";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.setup.js")"></script>

<div class="row">

    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
@if (Model.Transferred)
{
    <div class="row mx-3">
        <div class="col-12">
            <div class="alert alert-success">
                <strong>Successfully transferred all registration to selected registration type.</strong>
            </div>
        </div>
    </div>
}
<div class="row mx-3">
    <div class="col-12">
        <h3>Selected Conference:</h3>
        <div class="card">
            <div class="card-body shadow">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.selectedConference.ConferenceName</td>
                            <td>@Model.selectedConference.ConferenceDate</td>
                            <td>@Model.selectedConference.ConferenceLocation</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@if (Model.selectedRegistrationType != null)
{
    <div class="row mx-3 my-4">
        <div class="col-12">
            <h3>Change all registrations' registration type from:</h3>
            <div class="card">
                <div class="card-body shadow">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Cost</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.selectedRegistrationType.RegistrationType</td>
                                <td>@Model.selectedRegistrationType.RegistrationCost.ToString("0.00")</td>
                                <td>@Model.selectedRegistrationType.StartDate.ToString("yyyy-MM-dd")</td>
                                <td>@Model.selectedRegistrationType.EndDate.ToString("yyyy-MM-dd")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div class="row mx-3 my-4">
    <div class="col-12">
        <h3>Transfer all registrations' registration type from:</h3>
        <div class="card">
            <div class="card-body shadow">
                @using (Html.BeginForm("GenerateRegistrations", "Setup", FormMethod.Post, new { id = "generateRegoForm" }))
                {
                    <div class="row">
                        <div class="col-9">
                            @Html.HiddenFor(x => Model.selectedConferenceID)
                            @Html.DropDownListFor(x => x.selectedRegistrationTypeID, Model.availableRegistrationTypeList, new { @class = "form-control" })
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary" type="submit" id="">Generate Registrations</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

@if (Model.selectedRegistrationType != null && Model.Transferred == false)
{
    <div class="row mx-3 my-4">
        <div class="col-12">
            <h3>Transfer all registrations' registration type to:</h3>
            <div class="card">
                <div class="card-body shadow">
                    @using (Html.BeginForm("TransferBulkRego", "Setup", FormMethod.Post, new { id = "checkInReportForm" }))
                    {
                        <div class="row">
                            <div class="col-9">
                                @Html.HiddenFor(x => Model.selectedConferenceID)
                                @Html.HiddenFor(x => Model.selectedRegistrationTypeID)
                                @Html.DropDownListFor(x => x.newRegistrationTypeID, Model.availableRegistrationTypeList, new { @class = "form-control" })
                            </div>
                            <div class="col-3">
                                <button class="btn btn-warning" type="button" id="transferBtn" data-toggle="modal" data-target="#transferConfirmation">Transfer</button>
                                <div class="modal fade" id="transferConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title">Transfer Confirmation</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure to transfer all registrations' registration type? (This action is irreversible.)
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Transfer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@if (Model.selectedRegistrationType != null && Model.Transferred == false)
{
    <div class="row mx-3 my-4">
        <div class="col-12">
            <h3>All registrations in "@Model.selectedRegistrationType.RegistrationType" registration type:</h3>
            <div class="card">
                <div class="card-body shadow">
                    <table class="table table-bordered" id="BulkRegoTransferTable">
                        <thead>
                            <tr>
                                <th>Contact ID</th>
                                <th>Full Name</th>
                                <th>Registration Date</th>
                                <th>Attended</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rego in Model.registrationList)
                            {
                                <tr>
                                    <td>@rego.ContactID</td>
                                    <td>@rego.FirstName @rego.LastName</td>
                                    <td>@rego.RegistrationDate.ToString("yyyy-MM-dd")</td>
                                    <td>
                                        @if (rego.Attended)
                                        {
                                            <i class="fa fa-check"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times"></i>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div class="row mx-3 my-4">
    <div class="col-12">
        <button class="btn btn-primary" onclick="window.location.href='/Setup/RegistrationType'">Back to registration type</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        if ($("#BulkRegoTransferTable").length > 0) {
            if (!$.fn.DataTable.isDataTable('#BulkRegoTransferTable')) {
                $('#BulkRegoTransferTable').DataTable({
                    fixedHeader: {
                        header: true,
                        footer: true
                    },
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": false,
                    "autoWidth": false,
                    "aaSorting": [],
                    scrollCollapse: true,
                    responsive: true,
                    paging: true,
                    language: {
                        search: "",
                        searchPlaceholder: "Search..."
                    }
                });
            }
        }

    });
</script>