﻿@using System.Data;
@model Planetshakers.Events.Models.ConferenceViewModel
@{
    ViewBag.Title = "Trip Set Up";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.setup.js")"></script>

<div class="row">

    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div>
    <div class="row mx-3">
        <div id="conferenceCheck" class="col-lg-12" style="display: none;">
            <div class="alert alert-danger fa-border"><strong>Please select a trip.</strong></div><br />
        </div>
        <div class="col-lg-9">
            <form class="form-group">
                <!-- select conference or event.-->
                <label>Trips:</label><br />
                @Html.DropDownListFor(m => m.SelectedConference, Model.event_list,
               "-- Select Trip --", new { required = "required", id = "selectedConference", @class="form-control" })
            </form>

        </div>
        
        <div class="col-lg-3 py-0 py-lg-4">
            <button class="btn btn-primary btn-block" onclick="generateConfDeets()" style="margin: 0px;">Select</button>
        </div>
        <div class="col-lg-3 py-2 py-lg-0">
            <button class="btn btn-primary btn-block" type="button" onclick="addConference()">Add New Trip</button>
        </div>
        <div id="conferenceViewResult" class="col-lg-12"></div>
        
        <div class="col-lg-9"></div>
    </div>
</div>
