﻿@using System.Data;
@model Planetshakers.Events.Models.RegistrationTypeViewModel
@{
    ViewBag.Title = "Registration Type";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@*<script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.setup.js")"></script>*@

<div class="row">

    <div class="col-lg-12 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>

</div>

<div>
    <div class="row mx-3 form-group">
        <div id="conferenceCheck" class="col-lg-12" style="display: none;">
            <div class="alert alert-danger fa-border"><strong>Please select a conference.</strong></div><br />
        </div>

        <div class="col-lg-9">
            <!-- select conference or event.-->
            <label>Trip:</label>
            @Html.DropDownListFor(m => m.SelectedConference, Model.event_list, "-- Select Trip --", new { required = "required", id = "selectedConference", @class = "form-control" })
        </div>
        <div class="col-lg-3" style="padding-top: 10px;">
            <button class="btn btn-primary my-3" onclick="generateRegotype()">Select</button>
        </div>
        <br />
        <div class="col-lg-12" id="addRegoTypeSuccess" style="display: none;">
            <div class="alert alert-success fa-border"><strong> Successfully added Registration Type.</strong><br /></div>
        </div>
        <div class="col-lg-12"  style="display: none;" id="editRegoSuccess">
            <div class="alert alert-success fa-border"><strong>Successfully edited Registration Type.</strong><br /></div>
        </div>
        <div id="regoTypeViewResult" class="col-lg-12"></div>

    </div>
    
</div>
        

