﻿@model Planetshakers.Events.Models.SignUpLinkViewModel
@{
    ViewBag.Title = "Trip Sign Up Links";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row mb-4">

    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="col-lg-12">
        <br />
        <h5>Sign Up link for each trip</h5><br />
        <div classs="card">
            <div class="card card-body">
                <table id="ConferenceTable" class="table table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th>Trip Name</th>
                            <th>Link</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var conf in Model.SignUpLinks)
                        {
                            <tr id="@conf.Event_ID">
                                <td>@conf.EventName</td>
                                <td>@Html.TextBox("url_" + conf.Event_ID, "missions.believeglobal.org/Events/Register/" + conf.Venue_ID, new { @class = "form-control", disabled = "disabled" })</td>
                                <td><button class="btn btn-primary" onclick="copyToClipboard(@conf.Event_ID)">Copy Link</button></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function copyToClipboard(Event_ID) {
        var str = $("#url_" + Event_ID).val()
        return new Promise(function (resolve, reject) {
            var success = false;
            function listener(e) {
                e.clipboardData.setData("text/plain", str);
                e.preventDefault();
                success = true;
            }
            document.addEventListener("copy", listener);
            document.execCommand("copy");
            document.removeEventListener("copy", listener);
            success ? resolve() : reject();
            alert("Copied link")
        });
    };
</script>

