﻿@model Planetshakers.Events.Models.SortOrderModel
@{
    ViewBag.Title = "Sort Trip";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row mb-4">

    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="col-lg-12">
        <br />
        <h5>Trips that appears on missions.believeglobal.org</h5>
        <h5>Please drag and drop trip item to re-order them.</h5><br />
        <div classs="card">
            <div class="card card-body">
                <table id="sortConferenceTable" class="table table-bordered" width="100%">
                    <thead>
                        <tr><th>Trip</th></tr>
                    </thead>
                    <tbody>
                        @foreach (var conf in Model.conf_list)
                        {
                            <tr id="@conf.Conference_ID"><td>@conf.ConferenceName</td></tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-9"></div>
    <div class="col-lg-3"><button class="btn btn-primary btn-block" onclick="sortOrder()">Save Order</button></div>
</div>

