﻿@using System.Data;
@model Planetshakers.Events.Models.TermsAndConditionsViewModel
@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@*<script type="text/javascript" src="@Url.Content("~/Scripts/planetshakers.events.setup.js")"></script>*@
<script>
    function generateTnC() {
        var event_ID = $("#selectedConference").val();
        $("#Event_ID").val(event_ID);
        $.ajax({
            cache: false,
            type: "POST",
            url: '/Setup/getTermsAndConditions',
            data: {
                "Event_ID": event_ID,
            },
            success: function (json) {
                $("#TermsAndConditionsContent").val(json.content);
                $("#TnCViewResult").css("display", "block");
            },
            error: function () {
                alert("Unable to get Terms and Conditions.");
            }
        });
    }

    function SaveTermsAndConditions() {
        var event_ID = $("#Event_ID").val();
        var content = $("#TermsAndConditionsContent").val();
        $("#SaveLoadingContent").html("<img src='/Content/images/loading.gif' />");
        $("#SaveLoadingModal").modal("show");
        $.ajax({
            cache: false,
            type: "POST",
            url: '/Setup/saveTermsAndConditions',
            data: {
                "Event_ID": event_ID,
                "Content": content,
            },
            success: function (json) {
                $("#SaveLoadingContent").html("Terms and Conditions saved!")
                setTimeout(
                    function () {
                        $("#SaveLoadingModal").modal("hide");
                    }, 500);                
            },
            error: function () {
                alert("Unable to save Terms and Conditions.");
            }
        });
    }

    function previewTnC() {
        var content = $("#TermsAndConditionsContent").val();
        $.ajax({
            cache: false,
            type: "POST",
            url: '/Setup/loadMarkDown',
            data: {
                "Content": content,
            },
            success: function (json) {
                $("#TermsAndConditionsPreviewModal").modal("show")
                $("#TnCpreviewContent").html(json.html)
               
            },
            error: function () {
                alert("Unable to preview Terms and Conditions.");
            }
        });
    }
</script>

<div class="row">

    <div class="col-lg-12 border-bottom">
        <h3>@ViewBag.Title</h3>
    </div>

</div>

<div>
    <div class="row mx-3 form-group">
        <div id="conferenceCheck" class="col-lg-12" style="display: none;">
            <div class="alert alert-danger fa-border"><strong>Please select a trip.</strong></div><br />
        </div>

        <div class="col-lg-9">
            <!-- select conference or event.-->
            <label>Trip:</label>
            @Html.DropDownList(" ", Model.event_list, "-- Select Trip --", new { required = "required", id = "selectedConference", @class = "form-control" })
        </div>
        <div class="col-lg-3" style="padding-top: 10px;">
            <button class="btn btn-primary my-3" onclick="generateTnC()">Select</button>
        </div>
        <br />
        <div class="col-lg-12" id="addRegoTypeSuccess" style="display: none;">
            <div class="alert alert-success fa-border"><strong> Successfully added Terms and Conditions.</strong><br /></div>
        </div>
        <div class="col-lg-12" id="editRegoSuccess"  style="display: none;">
            <div class="alert alert-success fa-border"><strong>Successfully edited Terms and Conditions.</strong><br /></div>
        </div>
        <div id="TnCViewResult" class="col-lg-12" style="display: none">
            <div class="row">
                <div class="col-lg-12">
                    <p>The textbox below takes content in markdown format. Please use this <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">link</a> as a reference to the format.</p>
                    <textarea class="form-control" style="height: 500px" id="TermsAndConditionsContent"></textarea>
                </div>
                <div class="col-lg-12">
                    <br />
                    @Html.Hidden("Event_ID", 0)
                    <button class="btn btn-primary" onclick="SaveTermsAndConditions()">Save</button>
                    <button class="btn btn-primary" onclick="previewTnC()">Preview</button>
                </div>
            </div>
        </div>
    </div>    
</div>

<div id="TermsAndConditionsPreviewModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div id="TermsAndConditionsPreviewContent">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Terms and Conditions Preview</h5><br />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12" id="TnCpreviewContent">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="SaveLoadingModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div>
            <div class="modal-content">                
                <div id="SaveLoadingContent" class="modal-body" style="text-align: center">
                    <img src="~/Content/images/loading.gif" />
                </div>                
            </div>
        </div>
    </div>
</div>
        

