﻿@model Planetshakers.Events.Models.TeamModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}
@Html.Hidden("Team_ID", Model.Team_ID)
<div class="row">
    <div class="col-lg-12">
        <label>Team Members: </label>

        <table id="MembersTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <td>Contact_ID</td>
                    <td>Full Name</td>
                    <td>Role</td>
                    <td>Added Date</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Members != null)
                {
                    foreach (var v in Model.Members)
                    {
                        <tr id="Member_@v.TeamContact_ID">
                            <td>@v.Contact_ID</td>
                            <td>@v.FirstName @v.LastName</td>
                            <td>@v.RoleString</td>
                            <td>@v.AddedDate.ToString("dd/MM/yyyy")</td>
                            @if (v.TeamRole.Any())
                            {
                                <td><button class="btn btn-primary" onclick="OpenEditRole(@v.TeamContact_ID)">Edit Role</button></td>
                            }
                            else
                            {
                                <td><button class="btn btn-primary" onclick="OpenAddRole(@v.TeamContact_ID)">Add Role</button></td>
                            }
                            <td><button class="btn btn-primary" onclick="RemoveMember(@v.TeamContact_ID)">Remove</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="OpenAddMember()">Add Member</button>
        <br />

    </div>
    <div class="col-lg-12" id="MultiSelMember" style="display: none">
        <hr />
        <label>Add Member</label>
        <br />
        <p>Please select individual(s) to add into this group:</p>
        @Html.DropDownList("newMembers", Model.PotentialMemberList, new { @class = "form-control", @id = "AddMemberSelected", multiple = "multiple", @data_style = "multi-select-btn" })
        <br />
        <button onclick="AddSelectedMembers()" class="btn btn-primary" style="margin-top: 10px">Add</button>
    </div>
    <div class="col-lg-12" id="EditorAddRole" style="display: none">
        <hr />
        <label id="TeamRoleDropTitle"></label>
        <br />
        <p>Select role(s) to add to this member:</p>
        <div id="RoleSelect">
            @Html.DropDownList("TeamRole", Model.TeamRoleList, new { @class = "form-control", @id = "TeamRoleSelected", multiple = "multiple", @data_style = "multi-select-btn" })
        </div>
        <button id="AddorEditRoleBtn" class="btn btn-primary" style="margin-top: 10px">Add or Edit</button>
        @*<button id="DeleteRoleBtn" class="btn btn-danger" style="margin-top: 10px">Delete</button>*@
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#AddMemberSelected").selectpicker({
            noneSelectedText: ' Select Members '
        });
        $("#TeamRoleSelected").selectpicker({
            noneSelectedText: ' Select Roles '
        });
    })
    function OpenEditRole(TeamContact_ID) {
        //need to pull existing roles into dropdown
        $("#MultiSelMember").hide();
        $("#EditorAddRole").show();
        $("#TeamRoleDropTitle").html("Edit Role")
        $("#AddorEditRoleBtn").html("Edit Role")
        $("#AddorEditRoleBtn").attr("onclick", "clickAddEditTeamRoleBtn(" + TeamContact_ID + ", " + true + ")")
        $.ajax({
            cache: false,
            async: false,
            type: "POST",
            url: '/Teams/getExistingRoles',
            data: {
                "TeamContact_ID": TeamContact_ID,
            },
            success: function (json) {
                $("#RoleSelect").html(json.html)
                $("#TeamRoleSelected").selectpicker({
                    noneSelectedText: ' Select Roles '
                });
            },
            error: function () {
                alert("Unable to retrieve data.");
            }
        });
    }
    function OpenAddRole(TeamContact_ID) {
        $("#MultiSelMember").hide();
        $("#EditorAddRole").show();
        $("#TeamRoleDropTitle").html("Add Role")
        $("#AddorEditRoleBtn").html("Add Role")
        $("#AddorEditRoleBtn").attr("onclick", "clickAddEditTeamRoleBtn(" + TeamContact_ID + ", " + false + ")")
        $('#TeamRoleSelected').selectpicker('deselectAll');
    }
    
    function clickAddEditTeamRoleBtn(TeamContact_ID, isEdit) {
        var addList = $("#TeamRoleSelected").val();
        var roleList = [];
        for (let i = 0; i < addList.length; i++) {
            roleList.push(addList[i])
        }
        $.ajax({
            cache: false,
            async: false,
            type: "POST",
            url: '/Teams/AddEditMemberRole',
            data: {
                "TeamRole_IDs": roleList,
                "TeamContact_ID": TeamContact_ID,
            },
            success: function (json) {
                if (isEdit) {
                    alert("Team Role edited!")
                    $("#showMemberBtn_" + json.Team_ID).click();
                } else {
                    alert("Team Role added!")
                    $("#showMemberBtn_" + json.Team_ID).click();
                }
            },
            error: function () {
                if (isEdit) {
                    alert("Unable to edit role.")
                } else {
                    alert("Unable to add role.");
                }
            }
        });
    }
    function OpenAddMember() {
        $("#MultiSelMember").show();
        $("#EditorAddRole").hide();
    }
    function AddSelectedMembers() {
        var Team_ID = $("#Team_ID").val()
        var addList = $("#AddMemberSelected").val();
        var MemberList = [];
        for (let i = 0; i < addList.length; i++) {
            MemberList.push(addList[i])
        }
        if (addList.length <= 0) {
            alert("Please select individual(s) to add.")
        } else {
            $.ajax({
                cache: false,
                async: false,
                type: "POST",
                url: '/Teams/AddMember',
                data: {
                    "Team_ID": Team_ID,
                    "MemberList": MemberList
                },
                success: function (json) {
                    //$("#MultiSelMember").hide();
                    alert("Members added!")
                    $("#showMemberBtn_" + Team_ID).click();
                },
                error: function () {
                    alert("Unable to add member(s).");
                }
            });
        }
    }
    function RemoveMember(TeamContact_ID) {
        $.ajax({
            cache: false,
            async: false,
            type: "POST",
            url: '/Teams/RemoveMember',
            data: {
                "TeamContact_ID": TeamContact_ID,
            },
            success: function (json) {
                console.log(json)
                $("#Member_" + TeamContact_ID).remove();
                alert("Member removed.")
                $("#showMemberBtn_" + json.Team_ID).click();
            },
            error: function () {
                alert("Unable to remove member.");
            }
        });
    }
</script>

