﻿@model Planetshakers.Events.Models.TeamRole
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <h3 id="TeamModalTitle">Edit or Add Team</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-lg-12">
                <label>Team Role Name</label>
                <span style="color: red;">*</span>
                @Html.TextBoxFor(m => m.TeamRoleName, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <label>Active: </label>
                @Html.CheckBoxFor(m => m.Active, new { })
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button id="AddEditBtn" class="btn btn-primary" onclick="AddorEditTeam()">Add Team</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
    </div>
</div>

<script>
    

    function AddTeamRole() {
        var TeamName = $("#TeamRoleName").val()
        var Active = document.getElementById("Active").checked;
        $.ajax({
            cache: false,
            type: "POST",
            url: '/Teams/AddTeamRole',
            data: {
                "Name": TeamName,
                "Active": Active
            },
            success: function (json) {
                $("#TeamRoleModal").modal("hide")
                alert("Team Role added!")
                window.location.reload();
                //$("#GenerateEventTeamBtn").click()
            },
            error: function () {
                alert("Unable to add team.");
            }
        });
    }
    function EditTeamRole(TeamRole_ID) {
        var TeamName = $("#TeamRoleName").val()
        var Active = document.getElementById("Active").checked;
        $.ajax({
            cache: false,
            type: "POST",
            url: '/Teams/EditTeamRole',
            data: {
                "TeamRole_ID": TeamRole_ID,
                "Name": TeamName,
                "Active": Active
            },
            success: function (json) {
                $("#TeamRoleModal").modal("hide")
                alert("Team Role details edited!")
                window.location.reload();
                //$("#GenerateEventTeamBtn").click()
            },
            error: function () {
                alert("Unable to edit team.");
            }
        });
    }
</script>

