﻿@model Planetshakers.Events.Models.TeamModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}
<div class="modal-content">
    <div class="modal-header">
        <h3 id="TeamModalTitle">Edit or Add Team</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-lg-12">
                <label>Team Name</label>
                <span style="color: red;">*</span>
                @Html.TextBoxFor(m => m.TeamName, new { @class = "form-control", required = "required" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <label>Inactive: </label>
                @Html.CheckBoxFor(m => m.Inactive, new { })
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button id="AddEditBtn" class="btn btn-primary" onclick="AddorEditTeam()">Add Team</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
    </div>
</div>

<script>
    

    function AddTeam() {
        var TeamName = $("#TeamName").val()
        var Event_ID = $("#Event_ID").val()
        var Inactive = document.getElementById("Inactive").checked;
        $.ajax({
            cache: false,
            type: "POST",
            url: '/Teams/addTeam',
            data: {
                "TeamName": TeamName,
                "Event_ID": Event_ID,
                "Inactive": Inactive
            },
            success: function (json) {
                $("#TeamDetailModal").modal("hide")
                alert("Team added!")
                $("#GenerateEventTeamBtn").click()
            },
            error: function () {
                alert("Unable to add team.");
            }
        });
    }
    function EditTeam(Team_ID) {
        var TeamName = $("#TeamName").val()
        var Event_ID = $("#Event_ID").val()
        var Inactive = document.getElementById("Inactive").checked;
        $.ajax({
            cache: false,
            type: "POST",
            url: '/Teams/editTeam',
            data: {
                "Team_ID": Team_ID,
                "Event_ID": Event_ID,
                "TeamName": TeamName,
                "Inactive": Inactive
            },
            success: function (json) {
                $("#TeamDetailModal").modal("hide")
                alert("Team details edited!")
                $("#GenerateEventTeamBtn").click()
            },
            error: function () {
                alert("Unable to edit team.");
            }
        });
    }
</script>

