﻿@model Planetshakers.Events.Models.TeamSearchViewModel
@{
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<br />
@Html.Hidden("Event_ID", Model.SelectedConferenceID)
<table id="SearchResultTable" style="width: 100%;" class="table table-bordered">
    <thead class="table-active">
        <tr>
            <td>Team_ID</td>
            <td>Team Name</td>
            <td>Active</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.SearchResult)
        {
            <tr id="@v.Team_ID">
                <td>@v.Team_ID</td>
                <td>@v.TeamName</td>
                @if (v.Inactive)
                {
                    <td><span class="badge badge-pill badge-danger">Inactive</span></td>

                }
                else
                {
                    <td><span class="badge badge-pill badge-success">Active</span></td>

                }
                <td><button class="btn btn-primary" id="showMemberBtn_@v.Team_ID" onclick="ViewTeamMembers(@v.Team_ID)">Show Members</button></td>

                <td><button class="btn btn-primary" onclick="ViewTeamDetail(@v.Team_ID)">Edit Team Name</button></td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="col-lg-12">
    <button class="btn btn-primary" onclick="ViewTeamDetail(0)">Add Team</button>
</div>

<script type="text/javascript">

    function ViewTeamDetail(Team_ID) {
        var Event_ID = $("#Event_ID").val()
        $.ajax({
            cache: false,
            async: false,
            type: "POST",
            url: '/Teams/GetTeamDetails',
            data: {
                "Team_ID": Team_ID,
                "Event_ID": Event_ID,
            },
            success: function (json) {
                $("#TeamDetailContent").html(json);
                if (Team_ID == 0) {
                    $("#TeamModalTitle").html("Add Team")
                    $("#AddEditBtn").html("Add")
                    $("#AddEditBtn").attr("onclick", "AddTeam()")

                } else {
                    $("#TeamModalTitle").html("Edit Team")
                    $("#AddEditBtn").html("Update")
                    $("#AddEditBtn").attr("onclick", "EditTeam(" + Team_ID + ")")
                }
                $("#TeamDetailModal").modal("show")
            },
            error: function () {
                alert("Unable to retrieve data.");
            }
        });
    }
    function ViewTeamMembers(Team_ID, isCollege) {
        $.ajax({
            cache: false,
            async: false,
            type: "POST",
            url: '/Teams/GetTeamMemberDetails',
            data: {
                "Team_ID": Team_ID,
            },
            success: function (json) {
                $("#TeamMemberDetailsBody").html(json);
                $("#TeamMemberDetailModal").modal("show")
            },
            error: function () {
                alert("Unable to retrieve data.");
            }
        });
    }


    $(document).ready(function () {
        if ($("#SearchResultTable").length > 0) {
            $("#SearchResultTable").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                paging: true,
                "pageLength": 10,
                "lengthMenu": [10, 25, 50],
                info: false,
                cache: false,
                scrollCollapse: true,
                responsive: true,
                processing: true,
                searching: true,

                bAutoWidth: true,
            });

            $('#SearchResultTable_wrapper .col-md-7:eq(0)').addClass("d-flex justify-content-center justify-content-md-end");
            $('#SearchResultTable_paginate').addClass("mt-3 mt-md-2");
        }
    });

</script>