﻿@using System.Data;
@model Planetshakers.Events.Models.TeamRoleModel
@{
    ViewBag.Title = "Team Roles Management";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">
    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div>
    <div class="row mx-3">
        <table id="SearchResultTable" style="width: 100%;" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <td>TeamRole_ID</td>
                    <td>Team Role</td>
                    <td>Added Date</td>
                    <td>Active</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.RoleList)
                {
                    <tr id="@v.TeamRole_ID">
                        <td>@v.TeamRole_ID</td>
                        <td>@v.TeamRoleName</td>
                        <td>@v.AddedDate.ToString("dd/MM/yyyy")</td>
                        @if (v.Active)
                        {
                            <td><span class="badge badge-pill badge-success">Active</span></td>
                        }
                        else
                        {
                            <td><span class="badge badge-pill badge-danger">Inactive</span></td>
                        }

                        <td><button class="btn btn-primary" onclick="ViewTeamRoleDetail(@v.TeamRole_ID)">Edit</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="col-lg-12">
    <button class="btn btn-primary" onclick="ViewTeamRoleDetail(0)">Add Team Role</button>
</div>
<div id="TeamRoleModal" class="modal fade text-black-100" aria-labelledby="teamrole" tab-index="-1" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="TeamRoleModalContent">

        </div>
    </div>
</div>
<script>
    function ViewTeamRoleDetail(TeamRole_ID) {
        $.ajax({
            cache: false,
            async: false,
            type: "POST",
            url: '/Teams/getTeamRoleDetails',
            data: {
                "TeamRole_ID": TeamRole_ID,
            },
            success: function (json) {
                $("#TeamRoleModalContent").html(json);
                if (TeamRole_ID == 0) {
                    $("#TeamModalTitle").html("Add Team Role")
                    $("#AddEditBtn").html("Add")
                    $("#AddEditBtn").attr("onclick", "AddTeamRole()")

                } else {
                    $("#TeamModalTitle").html("Edit Team Role")
                    $("#AddEditBtn").html("Update")
                    $("#AddEditBtn").attr("onclick", "EditTeamRole(" + TeamRole_ID + ")")
                }
                $("#TeamRoleModal").modal("show")
            },
            error: function () {
                alert("Unable to retrieve data.");
            }
        });
    }
</script>
