﻿@using System.Data;
@model Planetshakers.Events.Models.TeamSearchViewModel
@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    <div class="col-lg-12 border-bottom expanded">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<div>
    <div class="row mx-3">
        <div id="conferenceCheck" class="col-lg-12" style="display: none;">
            <div class="alert alert-danger fa-border"><strong>Please select an trip.</strong></div><br />
        </div>
        <div class="col-lg-12">
            <!-- select conference or event.-->
            <label>Trips:</label><br />
            @Html.DropDownListFor(m => m.SelectedConference, Model.event_list,
           "-- Select Trip --", new { required = "required", id = "selectedConference", @class = "form-control" })
        </div>
        <br />
        <br />

        <div class="col-lg-3 py-0 py-lg-4" style="text-align: right">
            <button class="btn btn-primary btn-block" onclick="generateEventTeams()" style="margin: 0px;" id="GenerateEventTeamBtn">Select</button>
        </div>

        <div id="conferenceViewResult" class="col-lg-12"></div>

        

        <div id="TeamDetailModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div id="TeamDetailContent"></div>
            </div>
        </div>

        <div id="TeamMemberDetailModal" class="modal fade text-black-100" aria-labelledby="editrego" tab-index="-1" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Team Members</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="TeamMemberDetailsBody">
                            <p>details...</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    
    function generateEventTeams() {
        var conference = $("#selectedConference").val();

        if (conference == "" || conference == null) {
            $("#conferenceCheck").show();
            return false;
        }
        else {
            $("#conferenceCheck").hide();
            $.ajax({
                cache: false,
                async: false,
                type: "POST",
                url: '/Teams/SearchTeam',
                data: {
                    "Event_ID": conference,
                },
                success: function (json) {
                    $("#conferenceViewResult").html(json);
                },
                error: function () {
                    alert("Finding not successful.");
                }
            });
        }
    };

</script>
