﻿@model Planetshakers.Events.Models.RegistrationConfirmationEmailModel
@using Planetshakers.Events.Controllers;
@{
	Layout = null;
}

<table cellpadding="0" cellspacing="0" border="0" style="width:770px;border:solid 2px black;margin:0px auto 0px auto"><tbody>
	<tr>
		<td>
			@*<img src="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/Content/themes/planetshakers/img/email_header.png")" alt="Planetshakers">
			<img src="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/Content/themes/planetshakers/img/email_registration_banner.jpg")"" alt="Header" style="width:770px;min-height:185px">*@
			@*<img src="@Url.Content("/Content/images/logo-planetshakers.png")" alt="" style="max-height:21px;" />*@                  
			<img src="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/Content/images/logo-planetshakers.png")" alt="Header" style="height:21px;">
			<br>
			<br>
			<table cellspacing="0" cellpadding="3" style="width:700px;margin-left:20px"><tbody>
				<tr>
					<td>
						<span>Registration Confirmation</span>
					</td>
				</tr>
				<tr>
					<td>
						<br>
						<br>
						Dear @Model.FullName,<br>
						<br>
						Thank you! Your registration has been received for a course enrolment. <strong>@Model.Event.name</strong>
						<br>
						Please print this page as your tax invoice.<br>
						<br>
						<table cellspacing="0" cellpadding="3" width="700">
							<tbody><tr>
								<td colspan="2">
									<span>TAX INVOICE<br>
								</td>
							</tr>
						</tbody></table>			                    
							<br>                             
							<table cellspacing="0" cellpadding="3" width="700" style="border:solid 1px black">					                <tbody><tr>
								<td width="120" style="padding-left:10px"><strong>Reference Number</strong></td>
								<td width="500"><strong>Item</strong></td>
								<td width="80" style="Padding-Right:0px;"><strong>Cost</strong></td>
							</tr>
							@foreach (RegistrationConfirmationItem item in Model.Items)
							{
								<tr>
									<td style="padding-left:10px">@(item.reference_number)</td>    
									<td>@(item.reg_name)</td>
									<td align="Right"  ><strong>$</strong>@(Model.Event.currency) @(item.price)</td>
								</tr>
							}
							<tr>
								<td colspan="3">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="2" style="padding-left:10px;"><strong>Total registration amount:</strong></td>
								<td align="Right"  ><strong>$</strong><strong>@(Model.Event.currency) @(Model.GrandTotal)</strong></td>
							</tr>
						</tbody></table><br>
						<br>
						<table cellspacing="0" cellpadding="3" border="0" width="700">
							<tbody><tr>
								<td width="700">
									<span>Please Note:</span>
								</td>
							</tr>
							<tr>
								<td width="700">
									<strong>GST</strong>: The registration price does not include GST as this event is 
									considered a 'religious service'. Should you require a tax invoice for your 
									records, please print this page.<br>
									<br>
									<strong>Refunds</strong>: No refunds will be paid on registrations however you may transfer your 
									registration to another person. The Planetshakers office must be advised in 
									writing of all transfers of registrations and they may incur an administration 
									fee.<br>
									<br>
									<strong>Changes:</strong> If you wish to make any changes to this registration, including change of venue, please email us <a href="mailto:conference@planetshakers.com" target="_blank">conference@planetshakers.com</a> or call us on 1300 88 33 21.<br>
									<br>
								</td>
							</tr>
						</tbody></table>
						<br>
						<br>
						<div style="text-align:center">
							<strong>Planet Shakers Ministries International ABN 79 480 989 066</strong><br>
							<strong>PO Box 5171, South Melbourne Vic 3205&nbsp;&nbsp;&nbsp;PHONE: 1300 88 33 21&nbsp;&nbsp;&nbsp;FAX: (03) 9830 7683</strong><br>
							<br>
						</div>
					</td>
				</tr>
			</tbody></table>
		</td>
	</tr>
</tbody></table>