﻿@model Planetshakers.Events.Models.VolunteerRegistrationConfirmationItem
@using Planetshakers.Events.Models;
@{
    Layout = null;
}

<table cellpadding="0" cellspacing="0" border="0" style="width:770px;border:solid 2px black;margin:0px auto 0px auto"><tbody>
    <tr>
        <td>
            <br>
			<br>
			<table cellspacing="0" cellpadding="3" style="width:700px;margin-left:20px"><tbody>
                <tr>
					<td>
						<span>Volunteer Registration Confirmation</span>
					</td>
				</tr>
				<tr>
					<td>
					    <br>
					    <br>
					    Hello,<br>
					    <br>
					    A Volunteer Application has been received for @Model.Name and is attached to this mail.</strong>					    					    
                        <br>
                        <br>
                        <br>
	                     <div style="text-align:center">
				            <strong>Planet Shakers Ministries International ABN 79 480 989 066</strong><br>
				            <strong>PO Box 5171, South Melbourne Vic 3205&nbsp;&nbsp;&nbsp;PHONE: 1300 88 33 21&nbsp;&nbsp;&nbsp;FAX: (03) 9830 7683</strong><br>
				            <br>
				        </div>
				    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>

</tbody></table>